<a href="https://colab.research.google.com/github/MingukShim/Python/blob/main/submission/MingukShim/ch01_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print(Hello world) # 문자열을 입력할 때는 "감싸줘야됨!!" # alt+enter(셀을 실행시키도록 하단에 새로운 코드 셀을 만들어줌)

SyntaxError: ignored

In [3]:
print("hello World") # print(함수의 일종; 입력한 값(숫자, 문자열)을 출력해주는 역할)

hello World

In [4]:
# (ctrl+m)+b : (셀을 실행시키지 않고) 현재 셀의 하단에 새로운 코드 셀을 만들어줌.
# colab은 '리눅스' 환경에서 작동함. 리눅스: 터미널(입력창)을 통해서 명령어로 작동하는 OS like 윈도우, 안드로이드
# 리눅스의 어떤 특정한 기능을 하기 위해서는 (1) 터미널에 (2) 명령어를 넣어야 한다.
# !를 앞에 붙이고 나면, 리눅스의 터미널(커널)의 명령어를 사용할 수 있음.
!python --version

Python 3.8.10

In [9]:
# 파이썬은 세미콜론을 안써도 된다. 쓴다해도 버그가 나진 않음. # 웬만하면 "쓰기
print("Ditto") # 특정한 행을 위 아래로 복제하고 싶다 -> alt=+shift+위아래 방향키)
print("omg") # 특정한 행을 위 아래로 복제하고 싶다 -> alt=+shift+위아래 방향키)
print("Ditto") # 특정한 행을 위 아래로 복제하고 싶다 -> alt=+shift+위아래 방향키)
print("omg") # 특정한 행을 위 아래로 복제하고 싶다 -> alt=+shift+위아래 방향키) alt+방향키: 줄바꿈
# ctrl+ a: 전체 지정
# end : 특정 행의 끝으로 간다. ->shift(범위 지정, 블록지정)->home : 특정행의 시작
print("Ditto") # 특정한 행을 위 아래로 복제하고 싶다 -> alt=+shift+위아래 방향키)
print("뉴진스"); print("르세라핌") # ; 세미콜론이 있으면 다른 줄로 인식

Ditto
omg
Ditto
omg
Ditto
뉴진스
르세라핌

In [10]:
# 을 입력하고 뒤에 내용을 입력하면->한 줄 주석
# 주석으로 지정하는 단축키 : ctrl + /
print("주석") # 코드 뒤에 주석이 있어도 실행 영향 x
# print("주석2") # 실행이 안됨

주석

In [11]:
'''
여러줄 주석을 할 때는
"""을 입력하세요

SyntaxError: ignored

In [13]:
# 문자열을 입혁할 때 외부에 ''로 감쌌으면, 안에 작은 따옴표를 넣으면 x
# 굳이 넣고 싶다-> W를 넣어서 escape시켜서 처리해야함.

In [14]:
a = 1
if a != 10: # 특정한 조건을 만족시킬 때 작동하는 코드
''''print("10이 아니네요")

SyntaxError: ignored

In [15]:
# 정수(int,integer, 양의 정수와 음의 정수와 0)
# 실수(float, 실수, 소수, 소수점이 붙어 있음)
1, 1.0

(1, 1.0)

In [17]:
# type : 자료형(데이터타입)을 확인
type(1), type(1.0), type("1")
# str: string, 열, 문자열

(int, float, str)

In [18]:
# 사칙연산-> 산술연산자, 연산자: 1개 이상의 피 연산자에 대해서 특정 연산(계산)을 실행시키는 명령.

In [19]:
#정수 간 나누기를 해도 결과값은 무조건 실수 ex) 20 / 4: 5.0
20 // 4, 25 // 4 # 몫 연산자 ( 소수점 밑은 버림)

(5, 6)

In [21]:
5.5 // 2, 4 // 1.0 # 항 중에(피연산자 중에) 하나라도 실수라면 실수 결과값

(2.0, 4.0)

In [23]:
# %(나머지 연산자, 모듈로, 무듈러스)
10 % 3

1

In [28]:
# 거듭제곱 연산자(**)
2 ** 5, 2 ** 0.5 # 루트

(32, 1.4142135623730951)

In [29]:
# 값-> 정수 (int(...))
int(1), int(1.0), int(1 * 1)

(1, 1, 1)

In [30]:
int("1.0") # 정수로 변환할 수 없는 숫자 문자열이기 때문에 오류

ValueError: ignored

In [31]:
int("일") # 숫자가 아니기 때문에 오류

ValueError: ignored

In [32]:
# ㅣㅣ, %-> 한번에
divmod(5, 2) # a가 나눠지는 수, b가 나눠지는 수 (몫, 나머지)

(2, 1)

In [33]:
3.1 + 2.2 # 컴퓨터는 이진법으로 표현하므롤 이러한 오차가 있을 수 있음

5.300000000000001

In [35]:
2.7 - 1.5 # 부동소수점 오류

1.2000000000000002

In [36]:
1.5 * 3.1

4.65

In [37]:
5.5 / 3.1

1.7741935483870968

In [38]:
# float->float(..)
float(1), float(4/5)

(1.0, 0.8)

In [39]:
# 텍스트로 특정한 숫자를 받았는데, 정수화를 하고 싶어 -> 수수점이 아니라는 확신이 없을 때
int(float("1.0"))

1

In [40]:
1 + 2 * 3

7

In [41]:
(1 + 2) * 3 # 괄호 안의 값잉 먼저 계산됨.

9

In [42]:
x = 10 # 같다x, 할당o(주어짐), 같다(=)

In [43]:
x

10

In [44]:
y = "The행복식당"
y

'The행복식당'

In [45]:
y

'The행복식당'

In [46]:
type(x), type(y) #담겨져 있는 애들의 타입이 입력

(int, str)

* `=` : 대입연산자
* 같다, `==` : 동등 연산

In [49]:
x = None
Print(x)

NameError: ignored

In [50]:
a = 12 + 13 * 10 + 5
b = 17 / 5 * 20 + 19
a + b

234.0

In [51]:
c = a + b
c

234.0

In [52]:
a = 10
a + 20

30

In [58]:
a += 20
a

110

In [59]:
d += 10 # d가  없어서 (정의되지 않아서) 새로운 값을 더한 뒤 대입임

NameError: ignored

In [60]:
d = 10 # 변수의 자리를 만드는 것을 '선언', 값을 대입하는 걸 '초기화'
# 초기화 != reset / 초기화 = intialization

In [61]:
input()

안녕

'안녕'

In [63]:
input("인사를 친절하게 해줘:") #문자열 -> 안내문

인사를 친절하게 해줘:싫은데

'싫은데'

In [64]:
x = input() # 프롬프트에 '문자열'을 입력하는 함수(기능)
x

ㅎㅎ

'ㅎㅎ'

In [65]:
type(x)

str

In [66]:
a = input('숫자를 입력해주세요:')
b = input("숫자를 입력해주세요:")

a + b

숫자를 입력해주세요:1
숫자를 입력해주세요:2

'12'

In [67]:
a = input('숫자를 입력해주세요:')
b = input("숫자를 입력해주세요:")

int(a) + int(b) # 덧셈 연산을 실행하기 앞서서 int가 실행이 되면서 정수로 변환

숫자를 입력해주세요:1
숫자를 입력해주세요:2

3

In [ ]:
a = input('숫자를 입력해주세요:')
b = input("숫자를 입력해주세요:")

a + b

숫자를 입력해주세요:1
숫자를 입력해주세요:2

'12'

In [68]:
"안녕하세요 여러분" # 문자열 (리터럴)

'안녕하세요 여러분'