<a href="https://colab.research.google.com/github/Kimdongha96/Python/blob/main/submission/Kimdongha96/Ch02_02_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시퀀스

In [ ]:
# 시퀀스 : 0개 이상의 원소가 나열되어 묶여 있는 자료형
# list, tuple, range, string(str):문자열 
[] # 대괄호
() # 소괄호
"", '', '''''',"""""", # 문자열

('', '', '', '')

# in, not in

In [ ]:
# 값 in 시퀀스 객체 <-> for 변수명 in 시퀀스 객체:
"파이썬" in ["파이썬", "자바", "자바 스크립트"]

True

In [ ]:
a = "파이썬"
b = ["파이썬", "자바", "자바 스크립트"]
a in b # bool -> 참과 거짓, (있나요? 없나요?)

True

In [ ]:
c = "C언어"
c in b, c not in b

(False, True)

In [ ]:
name = "김동하"
"김" in name, "동하" in name

(True, True)

In [ ]:
sentence = "아버지가 밤에 들어가십니다"
"아버지" in sentence, "어머니" not in sentence

(True, True)

# 연결(+)

In [ ]:
a = ["사과", "배", "고라니"]
b = [1, 2, 3, 4, 5, 6]
a + b # 연결 (concatenate)

['사과', '배', '고라니', 1, 2, 3, 4, 5, 6]

In [ ]:
a, b

(['사과', '배', '고라니'], [1, 2, 3, 4, 5, 6])

In [ ]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [ ]:
"이삭" + "토스트"

'이삭토스트'

In [24]:
range(10) + range(10)

TypeError: ignored

In [25]:
list(range(10)) + list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
print("안녕하세요", 1, "학년입니다")

안녕하세요 1 학년입니다

In [27]:
"안녕하세요" + 1 + "학년입니다"  # int+ str (X)

SyntaxError: ignored

In [28]:
int("안녕하세요")

ValueError: ignored

In [29]:
"안녕하세요" + str(1) + "학년입니다"

'안녕하세요1학년입니다'

# 반복(*)

In [30]:
# 연결을 n번 이상하는, (시퀀스 객체) * n, n * (시퀀스 객체)
[1, 10, 100, 1000] * 3

[1, 10, 100, 1000, 1, 10, 100, 1000, 1, 10, 100, 1000]

In [31]:
 [1, 10, 100, 1000] + [1, 10, 100, 1000] + [1, 10, 100, 1000]

[1, 10, 100, 1000, 1, 10, 100, 1000, 1, 10, 100, 1000]

In [32]:
[0] * 7 # 0을 7개 가진 리스트 만들기

[0, 0, 0, 0, 0, 0, 0]

In [33]:
[0] * 0, [0] * -1 # 0이하의 숫자를 넣으면

([], [])

In [34]:
(0) * 0

0

In [36]:
range(10) * 10

TypeError: ignored

In [ ]:
tuple(range(10)) * 10

In [38]:
"퇴실" * 10

'퇴실퇴실퇴실퇴실퇴실퇴실퇴실퇴실퇴실퇴실'

# len()

In [39]:
# Java, array, lenght(), JS: arry lenght, Python: len(array)
list([1, 2, 3]), len(range(2, 5, 2)), len("문자열")

([1, 2, 3], 2, 3)

# index

In [41]:
# 0부터 시작, 전체 길이 -1
a = list(range(100, 600, 100))
print(a)

[100, 200, 300, 400, 500]

In [46]:
a[2],a[2-1], a[1], a[0]

(300, 200, 200, 100)

In [48]:
name = "김나나씨"
name[0], name[3]

('김', '씨')

In [49]:
# 음수인덱스 : 뒤에서부터 카운트, len(시퀀스객체) - n
# a, a[-n] = a[len(a)-n]
print(a)
a[-1],a[len(a)-1]

[100, 200, 300, 400, 500]

(500, 500)

# 요소에 값 할당하기
* element, 요소, 구성요소, 원소.

In [52]:
a = [0] * 5
print(a)
a[0] = 5
a[1] = 13
a[2] = 34
a[3] = 88
a[4] = 100
a # 원본에 영향

[0, 0, 0, 0, 0]

[5, 13, 34, 88, 100]

In [54]:
a[5]

IndexError: ignored

# del 시퀀스 객체

In [55]:
# del 시퀀스 객체[인덱스]

In [58]:
print(a)
del a[2]
a

[5, 13, 88, 100]

[5, 13, 100]

In [60]:
a

[5, 13, 100]

In [62]:
# 문자열, 튜플, 레인지 -> 읽기 전용
s="book"
del = [2]

SyntaxError: ignored

# 슬라이스

In [64]:
# 시퀀스객체체[시작인덱스:끝인덱스]
# 시퀀스객체[시작:], 시퀀스객체[:끝]
# 시퀀스객체[시작:끝, 증가폭]
# 시퀀스객체[: :증가폭]
a = list(range(0,100,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [68]:
# 슬라이스는 원본에 영향 미치지 않고 사본 만드는 방법
a[0:4], len(a), a[0:10]

([0, 10, 20, 30], 10, [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [69]:
a[1:1] # 빈 리스트

[]

In [71]:
a[3:5]

[30, 40]

In [72]:
a[3:-1], a[3:len(a)-1]

([30, 40, 50, 60, 70, 80], [30, 40, 50, 60, 70, 80])

In [77]:
list(range(1, 5, 2)), a[1:5:2], a[slice(1, 5, 2)]

([1, 3], [10, 30], [10, 30])

In [80]:
a[:], a, a[0:len(a)]

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [82]:
a[1:], a, a[1:len(a)]

([10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90])

In [85]:
a[:5], a[0:5]

([0, 10, 20, 30, 40], [0, 10, 20, 30, 40])

In [87]:
a[::2], a[0:len(a):2]

([0, 20, 40, 60, 80], [0, 20, 40, 60, 80])

In [89]:
a[::-1], a[len(a)::-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10, 0],
 [90, 80, 70, 60, 50, 40, 30, 20, 10, 0])

In [91]:
a[20:0:-1], a[20::-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10], [90, 80, 70, 60, 50, 40, 30, 20, 10, 0])

In [94]:
s = 'hello world'
s[::-1], s[::2],s[1:3]

('dlrow olleh', 'hlowrd', 'el')

In [98]:
# 할당하기 -> 특정한 슬라이스 범위에 새로운 값들을 끼워넣기
# 리스트 only, 갯수가 일치할 필요
a = [1, 2, 3, 4, 5]
print(a[1:3])
a[1:3] = [6, 7, 8, 9]
a

[2, 3]

[1, 6, 7, 8, 9, 4, 5]

In [100]:
b = list(range(20))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [102]:
b[1:10:2]

[1, 3, 5, 7, 9]

In [104]:
b[1:10:2] = [0] * 5
b

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [107]:
b[1:10:2] = [0]

ValueError: ignored

In [109]:
print(a)

[1, 6, 7, 8, 9, 4, 5]

In [110]:
del a[2:5]
a

[1, 6, 4, 5]

# 딕셔너리

In [112]:
d = {
    "key" : "value"
}
d

{'key': 'value'}

In [114]:
young = {
    "말" : "많음",
    "체력" : "딸림",
    "타고오는 지하철" : 1,
    "잔소리여부" : True,
    "좋아하는언어" : ["파이썬",'자바','자바스크립트']
}

In [116]:
# k, v = 1:1 대응
kim = {
    "height" : 170,
    "weight" : 80,
    "height" : 180,
    "weight" : 85,
} # 중괄호로 묶어야 한다. 'key:value.'로 값들이 표현
kim

{'height': 180, 'weight': 85}

In [118]:
# 시퀀스형 중에 리스트와, 딕셔너리 자체만 키값으로 쓸 수 없음

In [120]:
kim

{'height': 180, 'weight': 85}

In [122]:
kim["height"]

180

In [123]:
kim["salary"] = 3000

In [125]:
kim

{'height': 180, 'weight': 85, 'salary': 3000}

In [128]:
kim["salary"] = 4000
kim

{'height': 180, 'weight': 85, 'salary': 4000}

In [136]:
kim['IQ'] # KeyError

KeyError: ignored

In [131]:
'IQ'in kim # 시퀀스 객체 (in) / 딕셔너리 (in) / for in

False

In [133]:
'IQ' not in kim

True

In [134]:
len(kim) # key의 갯수

3

In [137]:
list(kim) # dict -> list 감싸주면 -> Key를 원소로 가지는 리스트

['height', 'weight', 'salary']

# 조건문

# if

In [139]:
switch = True
if switch: # if (...): 조건식 -> 최종적으로 bool형태로 표현될 수 있는 값
   print("아 밝다~") # if 본문.

아 밝다~

In [140]:
temperature = 40
if temperature >38:
    print("아 덥다")

아 덥다

In [141]:
temperature = 30
if temperature > 38:
    print("아 덥다")
    print("물 마시고 싶어")

# else

In [142]:
temperature = 30
if temperature > 38:
   print("아 덥다")
else: # temperature <= 38:
   print("괜찮아")

괜찮아

# pass

In [143]:
temperature = 30
if temperature > 38:
   print("아 덥다")
else: # temperature <= 38:
   pass # block 유지 때문에

In [144]:
pass

In [146]:
if:True:
   pass
else:
    print("hello")

SyntaxError: ignored

In [148]:
name = "김땡땡"

if name == "김땡땡":
   print("웰컴")

웰컴

In [150]:
if "김" in name:
   print("웰컴")

웰컴

## 삼항연산자 (조건부 표현식)

In [152]:
a = None
b = True
if b:
    a = 10
else:
     a = 100
a

10

In [155]:
a = 10 if b else 100 # (True 값) if (조건식) else (False 값)
a

10

In [159]:
a = '환타'

if a == "콜라"
    print("콜라" 드세요")
elif a == "사이다"
    print("사이다" 드세요")
elif a == "환타"
    print("환타" 드세요")

SyntaxError: ignored

# 반복문

# for

In [160]:
for i in range(10):
     print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [162]:
i = 100
for i in range(10):
    pass
print(i)

9

In [165]:
# range(n) : n회 반복
for i in "hello world": # range가 아닌 시퀀스형태의 자료형? list -> v, string -> c
    print(i) # 루프를 돈다

h
e
l
l
o

w
o
r
l
d

In [166]:
a = ['배', '사과', '바나나']
for i in a:
    print(i)

배
사과
바나나

In [167]:
for i in reversed(a): # reverse + ed: 새롭게 형성된 데이터
    print(i)

바나나
사과
배

In [171]:
a, list(reversed(a)), a[::-1]

(['배', '사과', '바나나'], ['바나나', '사과', '배'], ['바나나', '사과', '배'])

# while

In [173]:
for i in range(10):
     print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [176]:
i = 0 # 초기식
while i < 10: # while 조건식
    print(i,end=" ") # ...
    i += 1 # 변화식

0 1 2 3 4 5 6 7 8 9

In [178]:
money = 100000
hit = 0
while money > 0:
     money -= 100
     hit += 1
     print(money, "원 남았습니다",hit, "대 맞았습니다")

99900 원 남았습니다 1 대 맞았습니다
99800 원 남았습니다 2 대 맞았습니다
99700 원 남았습니다 3 대 맞았습니다
99600 원 남았습니다 4 대 맞았습니다
99500 원 남았습니다 5 대 맞았습니다
99400 원 남았습니다 6 대 맞았습니다
99300 원 남았습니다 7 대 맞았습니다
99200 원 남았습니다 8 대 맞았습니다
99100 원 남았습니다 9 대 맞았습니다
99000 원 남았습니다 10 대 맞았습니다
98900 원 남았습니다 11 대 맞았습니다
98800 원 남았습니다 12 대 맞았습니다
98700 원 남았습니다 13 대 맞았습니다
98600 원 남았습니다 14 대 맞았습니다
98500 원 남았습니다 15 대 맞았습니다
98400 원 남았습니다 16 대 맞았습니다
98300 원 남았습니다 17 대 맞았습니다
98200 원 남았습니다 18 대 맞았습니다
98100 원 남았습니다 19 대 맞았습니다
98000 원 남았습니다 20 대 맞았습니다
97900 원 남았습니다 21 대 맞았습니다
97800 원 남았습니다 22 대 맞았습니다
97700 원 남았습니다 23 대 맞았습니다
97600 원 남았습니다 24 대 맞았습니다
97500 원 남았습니다 25 대 맞았습니다
97400 원 남았습니다 26 대 맞았습니다
97300 원 남았습니다 27 대 맞았습니다
97200 원 남았습니다 28 대 맞았습니다
97100 원 남았습니다 29 대 맞았습니다
97000 원 남았습니다 30 대 맞았습니다
96900 원 남았습니다 31 대 맞았습니다
96800 원 남았습니다 32 대 맞았습니다
96700 원 남았습니다 33 대 맞았습니다
96600 원 남았습니다 34 대 맞았습니다
96500 원 남았습니다 35 대 맞았습니다
96400 원 남았습니다 36 대 맞았습니다
96300 원 남았습니다 37 대 맞았습니다
96200 원 남았습니다 38 대 맞았습니다
96100 원 남았습니다 39 대 맞았습니다
96000 원 남았습니다 40 대 맞았습니다
95900 원 남았습니다 41 대 맞았습니다
95800 원 남았습니다 42 대 맞았습니다
95700 원 남았습니다 43 대 맞았습니다
95600 원 남았습니다 44 대 맞았습니다
95500 원 남았습니다 45 대 맞았습니다
95400 원 남았습니다 46 대 맞았습니다
95300 원 남았습니다 47 대 맞았습니다
95200 원 남았습니다 48 대 맞았습니다
95100 원 남았습니다 49 대 맞았습니다
95000 원 남았습니다 50 대 맞았습니다
94900 원 남았습니다 51 대 맞았습니다
94800 원 남았습니다 52 대 맞았습니다
94700 원 남았습니다 53 대 맞았습니다
94600 원 남았습니다 54 대 맞았습니다
94500 원 남았습니다 55 대 맞았습니다
94400 원 남았습니다 56 대 맞았습니다
94300 원 남았습니다 57 대 맞았습니다
94200 원 남았습니다 58 대 맞았습니다
94100 원 남았습니다 59 대 맞았습니다
94000 원 남았습니다 60 대 맞았습니다
93900 원 남았습니다 61 대 맞았습니다
93800 원 남았습니다 62 대 맞았습니다
93700 원 남았습니다 63 대 맞았습니다
93600 원 남았습니다 64 대 맞았습니다
93500 원 남았습니다 65 대 맞았습니다
93400 원 남았습니다 66 대 맞았습니다
93300 원 남았습니다 67 대 맞았습니다
93200 원 남았습니다 68 대 맞았습니다
93100 원 남았습니다 69 대 맞았습니다
93000 원 남았습니다 70 대 맞았습니다
92900 원 남았습니다 71 대 맞았습니다
92800 원 남았습니다 72 대 맞았습니다
92700 원 남았습니다 73 대 맞았습니다
92600 원 남았습니다 74 대 맞았습니다
92500 원 남았습니다 75 대 맞았습니다
92400 원 남았습니다 76 대 맞았습니다
92300 원 남았습니다 77 대 맞았습니다
92200 원 남았습니다 78 대 맞았습니다
92100 원 남았습니다 79 대 맞았습니다
92000 원 남았습니다 80 대 맞았습니다
91900 원 남았습니다 81 대 맞았습니다
91800 원 남았습니다 82 대 맞았습니다
91700 원 남았습니다 83 대 맞았습니다
91600 원 남았습니다 84 대 맞았습니다
91500 원 남았습니다 85 대 맞았습니다
91400 원 남았습니다 86 대 맞았습니다
91300 원 남았습니다 87 대 맞았습니다
91200 원 남았습니다 88 대 맞았습니다
91100 원 남았습니다 89 대 맞았습니다
91000 원 남았습니다 90 대 맞았습니다
90900 원 남았습니다 91 대 맞았습니다
90800 원 남았습니다 92 대 맞았습니다
90700 원 남았습니다 93 대 맞았습니다
90600 원 남았습니다 94 대 맞았습니다
90500 원 남았습니다 95 대 맞았습니다
90400 원 남았습니다 96 대 맞았습니다
90300 원 남았습니다 97 대 맞았습니다
90200 원 남았습니다 98 대 맞았습니다
90100 원 남았습니다 99 대 맞았습니다
90000 원 남았습니다 100 대 맞았습니다
89900 원 남았습니다 101 대 맞았습니다
89800 원 남았습니다 102 대 맞았습니다
89700 원 남았습니다 103 대 맞았습니다
89600 원 남았습니다 104 대 맞았습니다
89500 원 남았습니다 105 대 맞았습니다
89400 원 남았습니다 106 대 맞았습니다
89300 원 남았습니다 107 대 맞았습니다
89200 원 남았습니다 108 대 맞았습니다
89100 원 남았습니다 109 대 맞았습니다
89000 원 남았습니다 110 대 맞았습니다
88900 원 남았습니다 111 대 맞았습니다
88800 원 남았습니다 112 대 맞았습니다
88700 원 남았습니다 113 대 맞았습니다
88600 원 남았습니다 114 대 맞았습니다
88500 원 남았습니다 115 대 맞았습니다
88400 원 남았습니다 116 대 맞았습니다
88300 원 남았습니다 117 대 맞았습니다
88200 원 남았습니다 118 대 맞았습니다
88100 원 남았습니다 119 대 맞았습니다
88000 원 남았습니다 120 대 맞았습니다
87900 원 남았습니다 121 대 맞았습니다
87800 원 남았습니다 122 대 맞았습니다
87700 원 남았습니다 123 대 맞았습니다
87600 원 남았습니다 124 대 맞았습니다
87500 원 남았습니다 125 대 맞았습니다
87400 원 남았습니다 126 대 맞았습니다
87300 원 남았습니다 127 대 맞았습니다
87200 원 남았습니다 128 대 맞았습니다
87100 원 남았습니다 129 대 맞았습니다
87000 원 남았습니다 130 대 맞았습니다
86900 원 남았습니다 131 대 맞았습니다
86800 원 남았습니다 132 대 맞았습니다
86700 원 남았습니다 133 대 맞았습니다
86600 원 남았습니다 134 대 맞았습니다
86500 원 남았습니다 135 대 맞았습니다
86400 원 남았습니다 136 대 맞았습니다
86300 원 남았습니다 137 대 맞았습니다
86200 원 남았습니다 138 대 맞았습니다
86100 원 남았습니다 139 대 맞았습니다
86000 원 남았습니다 140 대 맞았습니다
85900 원 남았습니다 141 대 맞았습니다
85800 원 남았습니다 142 대 맞았습니다
85700 원 남았습니다 143 대 맞았습니다
85600 원 남았습니다 144 대 맞았습니다
85500 원 남았습니다 145 대 맞았습니다
85400 원 남았습니다 146 대 맞았습니다
85300 원 남았습니다 147 대 맞았습니다
85200 원 남았습니다 148 대 맞았습니다
85100 원 남았습니다 149 대 맞았습니다
85000 원 남았습니다 150 대 맞았습니다
84900 원 남았습니다 151 대 맞았습니다
84800 원 남았습니다 152 대 맞았습니다
84700 원 남았습니다 153 대 맞았습니다
84600 원 남았습니다 154 대 맞았습니다
84500 원 남았습니다 155 대 맞았습니다
84400 원 남았습니다 156 대 맞았습니다
84300 원 남았습니다 157 대 맞았습니다
84200 원 남았습니다 158 대 맞았습니다
84100 원 남았습니다 159 대 맞았습니다
84000 원 남았습니다 160 대 맞았습니다
83900 원 남았습니다 161 대 맞았습니다
83800 원 남았습니다 162 대 맞았습니다
83700 원 남았습니다 163 대 맞았습니다
83600 원 남았습니다 164 대 맞았습니다
83500 원 남았습니다 165 대 맞았습니다
83400 원 남았습니다 166 대 맞았습니다
83300 원 남았습니다 167 대 맞았습니다
83200 원 남았습니다 168 대 맞았습니다
83100 원 남았습니다 169 대 맞았습니다
83000 원 남았습니다 170 대 맞았습니다
82900 원 남았습니다 171 대 맞았습니다
82800 원 남았습니다 172 대 맞았습니다
82700 원 남았습니다 173 대 맞았습니다
82600 원 남았습니다 174 대 맞았습니다
82500 원 남았습니다 175 대 맞았습니다
82400 원 남았습니다 176 대 맞았습니다
82300 원 남았습니다 177 대 맞았습니다
82200 원 남았습니다 178 대 맞았습니다
82100 원 남았습니다 179 대 맞았습니다
82000 원 남았습니다 180 대 맞았습니다
81900 원 남았습니다 181 대 맞았습니다
81800 원 남았습니다 182 대 맞았습니다
81700 원 남았습니다 183 대 맞았습니다
81600 원 남았습니다 184 대 맞았습니다
81500 원 남았습니다 185 대 맞았습니다
81400 원 남았습니다 186 대 맞았습니다
81300 원 남았습니다 187 대 맞았습니다
81200 원 남았습니다 188 대 맞았습니다
81100 원 남았습니다 189 대 맞았습니다
81000 원 남았습니다 190 대 맞았습니다
80900 원 남았습니다 191 대 맞았습니다
80800 원 남았습니다 192 대 맞았습니다
80700 원 남았습니다 193 대 맞았습니다
80600 원 남았습니다 194 대 맞았습니다
80500 원 남았습니다 195 대 맞았습니다
80400 원 남았습니다 196 대 맞았습니다
80300 원 남았습니다 197 대 맞았습니다
80200 원 남았습니다 198 대 맞았습니다
80100 원 남았습니다 199 대 맞았습니다
80000 원 남았습니다 200 대 맞았습니다
79900 원 남았습니다 201 대 맞았습니다
79800 원 남았습니다 202 대 맞았습니다
79700 원 남았습니다 203 대 맞았습니다
79600 원 남았습니다 204 대 맞았습니다
79500 원 남았습니다 205 대 맞았습니다
79400 원 남았습니다 206 대 맞았습니다
79300 원 남았습니다 207 대 맞았습니다
79200 원 남았습니다 208 대 맞았습니다
79100 원 남았습니다 209 대 맞았습니다
79000 원 남았습니다 210 대 맞았습니다
78900 원 남았습니다 211 대 맞았습니다
78800 원 남았습니다 212 대 맞았습니다
78700 원 남았습니다 213 대 맞았습니다
78600 원 남았습니다 214 대 맞았습니다
78500 원 남았습니다 215 대 맞았습니다
78400 원 남았습니다 216 대 맞았습니다
78300 원 남았습니다 217 대 맞았습니다
78200 원 남았습니다 218 대 맞았습니다
78100 원 남았습니다 219 대 맞았습니다
78000 원 남았습니다 220 대 맞았습니다
77900 원 남았습니다 221 대 맞았습니다
77800 원 남았습니다 222 대 맞았습니다
77700 원 남았습니다 223 대 맞았습니다
77600 원 남았습니다 224 대 맞았습니다
77500 원 남았습니다 225 대 맞았습니다
77400 원 남았습니다 226 대 맞았습니다
77300 원 남았습니다 227 대 맞았습니다
77200 원 남았습니다 228 대 맞았습니다
77100 원 남았습니다 229 대 맞았습니다
77000 원 남았습니다 230 대 맞았습니다
76900 원 남았습니다 231 대 맞았습니다
76800 원 남았습니다 232 대 맞았습니다
76700 원 남았습니다 233 대 맞았습니다
76600 원 남았습니다 234 대 맞았습니다
76500 원 남았습니다 235 대 맞았습니다
76400 원 남았습니다 236 대 맞았습니다
76300 원 남았습니다 237 대 맞았습니다
76200 원 남았습니다 238 대 맞았습니다
76100 원 남았습니다 239 대 맞았습니다
76000 원 남았습니다 240 대 맞았습니다
75900 원 남았습니다 241 대 맞았습니다
75800 원 남았습니다 242 대 맞았습니다
75700 원 남았습니다 243 대 맞았습니다
75600 원 남았습니다 244 대 맞았습니다
75500 원 남았습니다 245 대 맞았습니다
75400 원 남았습니다 246 대 맞았습니다
75300 원 남았습니다 247 대 맞았습니다
75200 원 남았습니다 248 대 맞았습니다
75100 원 남았습니다 249 대 맞았습니다
75000 원 남았습니다 250 대 맞았습니다
74900 원 남았습니다 251 대 맞았습니다
74800 원 남았습니다 252 대 맞았습니다
74700 원 남았습니다 253 대 맞았습니다
74600 원 남았습니다 254 대 맞았습니다
74500 원 남았습니다 255 대 맞았습니다
74400 원 남았습니다 256 대 맞았습니다
74300 원 남았습니다 257 대 맞았습니다
74200 원 남았습니다 258 대 맞았습니다
74100 원 남았습니다 259 대 맞았습니다
74000 원 남았습니다 260 대 맞았습니다
73900 원 남았습니다 261 대 맞았습니다
73800 원 남았습니다 262 대 맞았습니다
73700 원 남았습니다 263 대 맞았습니다
73600 원 남았습니다 264 대 맞았습니다
73500 원 남았습니다 265 대 맞았습니다
73400 원 남았습니다 266 대 맞았습니다
73300 원 남았습니다 267 대 맞았습니다
73200 원 남았습니다 268 대 맞았습니다
73100 원 남았습니다 269 대 맞았습니다
73000 원 남았습니다 270 대 맞았습니다
72900 원 남았습니다 271 대 맞았습니다
72800 원 남았습니다 272 대 맞았습니다
72700 원 남았습니다 273 대 맞았습니다
72600 원 남았습니다 274 대 맞았습니다
72500 원 남았습니다 275 대 맞았습니다
72400 원 남았습니다 276 대 맞았습니다
72300 원 남았습니다 277 대 맞았습니다
72200 원 남았습니다 278 대 맞았습니다
72100 원 남았습니다 279 대 맞았습니다
72000 원 남았습니다 280 대 맞았습니다
71900 원 남았습니다 281 대 맞았습니다
71800 원 남았습니다 282 대 맞았습니다
71700 원 남았습니다 283 대 맞았습니다
71600 원 남았습니다 284 대 맞았습니다
71500 원 남았습니다 285 대 맞았습니다
71400 원 남았습니다 286 대 맞았습니다
71300 원 남았습니다 287 대 맞았습니다
71200 원 남았습니다 288 대 맞았습니다
71100 원 남았습니다 289 대 맞았습니다
71000 원 남았습니다 290 대 맞았습니다
70900 원 남았습니다 291 대 맞았습니다
70800 원 남았습니다 292 대 맞았습니다
70700 원 남았습니다 293 대 맞았습니다
70600 원 남았습니다 294 대 맞았습니다
70500 원 남았습니다 295 대 맞았습니다
70400 원 남았습니다 296 대 맞았습니다
70300 원 남았습니다 297 대 맞았습니다
70200 원 남았습니다 298 대 맞았습니다
70100 원 남았습니다 299 대 맞았습니다
70000 원 남았습니다 300 대 맞았습니다
69900 원 남았습니다 301 대 맞았습니다
69800 원 남았습니다 302 대 맞았습니다
69700 원 남았습니다 303 대 맞았습니다
69600 원 남았습니다 304 대 맞았습니다
69500 원 남았습니다 305 대 맞았습니다
69400 원 남았습니다 306 대 맞았습니다
69300 원 남았습니다 307 대 맞았습니다
69200 원 남았습니다 308 대 맞았습니다
69100 원 남았습니다 309 대 맞았습니다
69000 원 남았습니다 310 대 맞았습니다
68900 원 남았습니다 311 대 맞았습니다
68800 원 남았습니다 312 대 맞았습니다
68700 원 남았습니다 313 대 맞았습니다
68600 원 남았습니다 314 대 맞았습니다
68500 원 남았습니다 315 대 맞았습니다
68400 원 남았습니다 316 대 맞았습니다
68300 원 남았습니다 317 대 맞았습니다
68200 원 남았습니다 318 대 맞았습니다
68100 원 남았습니다 319 대 맞았습니다
68000 원 남았습니다 320 대 맞았습니다
67900 원 남았습니다 321 대 맞았습니다
67800 원 남았습니다 322 대 맞았습니다
67700 원 남았습니다 323 대 맞았습니다
67600 원 남았습니다 324 대 맞았습니다
67500 원 남았습니다 325 대 맞았습니다
67400 원 남았습니다 326 대 맞았습니다
67300 원 남았습니다 327 대 맞았습니다
67200 원 남았습니다 328 대 맞았습니다
67100 원 남았습니다 329 대 맞았습니다
67000 원 남았습니다 330 대 맞았습니다
66900 원 남았습니다 331 대 맞았습니다
66800 원 남았습니다 332 대 맞았습니다
66700 원 남았습니다 333 대 맞았습니다
66600 원 남았습니다 334 대 맞았습니다
66500 원 남았습니다 335 대 맞았습니다
66400 원 남았습니다 336 대 맞았습니다
66300 원 남았습니다 337 대 맞았습니다
66200 원 남았습니다 338 대 맞았습니다
66100 원 남았습니다 339 대 맞았습니다
66000 원 남았습니다 340 대 맞았습니다
65900 원 남았습니다 341 대 맞았습니다
65800 원 남았습니다 342 대 맞았습니다
65700 원 남았습니다 343 대 맞았습니다
65600 원 남았습니다 344 대 맞았습니다
65500 원 남았습니다 345 대 맞았습니다
65400 원 남았습니다 346 대 맞았습니다
65300 원 남았습니다 347 대 맞았습니다
65200 원 남았습니다 348 대 맞았습니다
65100 원 남았습니다 349 대 맞았습니다
65000 원 남았습니다 350 대 맞았습니다
64900 원 남았습니다 351 대 맞았습니다
64800 원 남았습니다 352 대 맞았습니다
64700 원 남았습니다 353 대 맞았습니다
64600 원 남았습니다 354 대 맞았습니다
64500 원 남았습니다 355 대 맞았습니다
64400 원 남았습니다 356 대 맞았습니다
64300 원 남았습니다 357 대 맞았습니다
64200 원 남았습니다 358 대 맞았습니다
64100 원 남았습니다 359 대 맞았습니다
64000 원 남았습니다 360 대 맞았습니다
63900 원 남았습니다 361 대 맞았습니다
63800 원 남았습니다 362 대 맞았습니다
63700 원 남았습니다 363 대 맞았습니다
63600 원 남았습니다 364 대 맞았습니다
63500 원 남았습니다 365 대 맞았습니다
63400 원 남았습니다 366 대 맞았습니다
63300 원 남았습니다 367 대 맞았습니다
63200 원 남았습니다 368 대 맞았습니다
63100 원 남았습니다 369 대 맞았습니다
63000 원 남았습니다 370 대 맞았습니다
62900 원 남았습니다 371 대 맞았습니다
62800 원 남았습니다 372 대 맞았습니다
62700 원 남았습니다 373 대 맞았습니다
62600 원 남았습니다 374 대 맞았습니다
62500 원 남았습니다 375 대 맞았습니다
62400 원 남았습니다 376 대 맞았습니다
62300 원 남았습니다 377 대 맞았습니다
62200 원 남았습니다 378 대 맞았습니다
62100 원 남았습니다 379 대 맞았습니다
62000 원 남았습니다 380 대 맞았습니다
61900 원 남았습니다 381 대 맞았습니다
61800 원 남았습니다 382 대 맞았습니다
61700 원 남았습니다 383 대 맞았습니다
61600 원 남았습니다 384 대 맞았습니다
61500 원 남았습니다 385 대 맞았습니다
61400 원 남았습니다 386 대 맞았습니다
61300 원 남았습니다 387 대 맞았습니다
61200 원 남았습니다 388 대 맞았습니다
61100 원 남았습니다 389 대 맞았습니다
61000 원 남았습니다 390 대 맞았습니다
60900 원 남았습니다 391 대 맞았습니다
60800 원 남았습니다 392 대 맞았습니다
60700 원 남았습니다 393 대 맞았습니다
60600 원 남았습니다 394 대 맞았습니다
60500 원 남았습니다 395 대 맞았습니다
60400 원 남았습니다 396 대 맞았습니다
60300 원 남았습니다 397 대 맞았습니다
60200 원 남았습니다 398 대 맞았습니다
60100 원 남았습니다 399 대 맞았습니다
60000 원 남았습니다 400 대 맞았습니다
59900 원 남았습니다 401 대 맞았습니다
59800 원 남았습니다 402 대 맞았습니다
59700 원 남았습니다 403 대 맞았습니다
59600 원 남았습니다 404 대 맞았습니다
59500 원 남았습니다 405 대 맞았습니다
59400 원 남았습니다 406 대 맞았습니다
59300 원 남았습니다 407 대 맞았습니다
59200 원 남았습니다 408 대 맞았습니다
59100 원 남았습니다 409 대 맞았습니다
59000 원 남았습니다 410 대 맞았습니다
58900 원 남았습니다 411 대 맞았습니다
58800 원 남았습니다 412 대 맞았습니다
58700 원 남았습니다 413 대 맞았습니다
58600 원 남았습니다 414 대 맞았습니다
58500 원 남았습니다 415 대 맞았습니다
58400 원 남았습니다 416 대 맞았습니다
58300 원 남았습니다 417 대 맞았습니다
58200 원 남았습니다 418 대 맞았습니다
58100 원 남았습니다 419 대 맞았습니다
58000 원 남았습니다 420 대 맞았습니다
57900 원 남았습니다 421 대 맞았습니다
57800 원 남았습니다 422 대 맞았습니다
57700 원 남았습니다 423 대 맞았습니다
57600 원 남았습니다 424 대 맞았습니다
57500 원 남았습니다 425 대 맞았습니다
57400 원 남았습니다 426 대 맞았습니다
57300 원 남았습니다 427 대 맞았습니다
57200 원 남았습니다 428 대 맞았습니다
57100 원 남았습니다 429 대 맞았습니다
57000 원 남았습니다 430 대 맞았습니다
56900 원 남았습니다 431 대 맞았습니다
56800 원 남았습니다 432 대 맞았습니다
56700 원 남았습니다 433 대 맞았습니다
56600 원 남았습니다 434 대 맞았습니다
56500 원 남았습니다 435 대 맞았습니다
56400 원 남았습니다 436 대 맞았습니다
56300 원 남았습니다 437 대 맞았습니다
56200 원 남았습니다 438 대 맞았습니다
56100 원 남았습니다 439 대 맞았습니다
56000 원 남았습니다 440 대 맞았습니다
55900 원 남았습니다 441 대 맞았습니다
55800 원 남았습니다 442 대 맞았습니다
55700 원 남았습니다 443 대 맞았습니다
55600 원 남았습니다 444 대 맞았습니다
55500 원 남았습니다 445 대 맞았습니다
55400 원 남았습니다 446 대 맞았습니다
55300 원 남았습니다 447 대 맞았습니다
55200 원 남았습니다 448 대 맞았습니다
55100 원 남았습니다 449 대 맞았습니다
55000 원 남았습니다 450 대 맞았습니다
54900 원 남았습니다 451 대 맞았습니다
54800 원 남았습니다 452 대 맞았습니다
54700 원 남았습니다 453 대 맞았습니다
54600 원 남았습니다 454 대 맞았습니다
54500 원 남았습니다 455 대 맞았습니다
54400 원 남았습니다 456 대 맞았습니다
54300 원 남았습니다 457 대 맞았습니다
54200 원 남았습니다 458 대 맞았습니다
54100 원 남았습니다 459 대 맞았습니다
54000 원 남았습니다 460 대 맞았습니다
53900 원 남았습니다 461 대 맞았습니다
53800 원 남았습니다 462 대 맞았습니다
53700 원 남았습니다 463 대 맞았습니다
53600 원 남았습니다 464 대 맞았습니다
53500 원 남았습니다 465 대 맞았습니다
53400 원 남았습니다 466 대 맞았습니다
53300 원 남았습니다 467 대 맞았습니다
53200 원 남았습니다 468 대 맞았습니다
53100 원 남았습니다 469 대 맞았습니다
53000 원 남았습니다 470 대 맞았습니다
52900 원 남았습니다 471 대 맞았습니다
52800 원 남았습니다 472 대 맞았습니다
52700 원 남았습니다 473 대 맞았습니다
52600 원 남았습니다 474 대 맞았습니다
52500 원 남았습니다 475 대 맞았습니다
52400 원 남았습니다 476 대 맞았습니다
52300 원 남았습니다 477 대 맞았습니다
52200 원 남았습니다 478 대 맞았습니다
52100 원 남았습니다 479 대 맞았습니다
52000 원 남았습니다 480 대 맞았습니다
51900 원 남았습니다 481 대 맞았습니다
51800 원 남았습니다 482 대 맞았습니다
51700 원 남았습니다 483 대 맞았습니다
51600 원 남았습니다 484 대 맞았습니다
51500 원 남았습니다 485 대 맞았습니다
51400 원 남았습니다 486 대 맞았습니다
51300 원 남았습니다 487 대 맞았습니다
51200 원 남았습니다 488 대 맞았습니다
51100 원 남았습니다 489 대 맞았습니다
51000 원 남았습니다 490 대 맞았습니다
50900 원 남았습니다 491 대 맞았습니다
50800 원 남았습니다 492 대 맞았습니다
50700 원 남았습니다 493 대 맞았습니다
50600 원 남았습니다 494 대 맞았습니다
50500 원 남았습니다 495 대 맞았습니다
50400 원 남았습니다 496 대 맞았습니다
50300 원 남았습니다 497 대 맞았습니다
50200 원 남았습니다 498 대 맞았습니다
50100 원 남았습니다 499 대 맞았습니다
50000 원 남았습니다 500 대 맞았습니다
49900 원 남았습니다 501 대 맞았습니다
49800 원 남았습니다 502 대 맞았습니다
49700 원 남았습니다 503 대 맞았습니다
49600 원 남았습니다 504 대 맞았습니다
49500 원 남았습니다 505 대 맞았습니다
49400 원 남았습니다 506 대 맞았습니다
49300 원 남았습니다 507 대 맞았습니다
49200 원 남았습니다 508 대 맞았습니다
49100 원 남았습니다 509 대 맞았습니다
49000 원 남았습니다 510 대 맞았습니다
48900 원 남았습니다 511 대 맞았습니다
48800 원 남았습니다 512 대 맞았습니다
48700 원 남았습니다 513 대 맞았습니다
48600 원 남았습니다 514 대 맞았습니다
48500 원 남았습니다 515 대 맞았습니다
48400 원 남았습니다 516 대 맞았습니다
48300 원 남았습니다 517 대 맞았습니다
48200 원 남았습니다 518 대 맞았습니다
48100 원 남았습니다 519 대 맞았습니다
48000 원 남았습니다 520 대 맞았습니다
47900 원 남았습니다 521 대 맞았습니다
47800 원 남았습니다 522 대 맞았습니다
47700 원 남았습니다 523 대 맞았습니다
47600 원 남았습니다 524 대 맞았습니다
47500 원 남았습니다 525 대 맞았습니다
47400 원 남았습니다 526 대 맞았습니다
47300 원 남았습니다 527 대 맞았습니다
47200 원 남았습니다 528 대 맞았습니다
47100 원 남았습니다 529 대 맞았습니다
47000 원 남았습니다 530 대 맞았습니다
46900 원 남았습니다 531 대 맞았습니다
46800 원 남았습니다 532 대 맞았습니다
46700 원 남았습니다 533 대 맞았습니다
46600 원 남았습니다 534 대 맞았습니다
46500 원 남았습니다 535 대 맞았습니다
46400 원 남았습니다 536 대 맞았습니다
46300 원 남았습니다 537 대 맞았습니다
46200 원 남았습니다 538 대 맞았습니다
46100 원 남았습니다 539 대 맞았습니다
46000 원 남았습니다 540 대 맞았습니다
45900 원 남았습니다 541 대 맞았습니다
45800 원 남았습니다 542 대 맞았습니다
45700 원 남았습니다 543 대 맞았습니다
45600 원 남았습니다 544 대 맞았습니다
45500 원 남았습니다 545 대 맞았습니다
45400 원 남았습니다 546 대 맞았습니다
45300 원 남았습니다 547 대 맞았습니다
45200 원 남았습니다 548 대 맞았습니다
45100 원 남았습니다 549 대 맞았습니다
45000 원 남았습니다 550 대 맞았습니다
44900 원 남았습니다 551 대 맞았습니다
44800 원 남았습니다 552 대 맞았습니다
44700 원 남았습니다 553 대 맞았습니다
44600 원 남았습니다 554 대 맞았습니다
44500 원 남았습니다 555 대 맞았습니다
44400 원 남았습니다 556 대 맞았습니다
44300 원 남았습니다 557 대 맞았습니다
44200 원 남았습니다 558 대 맞았습니다
44100 원 남았습니다 559 대 맞았습니다
44000 원 남았습니다 560 대 맞았습니다
43900 원 남았습니다 561 대 맞았습니다
43800 원 남았습니다 562 대 맞았습니다
43700 원 남았습니다 563 대 맞았습니다
43600 원 남았습니다 564 대 맞았습니다
43500 원 남았습니다 565 대 맞았습니다
43400 원 남았습니다 566 대 맞았습니다
43300 원 남았습니다 567 대 맞았습니다
43200 원 남았습니다 568 대 맞았습니다
43100 원 남았습니다 569 대 맞았습니다
43000 원 남았습니다 570 대 맞았습니다
42900 원 남았습니다 571 대 맞았습니다
42800 원 남았습니다 572 대 맞았습니다
42700 원 남았습니다 573 대 맞았습니다
42600 원 남았습니다 574 대 맞았습니다
42500 원 남았습니다 575 대 맞았습니다
42400 원 남았습니다 576 대 맞았습니다
42300 원 남았습니다 577 대 맞았습니다
42200 원 남았습니다 578 대 맞았습니다
42100 원 남았습니다 579 대 맞았습니다
42000 원 남았습니다 580 대 맞았습니다
41900 원 남았습니다 581 대 맞았습니다
41800 원 남았습니다 582 대 맞았습니다
41700 원 남았습니다 583 대 맞았습니다
41600 원 남았습니다 584 대 맞았습니다
41500 원 남았습니다 585 대 맞았습니다
41400 원 남았습니다 586 대 맞았습니다
41300 원 남았습니다 587 대 맞았습니다
41200 원 남았습니다 588 대 맞았습니다
41100 원 남았습니다 589 대 맞았습니다
41000 원 남았습니다 590 대 맞았습니다
40900 원 남았습니다 591 대 맞았습니다
40800 원 남았습니다 592 대 맞았습니다
40700 원 남았습니다 593 대 맞았습니다
40600 원 남았습니다 594 대 맞았습니다
40500 원 남았습니다 595 대 맞았습니다
40400 원 남았습니다 596 대 맞았습니다
40300 원 남았습니다 597 대 맞았습니다
40200 원 남았습니다 598 대 맞았습니다
40100 원 남았습니다 599 대 맞았습니다
40000 원 남았습니다 600 대 맞았습니다
39900 원 남았습니다 601 대 맞았습니다
39800 원 남았습니다 602 대 맞았습니다
39700 원 남았습니다 603 대 맞았습니다
39600 원 남았습니다 604 대 맞았습니다
39500 원 남았습니다 605 대 맞았습니다
39400 원 남았습니다 606 대 맞았습니다
39300 원 남았습니다 607 대 맞았습니다
39200 원 남았습니다 608 대 맞았습니다
39100 원 남았습니다 609 대 맞았습니다
39000 원 남았습니다 610 대 맞았습니다
38900 원 남았습니다 611 대 맞았습니다
38800 원 남았습니다 612 대 맞았습니다
38700 원 남았습니다 613 대 맞았습니다
38600 원 남았습니다 614 대 맞았습니다
38500 원 남았습니다 615 대 맞았습니다
38400 원 남았습니다 616 대 맞았습니다
38300 원 남았습니다 617 대 맞았습니다
38200 원 남았습니다 618 대 맞았습니다
38100 원 남았습니다 619 대 맞았습니다
38000 원 남았습니다 620 대 맞았습니다
37900 원 남았습니다 621 대 맞았습니다
37800 원 남았습니다 622 대 맞았습니다
37700 원 남았습니다 623 대 맞았습니다
37600 원 남았습니다 624 대 맞았습니다
37500 원 남았습니다 625 대 맞았습니다
37400 원 남았습니다 626 대 맞았습니다
37300 원 남았습니다 627 대 맞았습니다
37200 원 남았습니다 628 대 맞았습니다
37100 원 남았습니다 629 대 맞았습니다
37000 원 남았습니다 630 대 맞았습니다
36900 원 남았습니다 631 대 맞았습니다
36800 원 남았습니다 632 대 맞았습니다
36700 원 남았습니다 633 대 맞았습니다
36600 원 남았습니다 634 대 맞았습니다
36500 원 남았습니다 635 대 맞았습니다
36400 원 남았습니다 636 대 맞았습니다
36300 원 남았습니다 637 대 맞았습니다
36200 원 남았습니다 638 대 맞았습니다
36100 원 남았습니다 639 대 맞았습니다
36000 원 남았습니다 640 대 맞았습니다
35900 원 남았습니다 641 대 맞았습니다
35800 원 남았습니다 642 대 맞았습니다
35700 원 남았습니다 643 대 맞았습니다
35600 원 남았습니다 644 대 맞았습니다
35500 원 남았습니다 645 대 맞았습니다
35400 원 남았습니다 646 대 맞았습니다
35300 원 남았습니다 647 대 맞았습니다
35200 원 남았습니다 648 대 맞았습니다
35100 원 남았습니다 649 대 맞았습니다
35000 원 남았습니다 650 대 맞았습니다
34900 원 남았습니다 651 대 맞았습니다
34800 원 남았습니다 652 대 맞았습니다
34700 원 남았습니다 653 대 맞았습니다
34600 원 남았습니다 654 대 맞았습니다
34500 원 남았습니다 655 대 맞았습니다
34400 원 남았습니다 656 대 맞았습니다
34300 원 남았습니다 657 대 맞았습니다
34200 원 남았습니다 658 대 맞았습니다
34100 원 남았습니다 659 대 맞았습니다
34000 원 남았습니다 660 대 맞았습니다
33900 원 남았습니다 661 대 맞았습니다
33800 원 남았습니다 662 대 맞았습니다
33700 원 남았습니다 663 대 맞았습니다
33600 원 남았습니다 664 대 맞았습니다
33500 원 남았습니다 665 대 맞았습니다
33400 원 남았습니다 666 대 맞았습니다
33300 원 남았습니다 667 대 맞았습니다
33200 원 남았습니다 668 대 맞았습니다
33100 원 남았습니다 669 대 맞았습니다
33000 원 남았습니다 670 대 맞았습니다
32900 원 남았습니다 671 대 맞았습니다
32800 원 남았습니다 672 대 맞았습니다
32700 원 남았습니다 673 대 맞았습니다
32600 원 남았습니다 674 대 맞았습니다
32500 원 남았습니다 675 대 맞았습니다
32400 원 남았습니다 676 대 맞았습니다
32300 원 남았습니다 677 대 맞았습니다
32200 원 남았습니다 678 대 맞았습니다
32100 원 남았습니다 679 대 맞았습니다
32000 원 남았습니다 680 대 맞았습니다
31900 원 남았습니다 681 대 맞았습니다
31800 원 남았습니다 682 대 맞았습니다
31700 원 남았습니다 683 대 맞았습니다
31600 원 남았습니다 684 대 맞았습니다
31500 원 남았습니다 685 대 맞았습니다
31400 원 남았습니다 686 대 맞았습니다
31300 원 남았습니다 687 대 맞았습니다
31200 원 남았습니다 688 대 맞았습니다
31100 원 남았습니다 689 대 맞았습니다
31000 원 남았습니다 690 대 맞았습니다
30900 원 남았습니다 691 대 맞았습니다
30800 원 남았습니다 692 대 맞았습니다
30700 원 남았습니다 693 대 맞았습니다
30600 원 남았습니다 694 대 맞았습니다
30500 원 남았습니다 695 대 맞았습니다
30400 원 남았습니다 696 대 맞았습니다
30300 원 남았습니다 697 대 맞았습니다
30200 원 남았습니다 698 대 맞았습니다
30100 원 남았습니다 699 대 맞았습니다
30000 원 남았습니다 700 대 맞았습니다
29900 원 남았습니다 701 대 맞았습니다
29800 원 남았습니다 702 대 맞았습니다
29700 원 남았습니다 703 대 맞았습니다
29600 원 남았습니다 704 대 맞았습니다
29500 원 남았습니다 705 대 맞았습니다
29400 원 남았습니다 706 대 맞았습니다
29300 원 남았습니다 707 대 맞았습니다
29200 원 남았습니다 708 대 맞았습니다
29100 원 남았습니다 709 대 맞았습니다
29000 원 남았습니다 710 대 맞았습니다
28900 원 남았습니다 711 대 맞았습니다
28800 원 남았습니다 712 대 맞았습니다
28700 원 남았습니다 713 대 맞았습니다
28600 원 남았습니다 714 대 맞았습니다
28500 원 남았습니다 715 대 맞았습니다
28400 원 남았습니다 716 대 맞았습니다
28300 원 남았습니다 717 대 맞았습니다
28200 원 남았습니다 718 대 맞았습니다
28100 원 남았습니다 719 대 맞았습니다
28000 원 남았습니다 720 대 맞았습니다
27900 원 남았습니다 721 대 맞았습니다
27800 원 남았습니다 722 대 맞았습니다
27700 원 남았습니다 723 대 맞았습니다
27600 원 남았습니다 724 대 맞았습니다
27500 원 남았습니다 725 대 맞았습니다
27400 원 남았습니다 726 대 맞았습니다
27300 원 남았습니다 727 대 맞았습니다
27200 원 남았습니다 728 대 맞았습니다
27100 원 남았습니다 729 대 맞았습니다
27000 원 남았습니다 730 대 맞았습니다
26900 원 남았습니다 731 대 맞았습니다
26800 원 남았습니다 732 대 맞았습니다
26700 원 남았습니다 733 대 맞았습니다
26600 원 남았습니다 734 대 맞았습니다
26500 원 남았습니다 735 대 맞았습니다
26400 원 남았습니다 736 대 맞았습니다
26300 원 남았습니다 737 대 맞았습니다
26200 원 남았습니다 738 대 맞았습니다
26100 원 남았습니다 739 대 맞았습니다
26000 원 남았습니다 740 대 맞았습니다
25900 원 남았습니다 741 대 맞았습니다
25800 원 남았습니다 742 대 맞았습니다
25700 원 남았습니다 743 대 맞았습니다
25600 원 남았습니다 744 대 맞았습니다
25500 원 남았습니다 745 대 맞았습니다
25400 원 남았습니다 746 대 맞았습니다
25300 원 남았습니다 747 대 맞았습니다
25200 원 남았습니다 748 대 맞았습니다
25100 원 남았습니다 749 대 맞았습니다
25000 원 남았습니다 750 대 맞았습니다
24900 원 남았습니다 751 대 맞았습니다
24800 원 남았습니다 752 대 맞았습니다
24700 원 남았습니다 753 대 맞았습니다
24600 원 남았습니다 754 대 맞았습니다
24500 원 남았습니다 755 대 맞았습니다
24400 원 남았습니다 756 대 맞았습니다
24300 원 남았습니다 757 대 맞았습니다
24200 원 남았습니다 758 대 맞았습니다
24100 원 남았습니다 759 대 맞았습니다
24000 원 남았습니다 760 대 맞았습니다
23900 원 남았습니다 761 대 맞았습니다
23800 원 남았습니다 762 대 맞았습니다
23700 원 남았습니다 763 대 맞았습니다
23600 원 남았습니다 764 대 맞았습니다
23500 원 남았습니다 765 대 맞았습니다
23400 원 남았습니다 766 대 맞았습니다
23300 원 남았습니다 767 대 맞았습니다
23200 원 남았습니다 768 대 맞았습니다
23100 원 남았습니다 769 대 맞았습니다
23000 원 남았습니다 770 대 맞았습니다
22900 원 남았습니다 771 대 맞았습니다
22800 원 남았습니다 772 대 맞았습니다
22700 원 남았습니다 773 대 맞았습니다

# break, continue

In [184]:
for i in range(1000):
    print(i, i ** 2)
    if i ** 2 < 1000:
       break

0 0

In [189]:
for i in range(1, 1000):
    if i % 2 == 0:
       continue
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249 251 253 255 257 259 261 263 265 267 269 271 273 275 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477 479 481 483 485 487 489 491 493 495 497 499 501 503 505 507 509 511 513 515 517 519 521 523 525 527 529 531 533 535 537 539 541 543 545 547 549 551 553 555 557 559 561 563 565 567 569 571 573 575 577 579 581 583 585 587 589 591 593 595 597 599 601 603 605 607 609 611 613 615 617 619 621 623 625 627 629 631 633 635 637 639 641 643 645 647 649 651 653 655 657 659 661 663 665 667 669 671 673 675 677 679 681 683 685 687 689 691 693 695 697 699 701 703 705 707 709 711 713 715 717 719 721 723 725 727 729 731 733 735 737 739 741 743 745 747 749 751 753 755 757 759 761 763 765 767 769 771 773 775 777 779 781 783 785 787 789 791 793 795 797 799 801 803 805 807 809 811 813 815 817 819 821 823 825 827 829 831 833 835 837 839 841 843 845 847 849 851 853 855 857 859 861 863 865 867 869 871 873 875 877 879 881 883 885 887 889 891 893 895 897 899 901 903 905 907 909 911 913 915 917 919 921 923 925 927 929 931 933 935 937 939 941 943 945 947 949 951 953 955 957 959 961 963 965 967 969 971 973 975 977 979 981 983 985 987 989 991 993 995 997 999

In [190]:
for i in range(1, 1000):
    if i % 2 == 0: # 3의 배수가 아닌 것들을 필터링
       continue
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249 251 253 255 257 259 261 263 265 267 269 271 273 275 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477 479 481 483 485 487 489 491 493 495 497 499 501 503 505 507 509 511 513 515 517 519 521 523 525 527 529 531 533 535 537 539 541 543 545 547 549 551 553 555 557 559 561 563 565 567 569 571 573 575 577 579 581 583 585 587 589 591 593 595 597 599 601 603 605 607 609 611 613 615 617 619 621 623 625 627 629 631 633 635 637 639 641 643 645 647 649 651 653 655 657 659 661 663 665 667 669 671 673 675 677 679 681 683 685 687 689 691 693 695 697 699 701 703 705 707 709 711 713 715 717 719 721 723 725 727 729 731 733 735 737 739 741 743 745 747 749 751 753 755 757 759 761 763 765 767 769 771 773 775 777 779 781 783 785 787 789 791 793 795 797 799 801 803 805 807 809 811 813 815 817 819 821 823 825 827 829 831 833 835 837 839 841 843 845 847 849 851 853 855 857 859 861 863 865 867 869 871 873 875 877 879 881 883 885 887 889 891 893 895 897 899 901 903 905 907 909 911 913 915 917 919 921 923 925 927 929 931 933 935 937 939 941 943 945 947 949 951 953 955 957 959 961 963 965 967 969 971 973 975 977 979 981 983 985 987 989 991 993 995 997 999

In [193]:
i= 0 
while True:
    i += 1
    print(i)
    if i > 10:
      break

1
2
3
4
5
6
7
8
9
10
11

In [195]:
money = 100000
hit = 0
while money > 0:
     money -= 100
     print(money, "원 남았습니다"
     if i money % 1000 == 0:
       print("피했습니다")
       continue
     hit += 1
     print(money, "원 남았습니다",hit, "대 맞았습니다")

SyntaxError: ignored