<a href="https://colab.research.google.com/github/Myun9hyun/Python/blob/main/submisson/Myun9hyun/ch02_01_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 불
True , False # 참, 거짓, true false

(True, False)

In [2]:
int(True), int(False)

(1, 0)

In [3]:
3 > 1

True

In [4]:
a = 10
b = 20
a > b

False

In [7]:
# == (동등연산자, 일치) / = (할당 연산자, 대입연산자) 
# >, <, <=, >=
'python' == 'Python', 'Python' != 'PYTHON'

(False, True)

In [10]:
# 논리연산자 (1개 이상의 불을 처리하는 연산자)
# and (그리고) : 둘 다 True여야 True가 출력
a = 15; b = 13 # 두 줄을 합쳐주는 방법
c, d = 10, 20 # 언팩킹 사용하는 방법
(a > 20) and (b > 10), (a > 20) & (b > 10)

(False, False)

In [13]:
# or (또는) : 둘 중 하나라도 True 면 True가 출력
c != 10 or d < 100, c != 10 | d < 100 # 비교 연산자의 우선순위가 논리 연산자보다 높아요 
# 웬만하면 괄호로 우선순위를 명확하게 하자
# or == |

(True, True)

In [16]:
not True, not False

/bin/bash: True,: command not found

In [17]:
bool(1), bool(0), bool("a"), bool("")

(True, False, True, False)

In [18]:
hell = "hell"
hell

'hell'

In [19]:
hell2 = 'hell'
hell3 = '''hell'''
hell4 = """hell"""
hell2, hell3, hell4

('hell', 'hell', 'hell')

In [23]:
# 여러줄 문자열
hello = """hell
oven
us
"""
print(hello)

hell
oven
us

In [25]:
s2 = """cat
holic
"""
print(s2)

cat
holic

In [29]:
# ', " 를 문자열 안에 표기하기
print("\를 사용해서 큰따옴표안에 큰 따옴표를 표현")
print('\를 사용해서 작은따옴표안에 작은 따옴표를 표현')
print('''',"를 여러줄 문자열 안에 따옴표를 표현''')
print("""',"를 여러줄 문자열 안에 따옴표를 표현""")

\를 사용해서 큰따옴표안에 큰 따옴표를 표현
\를 사용해서 작은따옴표안에 작은 따옴표를 표현
헤헤
',"를 여러줄 문자열 안에 따옴표를 표현
',"를 여러줄 문자열 안에 따옴표를 표현

In [32]:
a = [] # 리스트 -> 0개 이상의 요소를 묶은 자료형
b = [10, "단어", 1.0, True, 10 > 5]
a, b

([], [10, '단어', 1.0, True, True])

In [33]:
c = list() # 리스트랑 비슷한 시퀀스 자료형 -> 리스트로 변환
c

[]

In [41]:
# 시작점을 지정해주지 않으면 0부터 시작함
# 0, 5 / 1, 5 (시작점, 끝점) / 0, 5, 1 (시작점, 끝점, 증가폭)
range(5), range(1, 5), range(0, 5, 1)

(range(0, 5), range(1, 5), range(0, 5))

In [47]:
list(range(5)), list(range(1, 5)), list(range(0, 5, 1))

([0, 1, 2, 3, 4], [1, 2, 3, 4], [0, 1, 2, 3, 4])

In [48]:
list(map(list, (range(5), range(0, 5), range(0, 5, 2))))

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 2, 4]]

In [49]:
t = (10, 11, 12, 13, 14)
t

(10, 11, 12, 13, 14)

In [50]:
list(t)

[10, 11, 12, 13, 14]

In [51]:
t2 = 10, 12, 14, 16, 18
t2

(10, 12, 14, 16, 18)

In [54]:
t3 = (10, True, 'hello', 1.2)
t3

(10, True, 'hello', 1.2)

In [55]:
a = [1, 2, 3, 4]
tuple(a)

(1, 2, 3, 4)

In [56]:
a, b, c = [1, 2, 3]
a, b, c

(1, 2, 3)

In [57]:
d, e, f = (4, 5, 6)
d, e, f

(4, 5, 6)

In [58]:
g = [7, 8, 9]
h = (10, 11, 12)
g, h

([7, 8, 9], (10, 11, 12))