<a href="https://colab.research.google.com/github/Kimdongha96/Python/blob/main/Ch_01_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print(hello world) # 문자열을 입력했는데 ''또는 ""를 감싸주지 않았기 때문에 오류가 났다

SyntaxError: ignored

In [5]:
# alt + enter : (셀)을 실행시켜도 하단에 새로운 코드 셀을 만들어줌
print('hello world') # print(입력값) : 함수의 일종, 입력한 값(숫자,문자열)을 출력

hello world

In [6]:
# (ctrl + m) + b :(셀을 실행시키지 않고) 현재 세르이 하단에 새로운 코드 셀을 만들어줌

In [7]:
#colab은 '리눅스' 환경에서 작동 -> 터미널(입력창)을 통해 명령으로 작동하는 시스템(OS) like 윈도우,안드로이드
#리눅스의 어떤 특정한 기능을 하기 위해서는 (1) 터미널에 (2) 명령어를 넣어야 한다
# !를 앞에 붙이고 나면, 리눅스의 터미널(커널)에 명령어를 사용할 수 있음
!python --version

Python 3.8.10

In [9]:
# 파이썬은 세미콜론(:)을 안써도 된다. 쓴다해도 버그가 나진 않는다.
print("ditto") # 특정한 행을 위 아래로 복제하고 싶다 (alt+shift+위아래방향키)
print("ditto") # 특정한 행을 위 아래로 복제하고 싶다 (alt+shift+위아래방향키)
print("ditto") # 특정한 행을 위 아래로 복제하고 싶다 (alt+shift+위아래방향키)
print("OMG") # # 줄바꿈 (alt+위아래방향키)
# ctral + a: 전체 지정
# end :특정 행의 끝 -> shift (범위 지정, 블록 지정)-> home : 특정 행의 시작

ditto
ditto
ditto
OMG
뉴진스
르세라핌

In [ ]:
print("뉴진스"); print("르세라핌") # 세미클론이 있으면 다른 줄로 인식

In [10]:
# ctrl + m + - :특정 행 기준으로 셀 분할

In [16]:
#을 입력하고 뒤에 내용을 입력하면 -> 한 줄 주석
#주석으로 지정하는 단축키 ctrl + /
# print("주석") # 코드 뒤에 주석이 있어도 실행 영향 X
print("주석2")

주석2

In [20]:
...
여러 줄 주석을 할 때는
# ''' 또는 """을 입력하세요
'''
# print("안녕")

SyntaxError: ignored

In [19]:
# 문자열을 입력할 때 외부에 ''(작은따옴표)로 감쌋으면, 안에 작은 따옴표를 넣으면 x
# 굳이 넣고 싶다 -> 앞에 \를 넣어서 escap시켜서 처리해야함

In [24]:
a = 1
if a !=10: # 특정한 조건을 만족(옳을 때)시킬 때 작동하는 코드
print("10이 아니네요") # 특정한 들여쓰기 범위 내에서만 조건 관련 코드
# 들여쓰기 : tab으로 통일

IndentationError: ignored

In [26]:
if a == 10:
  print("10이네요")
  if a == 10:
    print("10이네요")

NameError: ignored

In [28]:
# 정수 (int, integer,양의 정수와 음의 정수와 0)
# 실수 (float, 실수, 소수, 소수점이 붙어 있음)
1, 1.0

(1, 1.0)

In [33]:
# type : 자료형(데이터타입)을 확인
type(1), type(1,0), type("1")
# str : string, 열, 문자열

TypeError: ignored

In [34]:
#사칙연산 -> 산술연산자, 연산자 : 1개 이상의 피연산자(항)에 대해서 특정 연산(계산)을 실행시키는 명령
1+1,2-3,5*8, 13/21

(2, -1, 40, 0.6190476190476191)

In [35]:
20/4 #정수간 (딱 떨어지게)나누기를 해도 결과값은 무조건 실수

5.0

In [37]:
20// 4 ,25//4 #몫 연산자 (소수점 밑은 버림)

(5, 6)

In [40]:
5.5//2,4//1.0,2.5//0.2 # 항 중에(피연산자 중에) 하나라도 실수라면 실수 결과값

(2.0, 4.0, 12.0)

In [45]:
# %(나머지 연산자,모듈로,모듈러스
10%3, 10//3

(1, 3)

In [50]:
# 거듭제곱 연산자 (**) / 루트 연산자도 겸함
2**10, 2**0.5, 3**(1/3)

(1024, 1.4142135623730951, 1.4422495703074083)

In [51]:
int("일") #숫자가 아니기 때문에 오류

ValueError: ignored

In [52]:
# //, %, -> 한번에
divmod(5,2) # divmod(a,b):a가 나눠지는 수, b가 나누는 수 ->(몫,나머지) (리턴값,변환값)

(2, 1)

In [53]:
3.1+2.2 #부동소수점 오류

5.300000000000001

In [54]:
2.7-1.5 #부동소수점 오류

1.2000000000000002

In [55]:
1.5*3.1

4.65

In [56]:
5.5/3.1

1.7741935483870968

In [58]:
# float -> float(...)
float(1), float(4/5), float("1.0")

(1.0, 0.8, 1.0)

In [60]:
int(float("1.0"))
#텍스트로 특정한 숫자를 받았는데, 정수화를 하고 싶어 -> 이게 소수점이 아니라는 확신이 없을 때

1

In [61]:
1 + 2 * 3

7

In [63]:
(1 + 2) * 3 #괄호 안의 값이 먼저 계산됨

9

In [73]:
x = 10 #(=)는 할당량 (==)는 같다
x

10

In [71]:
y = "The행복식당"
y

'The행복식당'

In [72]:
type(x), type(y)

(int, str)

*'=': 대입 연산자
* 같다.'==' : 동등 연산

In [77]:
x = None
print(x)

None

In [79]:
a = 12 + 13 * 10 + 5
b = 17 / 5 * 20 + 19
a + b

234.0

In [81]:
c = a + b
c

234.0

In [82]:
a = 10
a + 20

30

In [84]:
a

10

In [86]:
a = a + 20

In [88]:
a

50

In [90]:
a + = 20
a

SyntaxError: ignored

In [92]:
a % = 5
a

SyntaxError: ignored

In [93]:
d + = 10 # d가 없어서 (정의되지 않아서 ) 새로운 값을 더한 뒤 대입

SyntaxError: ignored

In [94]:
d = 10 #변수의 자리르 만드는 길 '선언', 값을 대입하는 걸 '초기화'
#초기화 !=rest / 초기화 = initialization

In [97]:
input("안녕")

안녕'안녕

"'안녕"

In [96]:
input("인사를 친절하게 해줘") # 문자열 -> 안내문

인사를 친절하게 해줘

''

In [99]:
x = input() #프롬포트에 '문자열'을 입력하는 함수(기능)
x

ㅎㅎ

'ㅎㅎ'

In [101]:
a = input("숫자를 입력해주세요 ;")
b = input("숫자를 입력해주세요 ;")
a + b

숫자를 입력해주세요 ;1
숫자를 입력해주세요 ;2

'12'

In [108]:
a = input("숫자를 입력해주세요 :")
b = input("숫자를 입력해주세요 :")

int(a) + int(b) # 덧셈 연산을 실행하기 앞서서 int가 실행이 되면서 정수로 변환2

숫자를 입력해주세요 :1
숫자를 입력해주세요 :2

3

In [107]:
a = int(input("숫자를 입력해주세요 ;")) # 변수 a에 대입하기 전에 input의 결과값을 int로 변환
b = int(input("숫자를 입력해주세요 ;"))

a + b

숫자를 입력해주세요 ;3
숫자를 입력해주세요 ;4

7

In [109]:
'안녕하세요 여러분' # 문자열 (리터럴)

'안녕하세요 여러분'

In [110]:
type("안녕하세요 여러분")

str

In [111]:
# 특정한 구분자(separator)를 기준으로 문자열을 분리 (기본값 : ' ')
"안녕하세요 여러분". split()  # 특정한 타입, 객체에 내장되어 있는 함수(기능) : 메소드(method)

['안녕하세요', '여러분']

In [112]:
'안녕하세요,여러분'.split()

['안녕하세요,여러분']

In [113]:
"안녕하세요,여러분".split(",") # 매개변수(parameter,인수)
# 매개변수에 들어가는 값 <- 인자 (argument)

['안녕하세요', '여러분']

In [114]:
a , b ="안녕하세요,여러분".split(",") 
# 2개 이상의 값이 결과로 나올 경우, 
# 해당 결과의 갯수에 맞게 변수를 위치시켜주면, 알아서 할당됨

In [115]:
a , b = input("문자열 두 개를 스페이스 기준으로 입력해주세요"). split()
a , b

문자열 두 개를 스페이스 기준으로 입력해주세요안녕 포켓몬

('안녕', '포켓몬')

In [116]:
a , b = input("문자열 두 개를 콤마(.) 기준으로 입력해주세요 :"). split()
a , b

문자열 두 개를 콤마(.) 기준으로 입력해주세요 :파이리 꼬부기

('파이리', '꼬부기')

In [118]:
a , b = input("문자열 두 개를 콤마(,) 기준으로 입력해주세요 :"). split()
a , b

문자열 두 개를 콤마(,) 기준으로 입력해주세요 :버터플 피죤투 야도란

ValueError: ignored

In [119]:
a , b = input("숫자 두 개를 입력하세요 : ").split()
a + b

숫자 두 개를 입력하세요 : 1 2

'12'

In [120]:
a , b = input("숫자 두 개를 입력하세요 : ").split()
int(a) + int(b)

숫자 두 개를 입력하세요 : 3 5

8

In [121]:
a , b = input("숫자 두 개를 입력하세요 : ").split()
a = int(a)
b = int(b)
a + b

숫자 두 개를 입력하세요 : 8 13

21

In [126]:
a , b = map(int, input("숫자 두 개를 입력하세요 : ").split()) # ()는 실행
# map(실행되기 전에 함수 , 함수를 통해서 처리하고 싶은 값들)
a + b

숫자 두 개를 입력하세요 : 1 14

15

In [ ]:
a , b = map(int, input("숫자 두 개를 입력하세요 : ").split() # ()는 실행
# map(실행되기 전에 함수 , 함수를 통해서 처리하고 싶은 값들)
a + b

In [128]:
print("a" ,"b" , "1" ") # 매개변수의 갯수가 정해져 있지 않은 함수 # args...

SyntaxError: ignored

In [134]:
print("a" , "b" , 1 , sep=' ' )
print("a" , "b" , 1 , sep='')
print("a" , "b" , 1 , sep=':')
print("a" , "b" , 1 , sep='랑 ')

a b 1
ab1
a:b:1
a랑 b랑 1

In [139]:
print("민지" , end='\n') # 자동으로 줄바꿈이 됨
print("다니엘")
print("혜인" , end='')
print('해린', end='라는 사람,\n')
print('하니')

민지
다니엘
혜인해린라는 사람,
하니

In [141]:
print("민지\n다니엘\n혜인\n해린\n하니")

민지
다니엘
혜인
해린
하니

In [143]:
1_000_000

1000000