<a href="https://colab.research.google.com/github/jyeongvv/Python_jy/blob/main/submission/jyeongvv/ch02_01_%EB%B6%88%EA%B3%BC%2B%EB%B9%84%EA%B5%90%2B%EB%85%BC%EB%A6%AC%2B%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 불과 비교, 논리 연산자

## 불과 비교 연산자 사용하기

* 프로그래밍을 하다 보면 참, 거짓을 판단해야 할 때가 많습니다. 참은 무엇인가가 맞다, 거짓은 틀리다(아니다)를 표현합니다.

* 이번에는 참(True), 거짓(False)을 나타내는 불(boolean)을 알아보겠습니다. 그리고 두 값의 관계를 판단하는 비교 연산자와 두 값의 논릿값을 판단하는 논리 연산자도 함께 알아보겠습니다.

* 여기서 비교, 논리 연산자는 프로그래밍에서 매우 광범위하게 쓰입니다. 특히 앞으로 배울 if, while 구문을 작성할 때 비교, 논리 연산자를 자주 사용합니다.

In [1]:
int(True), int(False)

(1, 0)

In [ ]:
# 불은 True, False로 표현하며 1, 3.6, 'Python'처럼 값의 일종
True, False # true, false X (java, c)

(True, False)

### 비교 연산자의 판단 결과

* 파이썬에서는 비교 연산자와 논리 연산자의 판단 결과로 True, False를 사용합니다. 즉, 비교 결과가 맞으면 True, 아니면 False입니다.

In [3]:
10 > 5

True

In [4]:
10 < 5

False

### 숫자가 같은지 다른지 비교하기

* 이제 두 숫자가 같은지 또는 다른지 비교해보겠습니다. 두 숫자가 같은지 비교할 때는 ==(equal), 다른지 비교할 때는 !=(not equal)을 사용합니다.

In [5]:
# = : 대입연산자, 할당연산자
# == : 동등 연산자
1 == 1, 2 == 1

(True, False)

In [6]:
2 != 1, 1!= 1

(True, False)

* 10과 10은 같으므로 True, 10과 5는 다르므로 True가 나옵니다. 파이썬에서 두 값이 같은지 비교할 때는 =이 아닌 ==을 사용합니다. 왜냐하면 =은 할당 연산자로 이미 사용되고 있기 때문입니다.

### 문자열이 같은지 다른지 비교하기

숫자뿐만 아니라 문자열도 ==와 != 연산자로 비교할 수 있습니다. 이때 문자열은 비교할 때 대소문자를 구분합니다. 다음과 같이 단어가 같아도 대소문자가 다르면 다른 문자열로 판단합니다.

In [8]:
'young' == 'young'

True

In [9]:
'Young' == 'young'

False

In [10]:
"young" != "Young"

True

### 부등호 사용하기

* 부등호는 수학 시간에 배운 내용과 같습니다. 큰지, 작은지, 크거나 같은지, 작거나 같은지를 판단해봅니다.

In [11]:
10 > 20

False

In [14]:
10 < 20

True

In [12]:
10 >= 20

False

In [13]:
10 <= 10

True

* 여기서 비교 기준은 첫 번째 값입니다. 따라서 첫 번째 값보다 큰지, 작은지처럼 읽습니다. 항상 이점을 기억해두세요.

* 특히 부등호를 말로 설명할 때 >은 초과, <은 미만, >=은 이상, <=은 이하라고도 합니다. 그리고 >, <은 비교할 값과 같으면 무조건 거짓입니다. 하지만 >=, <=은 비교할 값과 같으면 참입니다. 따라서 이상, 이하는 비교할 값도 포함된다는 점이 중요합니다.

### 객체가 같은지 다른지 비교하기

* 이번에는 is와 is not입니다. 같다는 ==, 다르다는 !=이 이미 있는데 왜 is, is not을 만들었을까요? is, is not도 같다, 다르다지만 ==, !=는 값 자체를 비교하고, is, is not은 객체(object)를 비교합니다.

In [15]:
1 == 1.0 # 1은 정수 , 1.0은 실수

True

In [16]:
1 is 1.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-16-2ebf4c947f31>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1.0

False

In [17]:
1 is 1

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-17-c4ba21148a2b>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1

True

In [18]:
1 is not 1.0

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-18-7a2cea8bf2ec>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 1.0

True

* 1과 1.0은 정수와 실수라는 차이점이 있지만 값은 같습니다. 따라서 ==로 비교해보면 True가 나옵니다. 하지만 1과 1.0을 is로 비교해보면 False가 나옵니다. 왜냐하면 1은 정수 객체, 1.0은 실수 객체이므로 두 객체는 서로 다르기 때문입니다. 물론 1과 1.0을 is not으로 비교하면 True가 나오겠죠?

## 논리 연산자 사용하기

* 이번에는 논리 연산자를 사용해보겠습니다. 논리 연산자는 and, or, not이 있는데 먼저 and입니다.
* `a and b`

In [ ]:
True and True # and : 둘 다 True -> True

True

In [19]:
True and False

False

In [20]:
False and True

False

In [22]:
False and False

False

In [ ]:
True & True, True & False, False & True # and(&) 연산자

* and는 두 값이 모두 True라야 True입니다. 하나라도 False이면 False가 나옵니다.


* 이번에는 or입니다.
* `a or b`

In [23]:
True or True

True

In [24]:
True or False

True

In [25]:
False or True

True

In [27]:
False or False

False

In [ ]:
True | True, True | False, False | True, False | False # |(or) 논리연산자

* or는 두 값 중 하나라도 True이면 True입니다. 두 값이 모두 False라야 False가 되죠.

* 마지막으로 not입니다.
* `not x`

In [ ]:
not True # 반전

False

In [28]:
not False

True

* not은 논릿값을 뒤집습니다. 그래서 not True는 False가 되고, not False는 True가 됩니다.

* 여기서 and, or, not 논리 연산자가 식 하나에 들어있으면 not, and, or 순으로 판단합니다.

In [30]:
not True and False or not False

False

In [31]:
(not True) and False or (not False)
(False and False) or True
False or True
True

True

* 식이 꼬여 있어서 상당히 헷갈리죠? 가장 먼저 not True와 not False를 판단하여 False and False or True가 됩니다.
* 그다음에 False and False를 판단하여 False가 나와서 False or True가 되므로 최종 결과는 True가 됩니다.

True

In [32]:
# 이 식을 괄호로 표현하면 다음과 같은 모양이 됩니다.
((not True) and False) or (not False)

True

* 순서가 헷갈릴 때는 괄호로 판단 순서를 명확히 나타내 주는 것이 좋습니다.

### 논리 연산자와 비교 연산자를 함께 사용하기

In [35]:
10 == 10 and 10 != 5 # 논리 연산자 (우선) < 비교 연산자
(10 == 10) and (10 != 5)
True and True

True

In [ ]:
10 > 5 or 10 > 3
# True or False

True

In [36]:
not 10 > 5
# not True

False

* 비교 연산자로 비교한 결과를 논리 연산자로 다시 판단했습니다. 이때는 비교 연산자(is, is not, ==, !=, <, >, <=, >=)를 먼저 판단하고 논리 연산자(not, and, or)를 판단하게 됩니다

### 정수, 실수, 문자열을 불로 만들기

* 정수, 실수, 문자열을 불로 만들 때는 bool을 사용하면 됩니다. 이때 정수 1은 True, 0은 False입니다. 만약 문자열의 내용이 'False'라도 불로 만들면 True입니다. 문자열의 내용 자체는 판단하지 않으며 값이 있으면 True입니다.

In [40]:
bool(1), bool(100), bool(0) # 정수느 실수를 bool에 넣었을 때 0인지, 아닌지를 판단 (0이면 False)
# (int) ! = 0

(True, True, False)

In [41]:
bool(2.5), bool(0.0), bool(-1.2)

(True, False, True)

In [ ]:
bool('helllo') # 어느 길이든 True, 길이가 있는 문자열

True

True