<a href="https://colab.research.google.com/github/whataLIN/Bdata23th/blob/main/ch02_09_%EB%AC%B8%EC%9E%90%EC%97%B4_%EC%84%9C%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **문자열 서식**

파이썬에서 문자열 포맷팅을 할 때는 f-string, format 메소드, 서식 지정자를 사용할 수 있습니다.

## f-string

f-string은 파이썬 3.6 이후부터 사용 가능한 문자열 포맷팅 방법 중 하나입니다. f-string을 사용하면 문자열 안에서 변수의 값을 간단하게 삽입할 수 있으며, 이를 통해 가독성과 코드 작성의 편의성이 크게 향상됩니다.

In [2]:
name="Alice"
age=25
print("이름: ",name, "\n나이: ",age,"세")

이름:  Alice
나이:  25 세

In [5]:
print(f"이름: {name}, 나이: {age}세")   #중괄호 넣으면 직접 변수 받을 수 있게 됨

이름: Alice, 나이: 25세

In [16]:
print(f"{age:02d}", f"{1:02d}",f"{age:04d}", str(age).zfill(4)) #decimal

print(f"이름: {name}, 나이: {age}세")

25 01 0025 0025
이름: Alice, 나이: 25세

In [21]:
print(f"이름:{name}, 나이 : {age}세")
print(f"{age:d}")
print(f"{age:010d}")
print(f"{age:-010d}")
print(f"{+100:-010d}")

이름:Alice, 나이 : 25세
25
0000000025
0000000025
0000000100

In [22]:
height=164

In [25]:
#f{...:f} : float
#.숫자f : 자리수 지정

f"{age:f}", f"{height:.2f}"

('25.000000', '164.00')

In [27]:
f"{age:010.4f}", f"{height:010.2f}"

('00025.0000', '0000164.00')

### format 메소드

In [ ]:
name="Alice"
age=25
height=164.3

이름: Alice, 나이: 25세
25
0000000025
+000000025
175.50
0000175.50

In [29]:
f"{age}",f"{age}",f'''{age}''',f"""{age}""" #대입가능

a=f"{age}"
b=f"{age}"

print(a+b)

2525

In [41]:
formatted_str="이름:{}, 나이:{}세".format(name,age)
print(formatted_str)

formatted_str2="이름:{name}, 나이:{age}세".format(name=name,age=age)
print(formatted_str2)

a="{}".format(age)
b="{:010d}".format(age)
c="{:+010d}".format(age)
d="{:.2f}".format(height)
e="{:010.2f}".format(height)    #줄바꿈 서식 자유로움

print(a,b,c,d,e)

이름:Alice, 나이:25세
이름:Alice, 나이:25세
25 0000000025 +000000025 164.00 0000164.00

### 서식 지정자

서식 지정자는 문자열 포맷팅에서 사용하는 기호로, 변수의 값을 특정한 형식으로 표현할 때 사용됩니다. 서식 지정자는 % 기호를 사용하여 문자열에 삽입합니다.

In [48]:
formatted_str="이름:%s, 나이:%d세"%(name,age)
print(formatted_str)

formatted_str2="이름:{name}, 나이:{age}세".format(name=name,age=age)
print(formatted_str2)

a="%d"%(age)
b="%010d"%(age)
c="%+010d"%(age)
d="%.2f"%(height)
e="%010.2f"%(height)    #줄바꿈 서식 자유로움

print(a)
print(b)
print(c)
print(d)
print(e)

이름:Alice, 나이:25세
이름:Alice, 나이:25세
25
0000000025
+000000025
164.00
0000164.00

## 서식 문자

서식 지정자에서는 %s, %d, %f 등의 서식 문자를 사용하여 출력할 값의 데이터 타입을 지정할 수 있습니다. 이 서식 문자를 사용하여 문자열, 숫자, 소수점 등을 출력할 수 있습니다. 서식 문자는 f-string, format 메소드 등에서도 활용할 수 있습니다. (%s는 기본값이라 생략됨)

%d와 %f를 사용할 때는 정수형 변수와 실수형 변수를 출력할 수 있으며, %s는 문자열 변수를 출력합니다. 이때 %s를 사용할 경우, 변수의 데이터 타입과 상관없이 모든 값을 출력할 수 있습니다.

In [49]:
# %s : 문자열을 출력할 때 사용합니다.
name="Alice"
formatted_name="이름: %s"%name
print(formatted_name)
print(f"이름: {name}")

이름: Alice
이름: Alice

In [50]:
# %d : 10진수 정수를 출력할 때 사용합니다.
age=25
formatted_age="나이:%d세"%age
print(formatted_age)
print(f"나이: {age:d}세")

나이:25세
나이: 25세

In [51]:
# %f : 실수를 출력할 때 사용합니다. 기본적으로 소수점 이하 6자리까지 출력됩니다.
height=164.3
formatted_height="키:%fcm"%height
print(formatted_height)
print(f"키: {height:.6f}cm")

키:164.300000cm
키: 164.300000cm

서식 문자를 사용하여 출력할 값의 자리수를 지정할 수도 있습니다. 자리수를 지정하면 해당 자리수만큼 출력되며, 값의 길이가 자리수보다 작으면 빈 칸이 채워집니다.

In [54]:
# %[너비]d : [너비] 자리에 출력할 숫자의 자리수를 지정합니다.
num=123
a="%d"%num
b="%5d"%num
c="%010d"%num
d="%-5d"%num #5자리까지 스페이스로 채움
e="%+5d"%num

print(a)
print(b)
print(c)
print(d)
print(e)

123
  123
0000000123
123
 +123

In [64]:
# %[너비].[정밀도]f : [너비] 자리에 출력할 숫자의 자리수를, [정밀도] 자리에 출력할 소수점 이하 자리수를 지정합니다.

pi=3.141592653589793
a="%f"%pi
b="%.2f"%pi
c="%010.2f"%pi
d="%-10.2f"%pi   #디폴트는 -
e="%+10.2f"%pi

print(a)
print(b)
print(c)
print(d)
print(e)

3.141593
3.14
0000003.14
3.14
     +3.14