<a href="https://colab.research.google.com/github/whataLIN/Bdata23th/blob/main/ch02_10_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC_%EC%9D%91%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리 응용

## 딕셔너리 조작하기

### 딕셔너리에서 키의 값 저장하기

update(키=값)은 이름 그대로 딕셔너리에서 키의 값을 수정합니다. 예를 들어 딕셔너리가 x = {'a': 10}이라면 x.update(a=90)과 같이 키에서 작은따옴표 또는 큰따옴표를 빼고 키 이름과 값을 지정합니다.

In [1]:
x={
    'a':10, 'b':20, 'c':30, 'd':40
}
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [2]:
x['a']=100
x

{'a': 100, 'b': 20, 'c': 30, 'd': 40}

In [5]:
x.update(a=50)
x

{'a': 50, 'b': 20, 'c': 30, 'd': 40}

만약 딕셔너리에 키가 없으면 키-값 쌍을 추가합니다. 딕셔너리 x에는 키 'e'가 없으므로 x.update(e=50)을 실행하면 'e': 50을 추가합니다.

In [7]:
x.update(e=50)
x

{'a': 50, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [12]:
[x.update(**{i:i}) for i in x]  #i에는 키가 들어감.

[None, None, None, None, None]

In [13]:
x   #딕셔너리 언패킹

{'a': 'a', 'b': 'b', 'c': 'c', 'd': 'd', 'e': 'e'}

update는 키-값 쌍 여러 개를 콤마로 구분해서 넣어주면 값을 한꺼번에 수정할 수 있습니다. 이때도 키가 있으면 해당 키의 값을 수정하고 없으면 키-값 쌍을 추가합니다.

In [14]:
x.update(a=900, f=60)
x

{'a': 900, 'b': 'b', 'c': 'c', 'd': 'd', 'e': 'e', 'f': 60}

update(키=값)은 키가 문자열일 때만 사용할 수 있습니다. 만약 키가 숫자일 경우에는 update(딕셔너리)처럼 딕셔너리를 넣어서 값을 수정할 수 있습니다.

In [16]:
y={1:'one',2:'two'}

y.update(1='ONE')   #변수명의 조건을 만족시켜야 update에서 키=값 형태로 대입 가능.

SyntaxError: ignored

In [18]:
y.update({1:"ONE", 2:"TWO"})
y

{1: 'ONE', 2: 'TWO'}

다른 방법으로는 리스트와 튜플을 이용하는 방법도 있습니다. update(리스트), update(튜플)은 리스트와 튜플로 값을 수정합니다. 여기서 리스트는 [[키1, 값1], [키2, 값2]] 형식으로 키와 값을 리스트로 만들고 이 리스트를 다시 리스트 안에 넣어서 키-값 쌍을 나열해줍니다(튜플도 같은 형식).

In [22]:
y.update([[2,'TWO'],[4,'FOUR'],[6,'SIX']])

### 딕셔너리에서 키-값 쌍 삭제하기

pop(키)는 딕셔너리에서 특정 키-값 쌍을 삭제한 뒤 삭제한 값을 반환합니다.

In [32]:
x={'a':10, 'b':20, 'c':30, 'd':40}
print(x)
# x.pop()   #딕셔너리는 순서가 없기 때문에 pop 사용불가능
#딕셔너리에서는 키가 있어야 pop 작동

print(x.pop('a'))
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
{'b': 20, 'c': 30, 'd': 40}

pop(키, 기본값)처럼 기본값을 지정하면 딕셔너리에 키가 있을 때는 해당 키-값 쌍을 삭제한 뒤 삭제한 값을 반환하지만 키가 없을 때는 기본값만 반환합니다.

In [ ]:
print(x.pop('e',0))       #'e'키가 없다면 return 0

0

pop 대신 del로 특정 키-값 쌍을 삭제할 수도 있습니다. 이때는 [ ]에 키를 지정하여 del을 사용합니다.

In [37]:
del x['b']
x

{'c': 30, 'd': 40}

### 딕셔너리의 모든 키-값 쌍을 삭제하기

In [39]:
# clear()는 딕셔너리의 모든 키-값 쌍을 삭제합니다.
x.clear()
x

{}

### 딕셔너리에서 키의 값을 가져오기

In [40]:
# get(키)는 딕셔너리에서 특정 키의 값을 가져옵니다.
x={
    'a':10, 'b':20, 'c':30, 'd':40
}
x['e']

KeyError: ignored

In [41]:
x.get('a')

10

get(키, 기본값)처럼 기본값을 지정하면 딕셔너리에 키가 있을 때는 해당 키의 값을 반환하지만 키가 없을 때는 기본값을 반환합니다.

In [43]:
print(x.get('e'))   #기본값 = None
print(x.get('e',9)) #기본값을 지정할 수 있다.

None
9

### 딕셔너리에서 키-값 쌍을 모두 가져오기

딕셔너리는 키와 값을 가져오는 다양한 메서드를 제공합니다.

* items: 키-값 쌍을 모두 가져옴
* keys: 키를 모두 가져옴
* values: 값을 모두 가져옴

In [45]:
# items()는 딕셔너리의 키-값 쌍을 모두 가져옵니다. entry

print(x)
x.items()

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [46]:
for i in x.items():
  print(i)

('a', 10)
('b', 20)
('c', 30)
('d', 40)

In [47]:
for k,v in x.items():
  print(k)
  print(v)

a
10
b
20
c
30
d
40

In [48]:
# keys()는 키를 모두 가져옵니다.

for k in x.keys():
  print(k)

for k in x:
  print(k)

a
b
c
d

In [50]:
# values()는 값을 모두 가져옵니다.

x.values()

dict_values([10, 20, 30, 40])

In [51]:
for v in x.values():
  print(v)

10
20
30
40

## 반복문으로 딕셔너리의 키-값 쌍을 모두 출력하기

for i in x:처럼 for 반복문에 딕셔너리를 지정한 뒤에 print로 변수 i를 출력해보면 값은 출력되지 않고 키만 출력됩니다. 그럼 키와 값을 모두 출력하려면 어떻게 해야 할까요?

이때는 for in 뒤에 딕셔너리를 지정하고 items를 사용해야 합니다.

```
for 키, 값 in 딕셔너리.items():
     반복할 코드
```

`for key, value in x.items():`는 딕셔너리 x에서 키-값 쌍을 꺼내서 키는 key에 값은 value에 저장하고, 꺼낼 때마다 코드를 반복합니다. 따라서 print로 key와 value를 출력하면 키-값 쌍을 모두 출력할 수 있습니다.

## 딕셔너리 안에서 딕셔너리 사용하기

딕셔너리는 값 부분에 다시 딕셔너리가 계속 들어갈 수 있습니다.

* `딕셔너리 = {키1: {키A: 값A}, 키2: {키B: 값B}}`

In [54]:
a={
    "삼성전자":{
        "대주주":"이재용",
        "업계순위":1,
        "취급품목":{
            "갤럭시":20000,
            "냉장고":30000
        }
    },
   "송송전자":{
       "대주주":"김송송",
       "업계순위":100,
       "취급품목":{
           "손목시계":10   
       }
   }
}

a

{'삼성전자': {'대주주': '이재용', '업계순위': 1, '취급품목': {'갤럭시': 20000, '냉장고': 30000}},
 '송송전자': {'대주주': '김송송', '업계순위': 100, '취급품목': {'손목시계': 10}}}

중첩 딕셔너리는 계층형 데이터를 저장할 때 유용합니다.

딕셔너리 안에 들어있는 딕셔너리에 접근하려면 딕셔너리 뒤에 `[ ](대괄호)`를 단계만큼 붙이고 키를 지정해주면 됩니다.

* `딕셔너리[키][키]`
* `딕셔너리[키][키] = 값`

In [55]:
a['삼성전자']

{'대주주': '이재용', '업계순위': 1, '취급품목': {'갤럭시': 20000, '냉장고': 30000}}

In [56]:
a['삼성전자']['취급품목']

{'갤럭시': 20000, '냉장고': 30000}

In [59]:
a['삼성전자']['취급품목']['갤럭시']=100000
a['삼성전자']['취급품목']['갤럭시']

100000

### 딕셔너리의 할당과 복사
---

In [65]:
a=list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
b=a
b.append('a')

In [62]:
a

{'삼성전자': {'대주주': '이재용', '업계순위': 1, '취급품목': {'갤럭시': 100000, '냉장고': 30000}},
 '송송전자': {'대주주': '김송송', '업계순위': 100, '취급품목': {'손목시계': 10}}}

In [79]:
b=a.copy()
b.append('b')
a,b

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a'], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b'])

In [78]:
c={
    'a':10, 'b':20, 'c':{'d':40}
}

In [80]:
d=c
d['e']=99
c

{'a': 10, 'b': 20, 'c': {'d': 40}, 'e': 99}

In [72]:
d=c.copy()
d['f']=1000
c,d

({'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 99},
 {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 99, 'f': 1000})

In [81]:
d['c']['d']=999
c

{'a': 10, 'b': 20, 'c': {'d': 999}, 'e': 99}

In [84]:
import copy

e=copy.deepcopy(c)
e

{'a': 10, 'b': 20, 'c': {'d': 999}, 'e': 99}

In [88]:
e['c']['d']=False
c,d,e

({'a': 10, 'b': 20, 'c': {'d': 999}, 'e': 99},
 {'a': 10, 'b': 20, 'c': {'d': 999}, 'e': 99},
 {'a': 10, 'b': 20, 'c': {'d': False}, 'e': 99})