<a href="https://colab.research.google.com/github/jaiwon880/Python_bd23_hjw/blob/main/submission/jaiwon880/ch01_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
print("Hello World") 
# 문자열 입력 시 '' ""를 감싸지 않으면 invalid syntax 오류 발생

Hello World

In [72]:
# alt + enter : 셀을 실행시키고 하단에 새로운 코드 셀을 만들어 줌.
print('Hello World') # print는 함수의 일종이고 입력한 값(숫자, 문자열...)을 출력

Hello World

In [73]:
# ctrl + m + b 셀을 실행시키지 않고 현재 셀의 하단에 새로운 코드 셀을 만들어 줌.
# colab은 리눅스 환경에서 작동 -> 터미널(입력창)을 통해서 명령어로 작동하는 OS like 윈도우, 안드로이드
# 리눅스의 어떤 특정한 기능을 하기 위해서는 (1) 터미널에 (2) 명령어를 넣어야 한다.
# 어떻게 리눅스를 작동시킬까? -> !를 앞에 붙이고 나면, 리눅스의 터미널(커널)에 명령어를 사용할 수 있음
!python --version # 리눅스 안에서 사용되고 있는 python version

Python 3.8.10

In [74]:
# 파이썬은 세미콜론(;)을 안 써도 된다. 쓴다해도 버그가 나진 않는다. (: 콜론)
# 따옴표는 큰 따옴표 사용
print("Ditto") # 특정한 행을 위 아래로 복사하고 싶다. (alt + shift + 위아래 방향키)
print("Ditto") # 특정한 행을 위 아래로 복사하고 싶다. (alt + shift + 위아래 방향키)
print("Ditto1") # 특정한 행을 위 아래로 복사하고 싶다. (alt + shift + 위아래 방향키)
print("Ditto") # 특정한 행을 위 아래로 복사하고 싶다. (alt + shift + 위아래 방향키)
# 선택 지정 shift home/end 특정 행의 시작과 끝으로 이동
# ctrl + a: 전체 지정
# end: 특정 행의 끝 -> shift (범위 지정, 블록 지정) -> homem: 특정 행의 시작
# 줄바꿈: alt + 위아래 방향키
print("뉴진스"); print("르세라핌") # 세미콜론이 있으면 다른 줄로 인식

Ditto
Ditto
Ditto1
Ditto
뉴진스
르세라핌

In [75]:
# ctrl + m + - 특정 행 기준으로 셀 분할 
print("뉴진스"); print("르세라핌") # 세미콜론이 있으면 다른 줄로 인식

뉴진스
르세라핌

In [76]:
# 주석으로 지정하는 단축키 : ctrl + /
print("주석") # 코드 뒤에 주석이 있어도 실행 영향 X
# print("주석2") # 실행이 안 됨

주석

In [77]:
'''
여러 줄 주석을 할 때는
\'\'\' 또는 """을 입력하세요
'''

'\n여러 줄 주석을 할 때는\n\'\'\' 또는 """을 입력하세요\n'

In [78]:
# 문자열을 입력할 때 외부에 ''(작은따옴표)로 감쌌으면, 안에 작은 따옴표를 넣으면 X
# 굳이 넣고 싶다 -> 앞에 \를 넣어서 escape시켜서 처리해야 함

In [79]:
a = 1
 # 특정한 조건을 만족(옳을 때)시킬 때 작동하는 코드
if a != 10:
  print("10이 아니네요") # 특정한 들여쓰기 범위내에서만 조건 관련 코드

10이 아니네요

In [80]:
if a == 10:
  print("10이네요") 
  if a == 10:
    print("10이네요")

#### 숫자

In [81]:
# 정수 (int, integer, 양의 정수와 음의 정수와 0)
# 실수 (float, 실수, 소수, 소수점이 붙어 있음)
1, 1.0

(1, 1.0)

In [82]:
# type : 자료형(데이터타입)을 확인
type(1), type(1.0), type("1") # 파이썬에서 문자(char, str) 중 기본은 str로 설정되어 있다.
# str: string, 열, 문자열

(int, float, str)

In [83]:
# 사칙연산 -> 산술연산자, 연산자: 1개 이상의 피연산자(항)에 대해서 특정 연산(계산)을 실행시키는 명령
1+1, 2-3, 5*8, 13/21 # 피보나치 수열

(2, -1, 40, 0.6190476190476191)

In [84]:
20/4 # 정수 간 (딱 떨어지게) 나누기를 해도 결과값은 무조건 실수

5.0

In [85]:
20 // 4, 25 // 4 # 몫 연산자

(5, 6)

In [86]:
5.5 // 2, 4 // 1.0, 2.5 // 0.2 # 항 중에(피연산자 중에) 하나라도 실수라면 실수 결과 값

(2.0, 4.0, 12.0)

In [87]:
# % (나머지 연산자, 모듈로, 모듈러스)
10 % 3, 10 // 3

(1, 3)

In [88]:
# 거듭제곱 연산자 (**) / 루트 연산자도 겸함
2 ** 5 , 2 ** 0.5, 3 **(1/3)

(32, 1.4142135623730951, 1.4422495703074083)

In [89]:
# 값 -> 점수 (int(...))
int(1), int(1.0), int(1*1), int("1") #int("1.0")

(1, 1, 1, 1)

In [90]:
int("1.0") # 정수로 변환할 수 없는 숫자이기 때문에 오류

ValueError: ignored

In [91]:
int("일") # 숫자가 아니기 때문에 오류
# ValueError: invalid literal for int() with base 10: 
# '일'() 안에 들어있는 literal이 십진법으로 변환할 수 있는 게 아니다.

ValueError: ignored

In [92]:
# //, % -> 한 번에 
divmod(5, 2) # divmod(a,b) : a가 나눠지는 수, b가 나누는 수 -> (몫, 나머지) (리턴값, 반환값)

(2, 1)

In [93]:
3.1 + 2.2

5.300000000000001

In [94]:
2.7 - 1.5

1.2000000000000002

In [95]:
1.5 * 3.1

4.65

In [96]:
5.5 / 3.1

1.7741935483870968

In [97]:
# float -> float(...)
float(1), float(4/5), float("1.0")

(1.0, 0.8, 1.0)

In [98]:
# 텍스트로 특정한 숫자를 받았는데, 정수화를 하고 싶음 -> 소수점이 아니라는 확신이 없을 때
int(float("1.0"))

1

In [99]:
1 + 2 * 3

7

In [100]:
(1+2)*3 # 괄호 안의 값이 먼저 계산됨

9

#### 변수

In [101]:
x = 10

In [102]:
x

10

In [103]:
y = "The 행복식당"
y

'The 행복식당'

In [104]:
type(x), type(y)

(int, str)

* `=` : 대입 연산자, 할당 연산자
* 같다, `==` : 동등 연산자

In [105]:
x = None
print(x)

None

In [106]:
a = 12 + 13 * 10 + 5
b = 17 / 5 * 20 + 19
a + b

234.0

In [107]:
c = a + b
c

234.0

In [108]:
a = 10
a + 20

30

In [109]:
a = a + 20

In [110]:
a += 20
a

50

In [112]:
a %= 5
a

0

In [113]:
d += 10 # d가 없어서 (정의되지 않아서) 새로운 값을 더한 뒤 대입

NameError: ignored

In [ ]:
d = 10 # 변수의 자리를 만드는 걸 '선언', 값을 대입하는 걸 '초기화'
# 초기화는 != reset / initialization

In [114]:
e = None
e += 10

TypeError: ignored

In [115]:
input()

안녕하세용

'안녕하세용'

In [116]:
input("인사를 친절하게 해줘 : ") # 문자열 -> 안내문

인사를 친절하게 해줘 : 헉!

'헉!'

In [117]:
x = input() # 프롬프트에 '문자열'을 입력하는 함수(기능)
x

ㅎㅎ

'ㅎㅎ'

In [118]:
type(x)

str

In [122]:
a = input("숫자를 입력해 주세요: ")
b = input("숫자를 입력해 주세요: ")

int(a) + int(b) # 덧셈 연산을 실행하기 앞서서 int가 실행이 되면서 정수로 변환
# 연산을 할 때

type(a), type(b)

숫자를 입력해 주세요: 2
숫자를 입력해 주세요: 3

(str, str)

In [125]:
a = int(input("숫자를 입력해 주세요: ")) # 변수 a에 대입하기 전에 input의 결과값을 int로 변환
b = int(input("숫자를 입력해 주세요: "))

a + b

type(a), type(b)

숫자를 입력해 주세요: 20
숫자를 입력해 주세요: 30

(int, int)

In [126]:
"안녕하세요 여러분" # 문자열 리터럴

'안녕하세요 여러분'

In [129]:
type("안녕하세요 여러분")

# 특정한 구분자(separator)를 기준으로 문자열을 분리 (기본값: ' ')
"안녕하세요 여러분".split() # 메소드(method): 특정한 타입 또는 객체에 내장되어 있는 함수(기능)
# 혼자 쓸 수 있으면 print... 함수, [.] 찍고 쓸 수 있는 거면 메소드

['안녕하세요', '여러분']

In [130]:
"안녕하세요,여러분".split(",") # 매개변수(parameter, 인수)/ 구분자
# 매개변수에 들어가는 값 <- 인자(argument)

['안녕하세요', '여러분']

In [132]:
a ,b = "안녕하세요,여러분".split(",") 
# 언패킹, 2개 이상의 값이 결과로 나올 경우
# 해당 결과의 갯수에 맞게 변수를 위치시켜주면, 알아서 할당됨!

In [133]:
a, b = input("문자열 두 개를 스페이스 기준으로 입력해 주세요: ").split()
a, b

문자열 두 개를 스페이스 기준으로 입력해 주세요: 안녕 디지몬

('안녕', '디지몬')

In [134]:
a, b = input("문자열 두 개를 (,) 기준으로 입력해 주세요: ").split(",")
a, b

문자열 두 개를 (,) 기준으로 입력해 주세요: 피카츄,라이츄

('피카츄', '라이츄')

In [135]:
a, b = input("문자열 두 개를 (,) 기준으로 입력해 주세요: ").split(",")
a, b

문자열 두 개를 (,) 기준으로 입력해 주세요: 피카츄 라이츄

ValueError: ignored

In [136]:
a, b = input("문자열 두 개를 (,) 기준으로 입력해 주세요: ").split(",")
a, b

문자열 두 개를 (,) 기준으로 입력해 주세요: 피죤투, 야도란, 버터풀

ValueError: ignored

In [137]:
a,b = input("숫자 두 개를 입력하세요 : ").split()
a + b

숫자 두 개를 입력하세요 : 1 2

'12'

In [139]:
a,b = input("숫자 두 개를 입력하세요 : ").split()
int(a) + int(b)

숫자 두 개를 입력하세요 : 3 5

8

In [141]:
a,b = input("숫자 두 개를 입력하세요 : ").split()
a = int(a)
b = int(b)
a+b

type(a+b)

숫자 두 개를 입력하세요 : 20 30

int

In [144]:
a,b = map(int,input("숫자 두 개를 입력하세요 : ").split())
# map(실행되기 전에 함수(int, float), 함수를 통해서 처리하고 싶은 값들)
a+b

# print 실행을 해서 출력을 하긴 하는데 None 타입을 가짐

숫자 두 개를 입력하세요 : 20 30

50

#### print문

In [145]:
print("a", "b", 1) # 매개변수의 갯수가 정해져 있지 않은 함수 # args

a b 1

In [147]:
# sep는 구분자를 써주면 알아서 들어감~!
print("a", "b", 1, sep=' ') 
print("a", "b", 1, sep='') # None도 아니고 빈 공간도 아니지만 값이당 
print("a", "b", 1, sep=';')  
print("a", "b", 1, sep='랑 ')

a b 1
ab1
a;b;1
a랑 b랑 1

In [157]:
print("민지", end='\n') # 자동으로 줄바꿈이 됨 (end=\n)
print("다니엘")
print("혜인", end='') # 바로 뒤에 붙음!
print("해린", end='이라는 사람,\n')
print("하니")
print("민지\n다니\n하니\n얍")


# 매개변수(parameter, 인수)/ 구분자
# 매개변수에 들어가는 값 <- 인자(argument)

민지
다니엘
혜인해린이라는 사람,
하니
민지
다니
하니
얍

In [159]:
1_000_000

1000000

In [161]:
_ # 직전에 실행된 값!

1000000