<a href="https://colab.research.google.com/github/jaiwon880/Python_bd23_hjw/blob/main/submission/jaiwon880/ch02_09_%EB%AC%B8%EC%9E%90%EC%97%B4_%EC%84%9C%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 서식

파이썬에서 문자열 포맷팅을 할 때는 f-string, format 메소드, 서식 지정자를 사용할 수 있습니다.

## f-string

f-string은 파이썬 3.6 이후부터 사용 가능한 문자열 포맷팅 방법 중 하나입니다. f-string을 사용하면 문자열 안에서 변수의 값을 간단하게 삽입할 수 있으며, 이를 통해 가독성과 코드 작성의 편의성이 크게 향상됩니다.

In [2]:
name = "Alice"
age = 25

In [4]:
print("이름:", name, "나이:",age,"세", sep="")

이름:Alice나이:25세

In [18]:
# f"..." f-string
# f"텍스트...{변수명, 리터럴(값)}" 포맷팅 된 문자열 표현
f"이름: {name}, 나이: {age}세"

'이름: Alice, 나이: 25세'

In [6]:
print(f"이름: {name}, 나이: {age}세")

이름: Alice, 나이: 25세

In [20]:
# f{...:d} 숫자(정수) 표현을 강제 (int를 씌워주는 효과)
f"{age:d}"# decimal 10진법

'25'

In [21]:
f"{0.0025:d}" # 정수가 아니면 오류가 남

ValueError: ignored

In [9]:
f"{name:d}" # decimal

ValueError: ignored

In [22]:
f"{age:0d}",f"{1:02d}", f"{age:04}", str(age).zfill(4)

('25', '01', '0025', '0025')

In [23]:
print(f"{age:+010d}")  # 총길이 양수를 나타낼 때 , 음수는 값이 0일 때

+000000025

In [28]:
height = 175.5
f"{height:.2f}" # f{...:.[표시하고싶은자리수]f}: float를 나타냄

'175.50'

In [29]:
f"{height:010.2f}" # f{...:.[표시하고싶은자리수]f}: float를 나타냄

'0000175.50'

In [30]:
f"{age}", f'{age}',f'''{age}''',f"""{age}""" # 전부 f-string으로 사용할 수 있다.

('25', '25', '25', '25')

### format 메소드

In [38]:
name = "Alice"
age = 25
height = 175.5

# formatted_str = "이름: {}, 나이: {}세".format(name,age) # 순서 설정
formatted_str2 = "이름: {name}, 나이: {age}세".format(age=age,name=name) # 키워드 기반, 순서 설정 안 해도 됨
# print(formatted_str)
print(formatted_str2)


a = "{}".format(age)
print(a)
b = "{:010d}".format(age)
print(b)
c = "{:+010d}".format(age)
print(c)
d = "{:010.2f}".format(height)
print(d)

이름: Alice, 나이: 25세
25
0000000025
+000000025
0000175.50

### 서식 지정자

서식 지정자는 문자열 포맷팅에서 사용하는 기호로, 변수의 값을 특정한 형식으로 표현할 때 사용됩니다. 서식 지정자는 % 기호를 사용하여 문자열에 삽입합니다.

In [47]:
name = "Alice"
age = 25
height = 175.5

formatted_str = "이름: %s 나이: %d세" % (name,age)
print(formatted_str)


# a = "{}".format(age)
a = "%d" % age
print(a)

# b = "{:010d}".format(age)
b = "%010d" % age
print(b)


# c = "{:+010d}".format(age)
c = "%+010d" % age
print(c)


# d = "{:010.2f}".format(height)
d = "%.2f" % height
print(d)

이름: Alice 나이: 25세
25
0000000025
+000000025
175.50

## 서식 문자

서식 지정자에서는 %s, %d, %f 등의 서식 문자를 사용하여 출력할 값의 데이터 타입을 지정할 수 있습니다. 이 서식 문자를 사용하여 문자열, 숫자, 소수점 등을 출력할 수 있습니다. 서식 문자는 f-string, format 메소드 등에서도 활용할 수 있습니다. (%s는 기본값이라 생략됨)

%d와 %f를 사용할 때는 정수형 변수와 실수형 변수를 출력할 수 있으며, %s는 문자열 변수를 출력합니다. 이때 %s를 사용할 경우, 변수의 데이터 타입과 상관없이 모든 값을 출력할 수 있습니다.

In [50]:
# %s : 문자열을 출력할 때 사용합니다.
formatted_name = "이름: %s" % name
print(formatted_name)
print(f"이름: {name}")

이름: Alice
이름: Alice

In [52]:
# %d : 10진수 정수를 출력할 때 사용합니다.
age = 25
formatted_age = "나이: %d" % age
print(formatted_name)
print(f"나이: {age:d}세")

이름: Alice
나이: 25세

In [55]:
# %f : 실수를 출력할 때 사용합니다. 기본적으로 소수점 이하 6자리까지 출력됩니다.
height = 175.5
formatted_height = "키: %fcm" % height # 기본 f는 6자리
print(formatted_height)
print(f"키: {height:.6f}cm")

키: 175.500000cm
키: 175.500000cm

서식 문자를 사용하여 출력할 값의 자리수를 지정할 수도 있습니다. 자리수를 지정하면 해당 자리수만큼 출력되며, 값의 길이가 자리수보다 작으면 빈 칸이 채워집니다.

In [56]:
# %[너비]d : [너비] 자리에 출력할 숫자의 자리수를 지정합니다.
num = 123
a = "%d" % num
b = "%5d" % num
c = "%010d" % num
d = "%-5d" % num
e = "+%d" % num

print(a,b,c,d,e)

123   123 0000000123 123   +123

In [62]:
# %[너비].[정밀도]f : [너비] 자리에 출력할 숫자의 자리수를, [정밀도] 자리에 출력할 소수점 이하 자리수를 지정합니다.
num2 = 3.1415926535

a = "%f" % num2
b = "%.2f" % num2
c = "%10.2f" % num2
d = "%010.2f" % num2
e = "%-10.2f" % num2
f = "%+f" % num2

print(a,b,c,d,e,f)

3.141593 3.14       3.14 0000003.14 3.14       +3.141593