<a href="https://colab.research.google.com/github/jaiwon880/Python_bd23_hjw/blob/main/submission/jaiwon880/ch04_02_%EB%82%A0%EC%A7%9C%EC%99%80_%EC%8B%9C%EA%B0%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 날짜/시간

## 로그 기록할 때 날짜 포맷써서 많이 씀

파이썬으로 프로그래밍을 하다보면 날짜와 시간 처리를 해야 하는 경우가 자주 생깁니다. 여기서는 날짜와 시간을 표현하는 time과 datetime 모듈을 소개하겠습니다.

## time 모듈로 현재 시간 구하기

먼저 시간을 표현하는 time 모듈입니다. 다음과 같이 time 모듈의 time 함수를 호출하면 1970년 1월 1일 0시 0분 0초 이후 경과한 시간을 초단위로 반환합니다. 시간대는 UTC(Universal Time Coordinated, 협정 세계시)를 사용합니다.

In [1]:
import time

time.time()

1678176566.7770665

## 날짜와 시간 형태로 변환하기

time 모듈의 localtime 함수를 사용하면 time에서 반환한 값을 날짜와 시간 형태로 변환해줍니다. 특히 localtime이라는 이름 그대로 현재 지역의 시간대를 사용합니다. 우리나라에서 실행했다면 UTC에 9시간을 더한 KST(Korea Standard Time, 한국 표준시)를 사용합니다(UTC+09:00).

* time.localtime(초)

In [3]:
time.localtime(time.time())

time.struct_time(tm_year=2023, tm_mon=3, tm_mday=7, tm_hour=8, tm_min=10, tm_sec=6, tm_wday=1, tm_yday=66, tm_isdst=0)

`여기서 tm_wday는 요일(월요일~일요일, 0~6), tm_yday는 1월 1일부터 경과한 일수, tm_isdst는 서머타임 여부입니다.`

## 날짜/시간 포맷에 맞춰서 출력하기

time.localtime으로 만든 객체는 time.strftime 함수를 사용하여 원하는 날짜/시간 포맷으로 출력할 수 있습니다.

* time.strftime('포맷', 시간객체)

In [5]:
time.strftime("%Y-%m-%d", time.localtime(time.time()))

'2023-03-07'

In [6]:
time.strftime("%c", time.localtime(time.time()))

'Tue Mar  7 08:13:02 2023'

### 날짜/시간 포맷 코드

|코드|설명|예|
|-|-|-|
|%a|요일 줄임말|Sun, Mon, ... Sat|
|%A|요일|Sunday, Monday, ..., Saturday|
|%w|요일을 숫자로 표시, 월요일~일요일, 0~6|0, 1, ..., 6|
|%d|일|01, 02, ..., 31|
|%b|월 줄임말|Jan, Feb, ..., Dec|
|%B|월|January, February, …, December|
|%m|숫자 월|01, 02, ..., 12|
|%y|두 자릿수 연도|01, 02, ..., 99|
|%Y|네 자릿수 연도|0001, 0002, ..., 2017, 2018, 9999|
|%H|시간(24시간)|00, 01, ..., 23|
|%I|시간(12시간)|01, 02, ..., 12|
|%p|AM, PM|AM, PM|
|%M|분|00, 01, ..., 59|
|%S|초|00, 01, ..., 59|
|%Z|시간대|대한민국 표준시|
|%j|1월 1일부터 경과한 일수|001, 002, ..., 366|
|%U|1년중 주차, 월요일이 한 주의 시작으로|00, 01, ..., 53|
|%W|1년중 주차, 월요일이 한 주의 시작으로|00, 01, ..., 53|
|%c|날짜, 요일, 시간을 출력, 현재 시간대 기준|Sat May 19 11:14:27 2018|
|%x|날짜를 출력, 현재 시간대 기준|05/19/18|
|%X|시간을 출력, 현재 시간대 기준|'11:44:22'|

In [8]:
from time import sleep

sleep(10)
print("10초대기")

10초대기

### datetime 모듈로 현재 날짜와 시간 구하기

datetime.datetime으로 현재 날짜와 시간을 구할 때는 today 메서드를 사용합니다(현재 시간대 기준, KST).

* datetime.datetime.today()

In [10]:
from datetime import datetime

datetime.today() # 현재 컴퓨터 시간 기준

datetime.datetime(2023, 3, 7, 8, 15, 42, 464518)

만약 datetime 모듈로 현재 시간을 구할 때 UTC를 기준으로 구하고 싶다면 now 메서드에 pytz 모듈로 시간대를 지정해주어야 합니다.

* datetime.datetime.now(시간대객체)

In [12]:
# pip install pytz
import pytz # py.tz
# UTC 기준
datetime.now(pytz.timezone("UTC"))

datetime.datetime(2023, 3, 7, 8, 16, 56, 480756, tzinfo=<UTC>)

In [13]:
# 아시아 기준
datetime.now(pytz.timezone("Asia/Seoul"))

datetime.datetime(2023, 3, 7, 17, 17, 45, 344394, tzinfo=<DstTzInfo 'Asia/Seoul' KST+9:00:00 STD>)

### 특정 날짜와 시간으로 객체 만들기

또는, datetime.datetime에 연, 월, 일, 시, 분, 초, 마이크로초를 넣어서 객체를 만들 수도 있습니다.

* datetime.datetime(year, month, day, hour=0, minute=0, second=0, microsecond=0)

In [15]:
print(datetime(2023, 3, 7))
print(datetime(2023, 3, 7, 5))
print(datetime(2023, 3, 7, 5, 18,0,))

2023-03-07 00:00:00
2023-03-07 05:00:00
2023-03-07 05:18:00

### 문자열로 날짜/시간 객체 만들기

strptime 메서드를 사용하면 문자열 형태의 날짜를 datetime.datetime 객체로 만들 수 있습니다. 이때는 날짜/시간 포맷을 지정해줘야 합니다.

* datetime.datetime.strptime('날짜문자열', '포맷')

In [16]:
datetime.strptime("2023-03-07", "%Y-%m-%d") # p -> parsing 해석해서 데이터화 시킴
# str을 파싱해서 time으로 만듦

datetime.datetime(2023, 3, 7, 0, 0)

### 날짜/시간 객체를 문자열로 만들기

반대로 datetime 객체를 문자열로 만들 수도 있습니다. 이때는 strftime 메서드를 사용합니다.

* datetime객체.strftime('포맷')

In [18]:
d= datetime(2023, 3, 7, 5, 18,0,0)
d.strftime("%Y-%m-%d"), d.strftime("%c")  # 원본이 바뀌진 않음

('2023-03-07', 'Tue Mar  7 05:18:00 2023')

### 날짜와 시간 속성에 접근하기

datetime.datetime 객체는 연( year), 월(month), 일(day), 시(hour), 분(minute), 초(second), 마이크로초(microsecond) 속성을 따로 가져올 수 있습니다.

In [19]:
d.year, d.month, d.day, d.hour, d.minute, d.second, d.microsecond

(2023, 3, 7, 5, 18, 0, 0)

### 날짜와 시간 차이 계산하기

datetime 모듈에서 유용한 기능이 바로 datetime.timedelta입니다. datetime.timedelta는 두 날짜와 시간 사이의 차이를 계산할 때 사용합니다.
```
datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0,
                   minutes=0, hours=0, weeks=0)
```

In [24]:
from datetime import timedelta

d = datetime.now()
d

datetime.datetime(2023, 3, 7, 8, 27, 11, 512268)

In [25]:
d - timedelta(days=20)

datetime.datetime(2023, 2, 15, 8, 27, 11, 512268)

In [27]:
d - timedelta(days=20) # -- 일 간의 차이, ~시간차

datetime.datetime(2023, 2, 15, 8, 27, 11, 512268)

In [28]:
datetime(2023, 3, 10) - datetime(2023, 3, 7)

datetime.timedelta(days=3)

In [31]:
from dateutil.relativedelta import relativedelta

datetime.now() - relativedelta(months=3)

datetime.datetime(2022, 12, 7, 8, 28, 42, 528386)