<a href="https://colab.research.google.com/github/whataLIN/Bdata23th/blob/main/ch03_01_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수

프로그래밍을 하다 보면 들어가는 값만 바뀔 뿐 같은 코드가 계속 반복되는 경우가 많습니다. 특히 같은 코드를 반복해서 작성하면 코드도 길어지고 중간에 실수할 가능성이 높아집니다.

파이썬은 함수(function)라는 기능을 제공하는데 특정 용도의 코드를 한 곳에 모아 놓은 것을 뜻합니다. 그래서 함수는 처음 한 번만 작성해 놓으면 나중에 필요할 때 계속 불러 쓸 수 있습니다. 예를 들어 지금까지 사용했던 print, input 등도 모두 파이썬에서 미리 만들어 둔 함수입니다.

즉, 함수를 사용하면 이런 점이 좋습니다.

* 코드의 용도를 구분할 수 있다.
* 코드를 재사용할 수 있다.
* 실수를 줄일 수 있다.

## 함수 만들기

함수는 def에 함수 이름을 지정하고 ( )(괄호)와 :(콜론)을 붙인 뒤 다음 줄에 원하는 코드를 작성합니다(함수의 이름을 짓는 방법은 변수와 같습니다). 이때 코드는 반드시 들여쓰기를 해야 합니다(들여쓰기 규칙은 if, for, while과 같습니다).

```
def 함수이름():
     코드
```

여기서 def는 정의하다(**def**ine)에서 따온 키워드입니다.

In [2]:
def hello():
  print("안녕하세요")

### 함수 호출하기

함수를 사용하는 방법을 "함수를 호출(call)한다"라고 부릅니다.

In [3]:
# 함수()
hello()

안녕하세요

### 함수 작성과 함수 호출 순서

함수를 만들고 호출할 때 주의할 점이 있는데, 바로 함수를 만들기 전에 함수를 먼저 호출하면 안 된다는 점입니다. 즉, 다음과 같이 함수를 먼저 호출한 뒤 함수를 만들 수는 없습니다.

In [4]:
b

b="a"

NameError: ignored

In [5]:
hello2()

def hello2():
  print("hello2")         #파이썬은 호이스팅 x

NameError: ignored

함수를 먼저 호출하면 함수가 정의(define)되지 않았다는 에러가 발생합니다. 왜냐하면 파이썬 코드는 위에서 아래로 순차적으로 실행되기 때문입니다. 반드시 함수를 먼저 만든 뒤에 함수를 호출해야 합니다.

### 빈 함수 만들기

In [7]:
# 내용이 없는 빈 함수를 만들 때는 코드 부분에 pass를 넣어줍니다.
def fun():
  pass

fun()

In [9]:
def 설거지():       #상위모듈 - 함수보다 하단에 있는 모듈 불러오기 가능
  그릇모으기()      #하위모듈
  세제뿌리기()
  헹구기()
  말리기()

def 그릇모으기():
  pass

def 세제뿌리기():
  print("세제를 뿌렸습니다.")

def 헹구기():
  pass

def 말리기():
  pass

설거지()

세제를 뿌렸습니다.

나중에 다른 사람이 만든 파이썬 소스 코드를 보다 보면 pass를 자주 접할 수 있습니다.

pass는 아무 일을 하지 않아도 함수의 틀을 유지할 필요가 있을 때 사용합니다.

## 매개변수 (parameter)

함수에서 값을 받으려면 ( )(괄호) 안에 변수 이름을 지정해주면 됩니다. 특히 이 변수를 매개변수(parameter)라고 부릅니다.

```
def 함수이름(매개변수1, 매개변수2):
    코드
```

In [10]:
def plus(a,b):
  print(a+b)

plus(3,4)

7

In [11]:
a=100
plus(50,20)

70

함수를 호출할 때 넣는 값을 인수(argument)라고 부릅니다.

## 함수의 결과를 반환하기

함수 안에서 return을 사용하면 값을 함수 바깥으로 반환합니다(return에 값을 지정하지 않으면 None을 반환).

```
def 함수이름(매개변수):
    return 반환값
```

In [14]:
def minus(a,b):
  c=a-b
  return c

a=minus(70,49)
print(a)

21

30

return으로 반환하는 값은 반환값이라고 하며 함수를 호출해준 바깥에 결과를 알려주기 위해 사용합니다.

In [ ]:
# 반환값은 변수에 저장하지 않고 바로 다른 함수에 넣을 수도 있습니다.
print(lotto())

### return으로 함수 중간에서 빠져나오기

In [ ]:
def concat(a,b):
  if a is not str:
    return
  

c=concat("안녕","ㅅ세상아")
print(c)

5입니다.

return은 함수 중간에서 빠져나올 때 자주 사용합니다. 보통은 if와 조합해서 특정 조건일 때 함수 중간에서 빠져나옵니다.

## 함수에서 값을 여러 개 반환하기

함수에서 값을 여러 개 반환할 때는 다음과 같이 return에 값이나 변수를 ,(콤마)로 구분해서 지정하면 됩니다.

```
def 함수이름(매개변수):
    return 반환값1, 반환값2
```

In [21]:
def my_divmod(a,b):
  c=a//b
  d=a%b
  return c,d

In [22]:
a,b=my_divmod(100,3)
print(a,b)

33 1

# 함수 심화

## 위치 인수와 리스트 언패킹 사용하기

함수에 인수를 순서대로 넣는 방식을 위치 인수(positional argument)라고 합니다. 즉, 인수의 위치가 정해져 있습니다.

In [23]:
print(10,20,30)

10 20 30

### 위치 인수를 사용하는 함수를 만들고 호출하기

In [25]:
def print_numbers(a,b,c):
  print(a)
  print(b)
  print(c)

print_numbers(10,20,30)

10
20
30

In [26]:
print_numbers(10, 20, 30)

10 20 30

In [27]:
print_numbers(10,20)

TypeError: ignored

### 언패킹 사용하기

인수를 순서대로 넣을 때는 리스트나 튜플을 사용할 수도 있습니다. 다음과 같이 리스트 또는 튜플 앞에 *(애스터리스크)를 붙여서 함수에 넣어주면 됩니다.

* `함수(*리스트)`
* `함수(*튜플)`

In [29]:
x=[1**(1/2),2**(1/2),3**(1/2)]
x

[1.0, 1.4142135623730951, 1.7320508075688772]

In [32]:
print_numbers(x[0],x[1],x[2])

1.0
1.4142135623730951
1.7320508075688772

In [33]:
print_numbers(*x)

1.0
1.4142135623730951
1.7320508075688772

In [36]:
# 단, 이때 함수의 매개변수 개수와 리스트의 요소 개수는 같아야 합니다.
# 만약 개수가 다르면 함수를 호출할 수 없습니다.
print_numbers(*[10,20,30])

10
20
30

### 가변 인수 함수 만들기

그럼 위치 인수와 리스트 언패킹은 어디에 사용할까요? 이 기능들은 인수의 개수가 정해지지 않은 가변 인수(variable argument)에 사용합니다. 즉, 같은 함수에 인수 한 개를 넣을 수도 있고, 열 개를 넣을 수도 있습니다. 또는, 인수를 넣지 않을 수도 있습니다.

다음과 같이 가변 인수 함수는 매개변수 앞에 *를 붙여서 만듭니다.

```
def 함수이름(*매개변수):
    코드
```

In [38]:
from IPython.utils.process import arg_split

def print_numbers(*args):
  if not len(args):
    print("매개변수를 1개 이상 넣어 주세요.")
    return
  if len(args)==2:
    print(f"연결 : {args[0]}+{args[1]}")
    return str(args[0])+str(args[1])
  for arg in arg_split:
    print(arg)

매개변수 이름은 원하는 대로 지어도 되지만 관례적으로 arguments를 줄여서 args로 사용합니다. 특히 이 args는 튜플이라서 for로 반복할 수 있습니다.

In [41]:
print_numbers()
print_numbers(10,20)
print_numbers(10,20,30,40)

매개변수를 1개 이상 넣어 주세요.
연결 : 10+20

TypeError: ignored

In [ ]:
# 이렇게 함수에 인수 여러 개를 직접 넣어도 되고, 리스트(튜플) 언패킹을 사용해도 됩니다.

10
10
20
30
40

### 고정 인수와 가변 인수를 함께 사용하기

고정 인수와 가변 인수를 함께 사용할 때는 고정 매개변수를 먼저 지정하고, 그 다음 매개변수에 *를 붙여주면 됩니다.

In [43]:
def my_fun(a,*args):
  if a=="sum":
    return sum(args)
  if a=="avg":
    return sum(args)//len(args)
  if a=="count":
    return len(args)
  print("지원하지 않는 기능입니다.")

my_fun("sum",1,4,6,3)

14

단, 이때 def print_numbers(*args, a):처럼 *args가 고정 매개변수보다 앞쪽에 오면 안 됩니다. 매개변수 순서에서 *args는 반드시 가장 뒤쪽에 와야 합니다.

## 키워드 인수 사용하기

파이썬에서는 인수의 순서와 용도를 매번 기억하지 않도록 키워드 인수(keyword argument)라는 기능을 제공합니다. 키워드 인수는 말 그대로 인수에 이름(키워드)을 붙이는 기능인데 키워드=값 형식으로 사용합니다.

* `함수(키워드=값)`

In [49]:
def introduce(name,age,address):
  print(f'이름 : {name}')
  print(f'나이 : {age}')
  print(f'주소 : {address}')
introduce("이규린",24,"안양시 만안구")

이름 : 이규린
나이 : 24
주소 : 안양시 만안구

In [102]:
introduce(age=24, name="이규린", address="안양시 만안구")

이름 : 이규린
나이 : 24
거주지 : 안양시 만안구

In [ ]:
# 키워드 인수를 사용하면 인수의 순서를 맞추지 않아도 키워드에 해당하는 값이 들어갑니다.
  introduce("이규린",24,"안양시 만안구")

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

## 키워드 인수와 딕셔너리 언패킹 사용하기

지금까지 함수를 호출할 때 키워드 인수로 직접 값을 넣었습니다. 이번에는 딕셔너리를 사용해서 키워드 인수로 값을 넣는 딕셔너리 언패킹을 사용해보겠습니다. 다음과 같이 딕셔너리 앞에 **(애스터리스크 두 개)를 붙여서 함수에 넣어줍니다.

* `함수(**딕셔너리)`

In [ ]:
def introduce(name,age,address):
  print(f'이름 : {name}')
  print(f'나이 : {age}')
  print(f'주소 : {address}')

In [53]:
a={
  "name":"고길동",
  "age":40,
  "address":"쌍문동"
}

이제 딕셔너리에 '키워드': 값 형식으로 인수를 저장하고, 앞에 **를 붙여서 함수에 넣어줍니다. 이때 딕셔너리의 키워드(키)는 반드시 문자열 형태라야 합니다.

In [57]:
introduce(**a)        #키워드:값 형태로 딕셔너리 언패킹.
introduce(*a)         #키 리스트 형태로 리스트언패킹

이름 : 고길동
나이 : 40
주소 : 쌍문동
이름 : name
나이 : age
주소 : address

**x처럼 딕셔너리를 언패킹하면 딕셔너리의 값들이 함수의 인수로 들어갑니다.

딕셔너리 언패킹을 사용할 때는 함수의 매개변수 이름과 딕셔너리의 키 이름이 같아야 합니다. 또한, 매개변수 개수와 딕셔너리 키의 개수도 같아야 합니다.

TypeError: ignored

### *를 두 번 사용하는 이유

그런데 딕셔너리는 **처럼 *를 두 번 사용할까요? 왜냐하면 딕셔너리는 키-값 쌍 형태로 값이 저장되어 있기 때문입니다. 먼저 *를 한 번만 사용해서 함수를 호출해봅니다.

In [58]:
introduce(*a)

이름 : name
나이 : age
주소 : address

딕셔너리를 한 번 언패킹하면 키를 사용한다는 뜻이 됩니다. 따라서 **처럼 딕셔너리를 두 번 언패킹하여 값을 사용하도록 만들어야 합니다.

In [59]:
introduce(**a)

이름 : 고길동
나이 : 40
주소 : 쌍문동

### 키워드 인수를 사용하는 가변 인수 함수 만들기

키워드 인수를 사용하는 가변 인수 함수는 매개변수 앞에 **를 붙여서 만듭니다.

```
def 함수이름(**매개변수):
    코드
```

In [61]:
def introduce(**kwargs):        #kw+args. 관례적으로 일케씀
  for kw, args in kwargs.items():
    print(f"{kw} : {args}")

In [63]:
introduce(**a)

name : 고길동
age : 40
address : 쌍문동

In [66]:
introduce(weight=43, height=164, nickname="kitschh")

weight : 43
height : 164
nickname : kitschh

매개변수 이름은 원하는 대로 지어도 되지만 관례적으로 keyword arguments를 줄여서 kwargs로 사용합니다. 특히 이 kwargs는 딕셔너리라서 for로 반복할 수 있습니다.

In [73]:
def introduce(**kwargs):        #kw+args. 관례적으로 일케씀
  print(f"이름 : {kwargs.get('name','없음')}")
  print(f"나이 : {kwargs.get('age',-99)}")
  print(f"거주지 : {kwargs.get('address','주소불명')}")

introduce()

이름 : 없음
나이 : -99
거주지 : 주소불명

인수 함수를 만들 수 있습니다. 그리고 이런 함수를 호출할 때는 키워드와 인수를 각각 넣거나 딕셔너리 언패킹을 사용하면 됩니다.

보통 **kwargs를 사용한 가변 인수 함수는 다음과 같이 함수 안에서 특정 키가 있는지 확인한 뒤 해당 기능을 만듭니다.

### 고정 인수와 가변 인수(키워드 인수)를 함께 사용하기

고정 인수와 가변 인수(키워드 인수)를 함께 사용할 때는 다음과 같이 고정 매개변수를 먼저 지정하고, 그 다음 매개변수에 **를 붙여주면 됩니다.

In [72]:
def introduce(repeat, **kwargs):
  for i in range(repeat):
    print(f"이름 : {kwargs.get('name','없음')}")
    print(f"나이 : {kwargs.get('age',-99)}")
    print(f"거주지 : {kwargs.get('address','주소불명')}")


introduce(4, name="붕붕이",address="서울",age="220")

이름 : 붕붕이
이름 : 220
이름 : 서울
이름 : 붕붕이
이름 : 220
이름 : 서울
이름 : 붕붕이
이름 : 220
이름 : 서울
이름 : 붕붕이
이름 : 220
이름 : 서울

단, 이때 `def personal_info(**kwargs, name):`처럼 `**kwargs`가 고정 매개변수보다 앞쪽에 오면 안 됩니다. 매개변수 순서에서 `**kwargs`는 반드시 가장 뒤쪽에 와야 합니다.

### 위치 인수와 키워드 인수를 함께 사용하기

함수에서 위치 인수를 받는 `*args`와 키워드 인수를 받는 `**kwargs`를 함께 사용할 수도 있습니다. 대표적인 함수가 print인데 print는 출력할 값을 위치 인수로 넣고 sep, end 등을 키워드 인수로 넣습니다. 다음과 같이 함수의 매개변수를 `*args`, `**kwargs`로 지정하면 위치 인수와 키워드 인수를 함께 사용합니다.

In [75]:
def my_fun(*args, **kwargs):      #args 먼저 와야댐
  print(*args, **kwargs)

In [76]:
my_fun(1,2,3,sep=':',end='')      #print함수의 속성도 제어 가능

1:2:3

In [132]:
import random

def game(start,end,*args,multiple=2,**kwargs):
  #플레이어의 이름을 받고 - name
  #플레이어가 지불한 금액을 받음. - money
  #둘다 없으면 게임플레이를 할 수 없음

  if 'name' not in kwargs:
    return print("이름을 입력해주세요!")
  if 'money' not in kwargs:
    return print("금액을 지불해주세요!")
  if not len(args):
    return print("당첨 숫자를 입력해주세요!")

  
  #수뽑끼이
  number=random.choice(range(start,end+1))

  #for i in range(start,end+1):
    #args는 당첨숫자
  if number in args:
    print(f"당첨~~~~ {number} / \\{kwargs['money'] * 2}")
    return kwargs['money']*multiple
  else:
    print("실패입니다.")
    return 0

In [82]:
game()

TypeError: ignored

In [133]:
game(1,6,name="이규린")
game(start=1,end=6,name="이규린")
game(1,6,name="이규린",money=10000)
game(1,6,3,name="이규린",money=10000)
game(1,6,*(1,2,3,4,5,6,7,8,9,10,11),name="이규린",money=10000)

금액을 지불해주세요!
금액을 지불해주세요!
당첨 숫자를 입력해주세요!
당첨~~~~ 3 / \20000
당첨~~~~ 4 / \20000

20000

In [127]:
seed_money=100_000

In [139]:

m=seed_money*0.05

print("$$게임시작$$")
result = game(1,2,1,multiple=3,name="이규린",money=m)

seed_money = seed_money-m
seed_money += result

print(f"게임 후 시드머니 : {seed_money}")

$$게임시작$$
당첨~~~~ 1 / \10299.024278125
게임 후 시드머니 : 113289.267059375

```
단, 이때 def custom_print(**kwargs, *args):처럼
**kwargs가 *args보다 앞쪽에 오면 안 됩니다.
매개변수 순서에서 **kwargs는 반드시 가장 뒤쪽에 와야 합니다.

특히 고정 매개변수와 *args, **kwargs를 함께 사용한다면 
def custom_print(a, b, *args, **kwargs):처럼 
매개변수는 고정 매개변수, *args, **kwargs 순으로 지정해야 합니다.
```

## 매개변수에 초깃값 지정하기

지금까지 함수를 호출할 때 항상 인수를 넣어서 값을 전달했습니다. 그러면 인수를 생략할 수는 없을까요? 이때는 함수의 매개변수에 초깃값을 지정하면 됩니다. 초깃값은 다음과 같이 함수를 만들 때 매개변수=값 형식으로 지정합니다.

```
def 함수이름(매개변수=값):
    코드
```

매개변수의 초깃값은 주로 사용하는 값이 있으면서 가끔 다른 값을 사용해야 할 때 활용합니다. 대표적인 예가 print 함수인데, print 함수의 sep는 초깃값이 ' '(공백)으로 지정되어 있어서 대부분 그대로 사용하고, 가끔 sep에 다른 값을 넣어서 사용합니다.

이름:  홍길동
나이:  30
주소:  비공개

In [140]:
# 매개변수에 초깃값이 지정되어 있더라도 값을 넣으면 해당 값이 전달됩니다.
introduce("홍길동",30,"서울시 용산")

TypeError: ignored

In [147]:
def my_cal(interest, tax=0.14):
  return interest*(1-tax*1.1)

In [143]:
my_cal(1_000_000)

846000.0

In [144]:
my_cal(1_000_000,0.1)

890000.0

In [146]:
def my_cal2(money, rate=0.05, tax=0.14):
  return money*rate*(1-tax*1.1)

In [148]:
my_cal2(1_000_000)

42300.0

In [149]:
my_cal2(1_000_000, rate=0.12, tax=0)

120000.0

### 초깃값이 지정된 매개변수의 위치

매개변수의 초깃값을 지정할 때 한 가지 주의할 점이 있습니다. 초깃값이 지정된 매개변수 다음에는 초깃값이 없는 매개변수가 올 수 없습니다.

SyntaxError: ignored

초깃값이 지정된 매개변수는 뒤쪽에 몰아주면 됩니다.
```
def personal_info(name, age, address='비공개'):
def personal_info(name, age=0, address='비공개'):
def personal_info(name='비공개', age=0, address='비공개'):
```

# 람다 표현식

람다 표현식은 식 형태로 되어 있다고 해서 람다 표현식(lambda expression)이라고 부릅니다. 특히 람다 표현식은 함수를 간편하게 작성할 수 있어서 다른 함수의 인수로 넣을 때 주로 사용합니다.

## 람다 표현식으로 함수 만들기

In [151]:
#일종의 list comprehension

def plus_ten(x):
  return x+10

plus_ten(1)

11

람다 표현식은 다음과 같이 lambda에 매개변수를 지정하고 :(콜론) 뒤에 반환값으로 사용할 식을 지정합니다.

* `lambda 매개변수들: 식`

In [152]:
lambda x: x+10 #람다객체 생성. 현재 호출 대기중

실행을 해보면 함수 객체가 나오는데, 이 상태로는 함수를 호출할 수 없습니다. 왜냐하면 람다 표현식은 이름이 없는 함수를 만들기 때문입니다. 그래서 람다 표현식을 익명 함수(anonymous function)로 부르기도 합니다.

lambda로 만든 익명 함수를 호출하려면 다음과 같이 람다 표현식을 변수에 할당해주면 됩니다.

In [153]:
plus_ten=lambda x:x+10
plus_ten(12)    #함수처럼 사용 가능

22

### 람다 표현식 자체를 호출하기

람다 표현식은 변수에 할당하지 않고 람다 표현식 자체를 바로 호출할 수 있습니다. 다음과 같이 람다 표현식을 ( )(괄호)로 묶은 뒤에 다시 ( )를 붙이고 인수를 넣어서 호출하면 됩니다.

* `(lambda 매개변수들: 식)(인수들)`

In [154]:
(lambda x:x+10)(100)

110

### 람다 표현식 안에서는 변수를 만들 수 없다

람다 표현식에서 주의할 점은 람다 표현식 안에서는 새 변수를 만들 수 없다는 점입니다. 따라서 반환값 부분은 변수 없이 식 한 줄로 표현할 수 있어야 합니다. 변수가 필요한 코드일 경우에는 def로 함수를 작성하는 것이 좋습니다.

In [163]:
(lambda x:y=10;x+y)

SyntaxError: ignored

In [164]:
# 단, 람다 표현식 바깥에 있는 변수는 사용할 수 있습니다.
y=10
(lambda x: x+y)(1)

11

In [169]:
#함수 외부->내부 변수전달 가능
#함수 내부->외부 변수전달 불가능

def add(x,y):
  return x+y

def add_power(x,y):
  return (x,y)**2

z=2
def add_power2(x,y):
  return (x+y)**z

In [185]:
global w = 0

SyntaxError: ignored

In [180]:
#지역변수는 대입할 수 없음

def fun():
  w+=1
  return w

In [181]:
fun()

UnboundLocalError: ignored

In [166]:
z=3
add_power2(10,10)

8000

In [168]:
(lambda x,y:(x+y)**z)(10,20)

27000

In [167]:
f="{.2f}".format

def add_float(a,b):
  return f(a+b)

add_float(10.0,27.99999)

AttributeError: ignored

### 람다 표현식을 인수로 사용하기

람다 표현식을 사용하는 이유는 함수의 인수 부분에서 간단하게 함수를 만들기 위해서 입니다. 이런 방식으로 사용하는 대표적인 예가 map입니다.

In [187]:
list(map(int,["11","12","13"]))

[11, 12, 13]

In [188]:
list(map(lambda x: int(x)**2, ["11","12","13"]))

[121, 144, 169]