<a href="https://colab.research.google.com/github/Hyunsung1994/Python_Encore-Track/blob/main/submission/JuHS/ch02_02_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시퀀스

In [8]:
# 시퀀스 : 0개 이상의 원소가 나열되어서 묶여 있는 자료형
# list, tuple, range, str
# [] : 대괄호 list
# () :소괄호 tuple
# "" or '' or '''''' or """""" : str

## in / not in

In [10]:
# 값 in 시퀀스 객체: <-> for 변수명 in 시퀀스 객체:
"파이썬" in ["파이썬", "자바", "자바스크립트"]

True

In [11]:
a = "파이썬"
b = ["파이썬", "자바", "자바스크립트"]
a in b # bool -> 참과 거짓

True

In [14]:
c = "C언어"
c in b, c not in b

(False, True)

In [20]:
name = "주현성"
"주" in name, "현성" in name

(True, True)

In [26]:
sentence = "아버지가 방에 들어가신다"
"아버지" in sentence, "어머니" in sentence

(True, False)

## 연결 (+)

In [28]:
a = ["사과", "배", "고라니"]
b = [1, 2, 3, 4, 5]
a + b # 연결(Concatenate)

['사과', '배', '고라니', 1, 2, 3, 4, 5]

In [31]:
a, b

(['사과', '배', '고라니'], [1, 2, 3, 4, 5])

In [32]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [33]:
"이삭" + "토스트"

'이삭토스트'

In [36]:
list(range(10)) + list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
print("안녕하세요", 1, "학년입니다.")

안녕하세요 1 학년입니다.

In [40]:
"안녕하세요" + 1 + "학년입니다." # int + str : 안됨!

TypeError: ignored

In [42]:
"안녕하세요." + str(1) + "학년입니다."

'안녕하세요.1학년입니다.'

##반복(*; asterisk)

In [48]:
# 연결을 n번 이상하는, (시퀀스 객체) * n, n * (시퀀스 객체)
[1, 10, 100, 100] * 3

[1, 10, 100, 100, 1, 10, 100, 100, 1, 10, 100, 100]

In [50]:
[1, 10, 100, 100] + [1, 10, 100, 100] + [1, 10, 100, 100]

[1, 10, 100, 100, 1, 10, 100, 100, 1, 10, 100, 100]

In [52]:
[0] * 7 # 0을 7개를 가진 리스트

[0, 0, 0, 0, 0, 0, 0]

In [55]:
[0] * 0 # 0 이하의 숫자를 대입하면, 빈 리스트

[]

In [66]:
range(4) * 4

TypeError: ignored

In [67]:
tuple(range(4)) * 4

(0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3)

##len()

In [71]:
# Jave : array, length()
# JavaScript : lenght
# Python : len(array)
len([1, 2, 3]), len((1, 2, 3)), len(range(2, 5, 2)), len("문자열")

(3, 3, 2, 3)

##index

In [75]:
# 0부터 시작, 전체 길이 -1
a = list(range(1, 10, 2))
print(a)

[1, 3, 5, 7, 9]

In [77]:
a[2], a[2-1], a[0]

(5, 3, 1)

In [79]:
name = "김나나씨"
name[0], name[3]

('김', '씨')

In [81]:
# 음수 index : 뒤에서부터 카운트, len(시퀀스객체) -n
# a, a[-n] = a[len(a)-1]
print(a)
a[-1], a[len(a)-1]

[1, 3, 5, 7, 9]

(9, 9)

In [84]:
a[len(a)]

IndexError: ignored

## 요소에 값 할당하기
* element : 요소, 구성요소, 원소.

In [98]:
a = [0] * 5
print(a)
a[0] = 5
a[1] = 13
a[2] = 34
a[3] = 88
a[4] = 100
a # 원본에 할당

[0, 0, 0, 0, 0]

[5, 13, 34, 88, 100]

## del 시퀀스객체[인덱스]

In [99]:
print(a)
del a[1]
print(a)

[5, 13, 34, 88, 100]
[5, 34, 88, 100]

In [100]:
a

[5, 34, 88, 100]

## 슬라이스

In [103]:
# 스퀀스객체[시작인덱스:끝인덱스]
# 시퀀스객체[시작:], 시퀀스객체[:끝]
# 시퀀스객체[시작:끝:증가폭]
# 시퀀스객체[::증가폭]
a = list(range(0, 100, 10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [105]:
# 슬라이스는 원본에 영향을 미치지 않고 사본 만드는 방법
a[0:4], len(a), a[0:10]

([0, 10, 20, 30], 10, [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [107]:
a[1:1] # 빈리스트 : 시작점 = 끝점

[]

In [109]:
a[3:5]

[30, 40]

In [113]:
a[3:-1], a[3:len(a)-1]

([30, 40, 50, 60, 70, 80], [30, 40, 50, 60, 70, 80])

In [118]:
print(a)
list(range(1, 5, 2)), a[1:5:2], a[slice(1, 5, 2)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

([1, 3], [10, 30], [10, 30])

In [120]:
a[:], a, a[0:len(a)]

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [122]:
a[1:], a[1:len(a)]

([10, 20, 30, 40, 50, 60, 70, 80, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90])

In [125]:
a[:5], a[0:5], a[0:5:1]

([0, 10, 20, 30, 40], [0, 10, 20, 30, 40], [0, 10, 20, 30, 40])

In [129]:
a[::2], a[0:len(a):2]

([0, 20, 40, 60, 80], [0, 20, 40, 60, 80])

In [140]:
print(a)
a[::-1], a[len(a)::-1], a[0:len(a):-1]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

([90, 80, 70, 60, 50, 40, 30, 20, 10, 0],
 [90, 80, 70, 60, 50, 40, 30, 20, 10, 0],
 [])

In [142]:
a[20:0:-1], a[20::-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10], [90, 80, 70, 60, 50, 40, 30, 20, 10, 0])

In [144]:
s = "hello world"
s[::-1], s[::2], s[1:3]

('dlrow olleh', 'hlowrd', 'el')

In [176]:
# 할당하기 -> 특정한 슬라이스 범위에 새로운 값들을 끼워넣기
# 리스트 only, 갯수가 일치할 필요
a = [1, 2, 3, 4, 5]
print(a[1:3])
a[1:3] = [6, 7, 8, 9]
a

[2, 3]

[1, 6, 7, 8, 9, 4, 5]

In [156]:
b[1:10:2]

[1, 3, 5, 7, 9]

In [160]:
b[1:10:2] = [0] * 5
b

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [161]:
b[1:10:2] = [0]

ValueError: ignored

In [177]:
print(a)

[1, 6, 7, 8, 9, 4, 5]

In [178]:
del a [2:5]
a

[1, 6, 4, 5]

# 딕셔너리

In [180]:
d = {
    "key" : "value"
}
d

{'key': 'value'}

In [194]:
young = {
    "말" : "많음",
    "체력" : "딸림",
    "타고오는지하철" : 1,
    "잔소리여부" : True,
    "좋아하는언어" : ["파이썬", "자바", "자바스크립트"]
}

In [193]:
# k, v = 1:1 대응
kim = {
    "height" : 170,
    "weight" : 80,
    "height" : 180,
    "weight" : 85
} # 중괄호로 묶어야 한다. 'KEY:VALU,'로 값들이 표현
kim

{'height': 180, 'weight': 85}

In [195]:
#스퀀스형 중에 리스트와, 딕셔너리 자체만 키값으로 쓸 수 없음

In [197]:
{
    1: {
        2: {
            3: {
                4: {
                    
                }
            }
        }
    }
}

{1: {2: {3: {4: {}}}}}

In [199]:
kim

{'height': 180, 'weight': 85}

In [201]:
kim['height']

180

In [202]:
kim['salary'] = 3000

In [203]:
kim

{'height': 180, 'weight': 85, 'salary': 3000}

In [204]:
kim['salary'] = 4000

In [206]:
kim

{'height': 180, 'weight': 85, 'salary': 4000}

In [208]:
kim['IQ'] # Key Error

KeyError: ignored

In [212]:
'IQ' in kim # 시퀀스 객체 (in) - 요소확인 / 딕셔너리 (in) - 키 / for in - 반복

False

In [214]:
len(kim)

3

In [216]:
list(kim)

['height', 'weight', 'salary']

# 조건문

## if

In [218]:
switch = True
if switch: # if (...): 조건식 -> 최종적으로 bool형태로 표현될 수 있는 값
    print("아 밝다~") # if 본문

아 밝다~

In [ ]:
temperature = 40
if temperature > 38:
    print("아 덥다~")

## else

In [223]:
temperature = 40
if temperature > 38:
    print("아 덥다~")
else: # temperature <= 38
    print("괜찮아")

아 덥다~

## pass

In [226]:
temperature = 40
if temperature > 38:
    print("아 덥다~")
else: # temperature <= 38
    pass # block 유지 때문에

아 덥다~

In [227]:
pass

In [229]:
if True:
    pass
else:
    print('hello')

In [231]:
name = "홍길동"

if name == "홍길동":
    print(name)

홍길동

In [235]:
if "홍" in input("이름이 무엇인가요? :"):
    print("Welcome")

이름이 무엇인가요? :홍길동
Welcome

## 삼항연산자(조건부 표현식)

In [237]:
a = None
b = True
if b:
    a = 10
else:
    a = 100
a

10

In [239]:
a = 10 if b else 100 # (True 값) if (조건식) else (False 값)
a

10

In [241]:
a = "환타"

if a == "콜라":
    print("콜라 드세요")
elif a == "사이다":
    print("사이다 드세요")
elif a == "환타":
    print("환타 드세요")

환타 드세요

# 반복문

## for

In [248]:
for i in range(10): # range랑 같이 쓰면 정수 -> i
    print(i)

0
1
2
3
4
5
6
7
8
9

In [255]:
# range(n) : n회 반복
for i in "hello world": # range가 아닌 시퀀스형태의 자료형? list -> v;value / string -> c;charater
    print(i) # 루프를 돈다

h
e
l
l
o

w
o
r
l
d

In [257]:
a = ["배", "사과", "바나나"]
for i in a :
    print(i)

배
사과
바나나

In [259]:
for i in reversed(a): # reverse + ed : (뒤집혀져)새롭게 형성된 데이터
    print(i)

바나나
사과
배

In [269]:
a, list(reversed(a)), a[::-1]

(['배', '사과', '바나나'], ['바나나', '사과', '배'], ['바나나', '사과', '배'])

## while

In [275]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [282]:
i = 0 # 초기식
while i < 10: # while 조건식
    print(i) #...
    i += 1 # 변화식

0
1
2
3
4
5
6
7
8
9

In [286]:
i = 0 # 초기식
while i < 10: # while 조건식
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [288]:
money = 100
hit = 0
while money > 0:
    money -= 10
    hit += 1
    print(money, "원 남았습니다", hit, "대 맞았습니다.")

90 원 남았습니다 1 대 맞았습니다.
80 원 남았습니다 2 대 맞았습니다.
70 원 남았습니다 3 대 맞았습니다.
60 원 남았습니다 4 대 맞았습니다.
50 원 남았습니다 5 대 맞았습니다.
40 원 남았습니다 6 대 맞았습니다.
30 원 남았습니다 7 대 맞았습니다.
20 원 남았습니다 8 대 맞았습니다.
10 원 남았습니다 9 대 맞았습니다.
0 원 남았습니다 10 대 맞았습니다.

## break, continue

In [293]:
for i in range(1000):
    print(i, i ** 2)
    if i ** 2 > 100:
        break

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121

In [299]:
for i in range(1,20):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [301]:
for i in range(1,20):
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19

In [302]:
i = 0
while True:
    i +=1
    print(i)
    if i > 10:
        break

1
2
3
4
5
6
7
8
9
10
11

In [306]:
money = 100
hit = 0
while money > 0:
    money -= 5
    if money % 1000 == 0:
        print("피했습니다.")
        continue
    hit += 1
    print(money, "원 남았습니다. ", hit, "대 맞았습니다.")

95 원 남았습니다.  1 대 맞았습니다.
90 원 남았습니다.  2 대 맞았습니다.
85 원 남았습니다.  3 대 맞았습니다.
80 원 남았습니다.  4 대 맞았습니다.
75 원 남았습니다.  5 대 맞았습니다.
70 원 남았습니다.  6 대 맞았습니다.
65 원 남았습니다.  7 대 맞았습니다.
60 원 남았습니다.  8 대 맞았습니다.
55 원 남았습니다.  9 대 맞았습니다.
50 원 남았습니다.  10 대 맞았습니다.
45 원 남았습니다.  11 대 맞았습니다.
40 원 남았습니다.  12 대 맞았습니다.
35 원 남았습니다.  13 대 맞았습니다.
30 원 남았습니다.  14 대 맞았습니다.
25 원 남았습니다.  15 대 맞았습니다.
20 원 남았습니다.  16 대 맞았습니다.
15 원 남았습니다.  17 대 맞았습니다.
10 원 남았습니다.  18 대 맞았습니다.
5 원 남았습니다.  19 대 맞았습니다.
피했습니다.