<a href="https://colab.research.google.com/github/Myun9hyun/Python/blob/main/submission/Myun9hyun/ch01_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(hello world) # 문자열을 입력했는데 "" 또는 ''를 감싸주지 않았다.

SyntaxError: ignored

In [ ]:
# alt + enter : (셀)을 실행시키고 하단에 새로운 코드셀을 만들어줌
print('Hello World') # print(입력값) : 함수의 일종 , 입력한 값(숫자, 문자열 ...) 을 출력

Hello World

In [ ]:
# (ctrl + m ) + b : (셀을 실행시키지 않고) 현재 셀의 하단에 새로운 코드 셀을 만들어줌
# colab 은 리눅스 환경에서 작동 -> 터미널(입력창) 을 통해서 명령어로 작동하는 OS(like 윈도우, 안드로이드)
# 라눅스의 어떤 특정한 기능을 하기 위해서는 (1) 터미널에 (2) 명령어를 넣어야 한다
# !를 앞에 붙이고 나먄, 리눅스의 터미널(커널)에 명령어를 사용할 수 았음
!python --version

Python 3.8.10

In [ ]:
# 파이썬은 세미콜론을 안써도 된다. 쓴다해도 버그가 나진 않는다.
print("Ditto") # 특정한 행을 위 아래로 복제하고 싶다 (alt + shift ↓↑)
print("Ditto") # 특정한 행을 위 아래로 복제하고 싶다 (alt + shift ↓↑)
print("Attention") # 특정한 행을 위 아래로 이동 (alt + ↓↑)
# ctrl + a : 전체 지정
# end : 특정 행의 끝 -> shift (범위 지정, 블록 지정) -> home : 특정 행의 시작
print("뉴진스"); print("르세라핌") # 세미콜론이 있으면 다른 줄로 인식ㅡ

Ditto
Ditto
Attention
뉴진스
르세라핌

In [ ]:
# ctrl + m + - : 특정 행 기준으로 셀 분할
sqld adsp 빅분기
data 데이터 자격 검정
데이터 전문가 포럼

In [ ]:
# 을 입력하고 뒤에 내용을 입력하면 -> 한 줄 주석
# 주석으로 지정하는 단축키 : ctrl + /
print("주석") # 코드 뒤에 주석이 있어도 실행 영향 x 
# print("주석2") # 실행이 안됨

주석

In [ ]:
'''
여러 줄 주석을 할 때는
\' ' ' 또는 """을 입력하세요
'''

print("안녕")

안녕

In [ ]:
# 문자열을 입력할 때 외부에 ''(작은 따옴표)로 감쌌으면, 안에 작은 따옴표를 넣으면 x
# 굳이 넣고 싶다 -> 앞에 |를 넣어서 escape시켜서 처리해야함

In [ ]:
a = -1
if a != 10 : # 특정한 조선을 만족(옳을 때) 시킬 때 작동하는 코드
  print("10이 아니네요") # 특정한 들여쓰기 범위 내에서만 조건 관련 코드
# 들여쓰기 : Tab으로 통일

10이 아니네요

In [ ]:
# 정수 (int, integer, 양의 정수와 음의 정수와 0)
# 실수 (float, 실수, 소수, .0같은 소수점이 붙어 있음)
1, 1.0

(1, 1.0)

In [ ]:
# type : 자료형(데이터 타입)을 확인
type(1), type(1.0), type("1")

(int, float, str)

In [ ]:
# 사칙연산 -> 산술연산자, 연산자 : 1개 이상의 피연산자에 대해서 특정 연산(계산)을 실행시키는 명령
1 + 1, 2 - 3, 5 * 8, 14 / 3

(2, -1, 40, 4.666666666666667)

In [ ]:
20 / 4 # 정수 간 (딱 떨어지게) 나누기를 해도 결과값은 무조건 실수

5.0

In [ ]:
20 // 4 , 25 // 4 # 몫 연산자(소수점 밑은 버림)

(5, 6)

In [ ]:
5.5 // 2, 4 // 1.0 , 2.5 // 0.2 # 항 중에 (피연산자 중에 ) 하나라도 실수라면 살수 결과값

(2.0, 4.0, 12.0)

In [ ]:
# %(나머지 연산자, 모듈러, 모듈러스)
10 % 3, 10 // 3

(1, 3)

In [ ]:
# 거듭제곱 연산자 (**) 
2 ** 5 # 분수를 입력 시 루트
31 ** (1/3)

3.1413806523913927

In [ ]:
# 값 -> 정수 (int(...))
int(1) , int(1.0), int(1 * 1), int("1")

(1, 1, 1, 1)

In [2]:
int(1.0) # 정수로 변환할 수 없는 숫자 문자열이기 때문에 오류

1

In [ ]:
int("일")  # 숫자가 아니기 때문에 오류

In [ ]:
# //, % 연산을 한번에
divmod(5, 2) # divmod(a , b) : a가 나눠지는 수, b가 나누는 수 -> (몫, 나머지) (리턴값, 반환값)

(2, 1)

In [ ]:
3.1 + 2.2

5.300000000000001

In [ ]:
2.7 - 1.5 # 부동소수점 오류

1.2000000000000002

In [ ]:
1.5 * 3.1

4.65

In [ ]:
5.5 / 3.1

1.7741935483870968

In [ ]:
# float -> float(...) 
float(1), float(4 / 5), float("1.0")

(1.0, 0.8, 1.0)

In [ ]:
# 텍스트로 특정한 숫자를 받았는데, 정수화를 하고 싶어 -> 이게 소수점이 아니라는 확신이 없을 때
int(float("1.0"))

1

In [ ]:
1 + 2 * 3

7

In [ ]:
(1 + 2) * 3 # 괄호 안의 값이 먼저 계산됨

9

In [ ]:
x = 10

In [ ]:
y = "The 행복식당"
y

'The 행복식당'

In [ ]:
type(x), type(y)

(int, str)

* '=' : 대입 연산자
* 같다, '==' : 동등 연산자

In [ ]:
x = None 
print(x)

None

In [ ]:
a = 12 + 13 * 10 + 5
b = 17 / 5 * 20 + 19

a + b

234.0

In [ ]:
c = a + b
c

234.0

In [ ]:
a = 10
a + 20

30

In [ ]:
a

10

In [ ]:
a = a + 20

In [ ]:
a

30

In [ ]:
a += 20
a

50

In [ ]:
a %= 5
a

0

In [1]:
d = 10 # d가 없어서 (정의되지 않아서) 새로운 값을 더한 뒤 대입

In [ ]:
d = 10 # 변수의 자리를 만드는 걸 '선언' , 값을 대입하는 걸 '초기화'
# 초기화 != reset / 초기화 = initialization

In [ ]:
input()

안녕

'안녕'

In [ ]:
input("인사를 친절하게 해줘 : ") # 문자열 -> 안내문

인사를 친절하게 해줘 : 놉

'놉'

In [ ]:
x = input() #  프롬프트에 '문자열'을 입력하는 함수(기능)
x

x는 어려워

'x는 어려워'

In [ ]:
type(x)

str

In [ ]:
a = input("숫자를 입력해 주세요 : ")
b = input("숫자를 입력해 주세요 : ")

a + b

숫자를 입력해 주세요 : a
숫자를 입력해 주세요 : s

'as'

In [ ]:
a = input("숫자를 입력해 주세요 : ")
b = input("숫자를 입력해 주세요 : ")

int(a) + int(b) # 덧셈 연산을 실행하기 앞서서 int가 실행이 되면서 정수로 변환

In [ ]:
a = int(input("숫자를 입력해 주세요 : ")) # 변수 a에 대입하기 전에 input의 결과값을 int로 변환
b = int(input("숫자를 입력해 주세요 : ")) # 변수 b에 대입하기 전에 input의 결과값을 int로 변환

a + b

숫자를 입력해 주세요 : 1
숫자를 입력해 주세요 : 2

3

In [ ]:
'안녕하세요 여러분' # 문자열 (리터럴)

'안녕하세요 여러분'

In [ ]:
type('안녕하세요 여러분')

str

In [ ]:
# 특정한 구분자(separator)를 기준으로 문자열을 분리(기본값 : ' '(공백))
"안녕하세요 여러분". split() # 특정한 타입 또는 객체에 내장되어 있는 함수(기능) : 메소드(method)

In [ ]:
"안녕하세요,여러분".split()

['안녕하세요,여러분']

In [ ]:
"안녕하세요 여러분".split()

['안녕하세요', '여러분']

In [ ]:
"안녕하세요,여러분".split(",") # 매개변수(parameter, 인수)
# 매개변수에 들어가는 값 <- 인자(argument)

['안녕하세요', '여러분']

In [ ]:
a, b = "안녕하세요,여러분".split(",") 
# 2개 이상의 값이 결과로 나올 경우, 
# 해당 결과의 갯수에 맞게 변수를 위치시켜주면, 알아서 할당됨.

In [ ]:
a, b = input("문자열 두 개를 스페이스 기준으로 입력해주세요 : ").split()
a, b

문자열 두 개를 스페이스 기준으로 입력해주세요 : 안녕 디지몬

('안녕', '디지몬')

In [ ]:
a, b  = input("문자열 두 개를 콤마(,) 기준으로 입력해주세요 : ").split(",")
a, b

문자열 두 개를 콤마(,) 기준으로 입력해주세요 : 버, 야, 피

('버', ' 야', ' 피')

In [ ]:
a, b = input("숫자 두 개를 입력하세요 : ").split()
a + b

숫자 두 개를 입력하세요 : 1 2

'12'

In [ ]:
a, b = input("숫자 두 개를 입력하세요 : ").split()
int(a) + int(b)

숫자 두 개를 입력하세요 : 3 4

7

In [ ]:
a, b = input("숫자 두 개를 입력하세요 : ").split()
a = int(a)
b = int(b)

a + b

숫자 두 개를 입력하세요 : 1 2

3

In [ ]:
a, b = map(int, input("숫자 두 개를 입력하세요 : ").split()) # ()는 실행
# map(실행되기 전의 함수, 함수를 통해서 처리하고 싶은 값들)
a + b

숫자 두 개를 입력하세요 : 10 55

65

In [ ]:
a, b = map(float, input("숫자 두 개를 입력하세요 : ").split()) # ()는 실행
# map(실행되기 전의 함수, 함수를 통해서 처리하고 싶은 값들)
a + b

숫자 두 개를 입력하세요 : 10 21

31.0

In [ ]:
a, b = map(print, input("숫자 두 개를 입력하세요 : ").split()) # ()는 실행
# map(실행되기 전의 함수, 함수를 통해서 처리하고 싶은 값들)
a + b

숫자 두 개를 입력하세요 : 1 2
1
2

TypeError: ignored

In [ ]:
print("Hello world")

Hello world

In [ ]:
print("a","b", 1) # 매개변수의 갯수가 정해져 있지 않은 함수 # args

a b 1

In [ ]:
print("a","b", 1, sep=' ') # 매개변수의 갯수가 정해져 있지 않은 함수 # args
print("a","b", 1, sep='')
print("a","b", 1, sep=';')
print("a","b", 1, sep=' 랑 ')

a b 1
ab1
a;b;1
a 랑 b 랑 1

In [ ]:
print("민지", end='\n') # 자동으로 줄바꿈화 됨(end='\n')
print("다니엘")
print("혜인", end='')
print("해린", end='(이)라는 사람.\n')
print("하니")

민지
다니엘
혜인해린(이)라는 사람.
하니

In [ ]:
print("민지\n다니엘\n혜인\n해린\n하니")

민지
다니엘
혜인
해린
하니

In [ ]:
print("민지")

민지