<a href="https://colab.research.google.com/github/Myun9hyun/Python/blob/main/submission/Myun9hyun/ch02_02_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시퀀스

In [1]:
# 시퀀스 : 0개 이상의 원소가 나열되어서 묶여 있는 자료형
# list : tuple, range, string(str) : 문자열
[] # 대괄호
() # 소괄호
"", '' , '''''', """""" # 문자열

('', '', '', '')

## in , notin

In [3]:
# 값 in 시퀀스 객체 <-> for 변수명 in 시퀀스 객체:
"파이썬" in ["파이썬", "자바", "자바스크립트"]

True

In [6]:
a = "파이썬"
b = ["파이썬", "자바", "자바스크립트"]
a in b # bool -> 참과 거짓.(있나 없나?)

True

In [9]:
c = "C언어"
c in b, c not in b

(False, True)

In [13]:
name = "김명현"
"김" in name, "명현" in name, "김현" in name

(True, True, False)

In [15]:
sentence = "아버지가 방에 들어가신다"
"아버지" in sentence , "가방" in sentence, "어머니" not in sentence

(True, False, True)

## 연결(+)

In [18]:
a = ["사과", "배", "고라니"]
b = [1, 2, 3, 4, 5, 6]
a + b # 연결 (concatenate)

['사과', '배', '고라니', 1, 2, 3, 4, 5, 6]

In [20]:
a, b

(['사과', '배', '고라니'], [1, 2, 3, 4, 5, 6])

In [22]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [24]:
"이삭" + "토스트"

'이삭토스트'

In [25]:
range(10) + range(10)

TypeError: ignored

In [27]:
list(range(10)) + list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
print("안녕하세요", 1, "학년입니다.")

안녕하세요 1 학년입니다.

In [32]:
"안녕하세요" + 1 +  "학년입니다" # int + str X

TypeError: ignored

In [ ]:
"안녕하세요" + str(1) + "학년입니다"

##반복(*)

In [36]:
# 연결을 n번 이상하는, (시퀀스 객체) * n, n * (시퀀스 객체)
[1,  10, 100, 1000] * 3

(1, 10, 100, 1000, 1, 10, 100, 1000, 1, 10, 100, 1000)

In [38]:
[1,  10, 100, 1000] + [1,  10, 100, 1000] + [1,  10, 100, 1000]

[1, 10, 100, 1000, 1, 10, 100, 1000, 1, 10, 100, 1000]

In [40]:
[0] * 7 # 0을 7개 가진 리스트 만들기

[0, 0, 0, 0, 0, 0, 0]

In [42]:
[0] * 0 # 0 이하의 숫자를 넣으면 빈 리스트가 나온다,

[]

In [44]:
(0) * 0 # 튜플도 빈 튜플이 나옴.

0

In [48]:
tuple(range(2)) * 3 # range도 list 혹은 tuple 씌워주면 가능

(0, 1, 0, 1, 0, 1)

## len()

In [49]:
# 자바 : arra.length(), 자바스크립트 : array.length, 파이썬 : len(array)
len([1, 2, 3]), len((1,2,3)), len(range(2, 5, 2)), len("문자열")

(3, 3, 2, 3)

## index

In [54]:
# 0부터 시작, 전체 길이 -1
a = list(range(100, 600, 100))
print(a)

[100, 200, 300, 400, 500]

In [52]:
a[1] # 두번째 인덱스 출력. 원하는 인덱스 : 전체길이 - 1

200

In [56]:
# 음수 입력 시 뒤에서 부터 출력
a[-1] # 맨뒤 인덱스 출력

500

In [57]:
name = "김나나씨"
name[0], name[3]

('김', '씨')

In [58]:
# 음수인덱스 : 뒤에서 부터 카운트, len(시퀀스객체) - n
# a, a[-n] = a[len(a)-n]
print(a)
a[-1], a[len(a) - 1]

[100, 200, 300, 400, 500]

(500, 500)

## 요소에 값 할당하기
* element, 요소, 구성요소, 원소.

In [69]:
a = [0] * 5
print(a)
a[0] = 5
a[1] = 13
a[2] = 34
a[3] = 89
a[4] = 100
a # 원본에 영향

[0, 0, 0, 0, 0]

[5, 13, 34, 89, 100]

In [63]:
a[5] # a안에 5번째 요소가 없어서 오류 출력.

IndexError: ignored

## del

In [71]:
# del 시퀀스객체[인덱스]
print(a)
del a[2]
a

[5, 13, 34, 89, 100]

[5, 13, 89, 100]

In [ ]:
s = "book"
del s[2]

## 슬라이스

In [72]:
# 시퀀스객체[시작인덱스:끝인덱스]
# 시퀀스객체[시작:], 시퀀스객체[:끝]
# 시퀀스객체[시작:끝:증가폭]
# 시퀀스객체[::증가폭]
a = list(range(0, 100, 10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [77]:
# 슬라이스는 원본에 영향을 미치지않고 사본 만드는 방법
a[0:4], len(a), a[0:10], a[0:100]

([0, 10, 20, 30],
 10,
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [79]:
a[1:1] # 빈리스트

[]

In [81]:
a[3:5]

[30, 40]

In [83]:
a[3:-1], a[3:len(a)-1]

([30, 40, 50, 60, 70, 80], [30, 40, 50, 60, 70, 80])

In [89]:
list(range(1, 5, 2)), a[1:5:2], a[slice(1, 5, 2)]

([1, 3], [10, 30], [10, 30])

In [91]:
# 전체를 출력하기
a[:] , a, a[0:len(a)]

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [94]:
# 0 빼고 전체
a[1:], a[1:len(a)]

([10, 20, 30, 40, 50, 60, 70, 80, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90])

In [97]:
a[::-1],  a[len(a)::-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10, 0],
 [90, 80, 70, 60, 50, 40, 30, 20, 10, 0])

In [99]:
a[20:0:-1], a[20::-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10], [90, 80, 70, 60, 50, 40, 30, 20, 10, 0])

In [102]:
s = "Hello, world!"
s[::-1], s[::2], s[1:3]

('!dlrow ,olleH', 'Hlo ol!', 'el')

In [114]:
# 할당하기 -> 특정한 슬라이스 범위에 새로운 값들을 끼워넣기
# 리스트 only, 갯수가 일치할 필요
a = [1, 2, 3, 4, 5]
print(a[1:3])
a[1:3] = [6, 7, 8, 9]
a

[2, 3]

[1, 6, 7, 8, 9, 4, 5]

In [116]:
b = list(range(20))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [118]:
b[1:10:2]

[1, 3, 5, 7, 9]

In [122]:
b[1:10:2] = [0] * 5
b

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [124]:
print(a)

[1, 6, 7, 8, 9, 4, 5]

In [126]:
del a[2:5]
a

[1, 6]

# 딕셔너리

In [128]:
d = {
    "key" : "value"
}
d

{'key': 'value'}

In [130]:
young = {
    "말" : "많음",
    "체력" : "저조",
    "지하철" : "1호선",
    "잔소리" : True,
    "좋아하는 언어 " : ["파이썬", "자바", "자바스크립트"]
}

In [132]:
kim = {
    "height" : 170,
    "weight" : 70,
    "height" : 180
} # 중괄호로 묶어야한다. KEY: VALUE 로 값들이 표현
kim

{'height': 180, 'weight': 70}

In [134]:
# 시퀀스형중에 리스트와, 딕셔너리 자체만 키값으로 쓸 수 없음.
{range(0, 5): 1}

{range(0, 5): 1}

In [136]:
kim["height"]

180

In [140]:
kim["salary"] = 3000
kim

{'height': 180, 'weight': 70, 'salary': 3000}

In [142]:
kim["IQ"]
# kim 내부에 IQ라는 key 값이 없어 오류.

KeyError: ignored

In [144]:
# 오류 없이 key값이 있는지 확인 하려면 in 으로 확인해보기.
# 시퀀스 객체(in) / 딕셔너리 - 키(in) / for in - 반복
"IQ" in kim

False

In [146]:
"IQ" not in kim

True

In [148]:
len(kim) # key의 갯수

3

In [150]:
list(kim) # dict -> list 감싸주면 -> key를 원소로 가지는 리스트

['height', 'weight', 'salary']

# 조건문

## if

In [151]:
switch = True
if switch: # if (...) : 조건식 -> 최종적으로 bool 형태로 표현될 수 있는 값
  print("아 밝다") # if 본문

아 밝다

In [152]:
temperature = 40
if temperature > 38:
  print("아 덥다")

아 덥다

In [153]:
temperature = 30
if temperature > 38:
  print("아 덥다")

## else

In [154]:
temperature = 30
if temperature > 38:
  print("아 덥다")
else : # temperature <= 38 위의 조건문에서 초과였으므로, else에서는 이하로 설정됨.
  print("괜찮은데?")

괜찮은데?

## pass

In [156]:
temperature = 30
if temperature > 38:
  print("아 덥다")
else : 
  pass # block 유지 때문에 존재.

In [158]:
pass

In [160]:
if True :
  pass
else :
  print("Hello")

In [163]:
name = "김땡땡"

if name == "김땡땡":
  print("웰컴")

웰컴

In [165]:
if "김" in name:
  print("하이")

하이

## 삼항연산자

In [167]:
a = None 
b = True
if b:
  a = 10
else :
  a = 100
a

10

In [169]:
a = 10 if b else 100 # True 값 if (조건식) else (False 값)
a

10

In [170]:
a = "환타"

if a == "콜라":
  print("콜라 드세요")
elif a == "사이다":
  print("사이다 드세요")
if a == "환타":
  print("환타 드세요")

환타 드세요