<a href="https://colab.research.google.com/github/Myun9hyun/Python/blob/main/submission/Myun9hyun/ch02_02_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시퀀스

In [1]:
# 시퀀스 : 0개 이상의 원소가 나열되어서 묶여 있는 자료형
# list : tuple, range, string(str) : 문자열
[] # 대괄호
() # 소괄호
"", '' , '''''', """""" # 문자열

('', '', '', '')

## in , notin

In [3]:
# 값 in 시퀀스 객체 <-> for 변수명 in 시퀀스 객체:
"파이썬" in ["파이썬", "자바", "자바스크립트"]

True

In [6]:
a = "파이썬"
b = ["파이썬", "자바", "자바스크립트"]
a in b # bool -> 참과 거짓.(있나 없나?)

True

In [9]:
c = "C언어"
c in b, c not in b

(False, True)

In [13]:
name = "김명현"
"김" in name, "명현" in name, "김현" in name

(True, True, False)

In [15]:
sentence = "아버지가 방에 들어가신다"
"아버지" in sentence , "가방" in sentence, "어머니" not in sentence

(True, False, True)

## 연결(+)

In [18]:
a = ["사과", "배", "고라니"]
b = [1, 2, 3, 4, 5, 6]
a + b # 연결 (concatenate)

['사과', '배', '고라니', 1, 2, 3, 4, 5, 6]

In [20]:
a, b

(['사과', '배', '고라니'], [1, 2, 3, 4, 5, 6])

In [22]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [24]:
"이삭" + "토스트"

'이삭토스트'

In [25]:
range(10) + range(10)

TypeError: ignored

In [27]:
list(range(10)) + list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
print("안녕하세요", 1, "학년입니다.")

안녕하세요 1 학년입니다.

In [32]:
"안녕하세요" + 1 +  "학년입니다" # int + str X

TypeError: ignored

In [ ]:
"안녕하세요" + str(1) + "학년입니다"

##반복(*)

In [36]:
# 연결을 n번 이상하는, (시퀀스 객체) * n, n * (시퀀스 객체)
[1,  10, 100, 1000] * 3

(1, 10, 100, 1000, 1, 10, 100, 1000, 1, 10, 100, 1000)

In [38]:
[1,  10, 100, 1000] + [1,  10, 100, 1000] + [1,  10, 100, 1000]

[1, 10, 100, 1000, 1, 10, 100, 1000, 1, 10, 100, 1000]

In [40]:
[0] * 7 # 0을 7개 가진 리스트 만들기

[0, 0, 0, 0, 0, 0, 0]

In [42]:
[0] * 0 # 0 이하의 숫자를 넣으면 빈 리스트가 나온다,

[]

In [44]:
(0) * 0 # 튜플도 빈 튜플이 나옴.

0

In [48]:
tuple(range(2)) * 3 # range도 list 혹은 tuple 씌워주면 가능

(0, 1, 0, 1, 0, 1)

## len()

In [49]:
# 자바 : arra.length(), 자바스크립트 : array.length, 파이썬 : len(array)
len([1, 2, 3]), len((1,2,3)), len(range(2, 5, 2)), len("문자열")

(3, 3, 2, 3)

## index

In [54]:
# 0부터 시작, 전체 길이 -1
a = list(range(100, 600, 100))
print(a)

[100, 200, 300, 400, 500]

In [52]:
a[1] # 두번째 인덱스 출력. 원하는 인덱스 : 전체길이 - 1

200

In [56]:
# 음수 입력 시 뒤에서 부터 출력
a[-1] # 맨뒤 인덱스 출력

500

In [57]:
name = "김나나씨"
name[0], name[3]

('김', '씨')

In [58]:
# 음수인덱스 : 뒤에서 부터 카운트, len(시퀀스객체) - n
# a, a[-n] = a[len(a)-n]
print(a)
a[-1], a[len(a) - 1]

[100, 200, 300, 400, 500]

(500, 500)

## 요소에 값 할당하기
* element, 요소, 구성요소, 원소.

In [69]:
a = [0] * 5
print(a)
a[0] = 5
a[1] = 13
a[2] = 34
a[3] = 89
a[4] = 100
a # 원본에 영향

[0, 0, 0, 0, 0]

[5, 13, 34, 89, 100]

In [63]:
a[5] # a안에 5번째 요소가 없어서 오류 출력.

IndexError: ignored

## del

In [71]:
# del 시퀀스객체[인덱스]
print(a)
del a[2]
a

[5, 13, 34, 89, 100]

[5, 13, 89, 100]

In [ ]:
s = "book"
del s[2]

## 슬라이스

In [72]:
# 시퀀스객체[시작인덱스:끝인덱스]
# 시퀀스객체[시작:], 시퀀스객체[:끝]
# 시퀀스객체[시작:끝:증가폭]
# 시퀀스객체[::증가폭]
a = list(range(0, 100, 10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [77]:
# 슬라이스는 원본에 영향을 미치지않고 사본 만드는 방법
a[0:4], len(a), a[0:10], a[0:100]

([0, 10, 20, 30],
 10,
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [79]:
a[1:1] # 빈리스트

[]

In [81]:
a[3:5]

[30, 40]

In [83]:
a[3:-1], a[3:len(a)-1]

([30, 40, 50, 60, 70, 80], [30, 40, 50, 60, 70, 80])

In [89]:
list(range(1, 5, 2)), a[1:5:2], a[slice(1, 5, 2)]

([1, 3], [10, 30], [10, 30])

In [91]:
# 전체를 출력하기
a[:] , a, a[0:len(a)]

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [94]:
# 0 빼고 전체
a[1:], a[1:len(a)]

([10, 20, 30, 40, 50, 60, 70, 80, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90])

In [97]:
a[::-1],  a[len(a)::-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10, 0],
 [90, 80, 70, 60, 50, 40, 30, 20, 10, 0])

In [99]:
a[20:0:-1], a[20::-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10], [90, 80, 70, 60, 50, 40, 30, 20, 10, 0])

In [102]:
s = "Hello, world!"
s[::-1], s[::2], s[1:3]

('!dlrow ,olleH', 'Hlo ol!', 'el')

In [114]:
# 할당하기 -> 특정한 슬라이스 범위에 새로운 값들을 끼워넣기
# 리스트 only, 갯수가 일치할 필요
a = [1, 2, 3, 4, 5]
print(a[1:3])
a[1:3] = [6, 7, 8, 9]
a

[2, 3]

[1, 6, 7, 8, 9, 4, 5]

In [116]:
b = list(range(20))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [118]:
b[1:10:2]

[1, 3, 5, 7, 9]

In [122]:
b[1:10:2] = [0] * 5
b

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [124]:
print(a)

[1, 6, 7, 8, 9, 4, 5]

In [126]:
del a[2:5]
a

[1, 6]

# 딕셔너리

In [128]:
d = {
    "key" : "value"
}
d

{'key': 'value'}

In [130]:
young = {
    "말" : "많음",
    "체력" : "저조",
    "지하철" : "1호선",
    "잔소리" : True,
    "좋아하는 언어 " : ["파이썬", "자바", "자바스크립트"]
}

In [132]:
kim = {
    "height" : 170,
    "weight" : 70,
    "height" : 180
} # 중괄호로 묶어야한다. KEY: VALUE 로 값들이 표현
kim

{'height': 180, 'weight': 70}

In [134]:
# 시퀀스형중에 리스트와, 딕셔너리 자체만 키값으로 쓸 수 없음.
{range(0, 5): 1}

{range(0, 5): 1}

In [136]:
kim["height"]

180

In [140]:
kim["salary"] = 3000
kim

{'height': 180, 'weight': 70, 'salary': 3000}

In [142]:
kim["IQ"]
# kim 내부에 IQ라는 key 값이 없어 오류.

KeyError: ignored

In [144]:
# 오류 없이 key값이 있는지 확인 하려면 in 으로 확인해보기.
# 시퀀스 객체(in) / 딕셔너리 - 키(in) / for in - 반복
"IQ" in kim

False

In [146]:
"IQ" not in kim

True

In [148]:
len(kim) # key의 갯수

3

In [150]:
list(kim) # dict -> list 감싸주면 -> key를 원소로 가지는 리스트

['height', 'weight', 'salary']

# 조건문

## if

In [151]:
switch = True
if switch: # if (...) : 조건식 -> 최종적으로 bool 형태로 표현될 수 있는 값
  print("아 밝다") # if 본문

아 밝다

In [152]:
temperature = 40
if temperature > 38:
  print("아 덥다")

아 덥다

In [153]:
temperature = 30
if temperature > 38:
  print("아 덥다")

## else

In [154]:
temperature = 30
if temperature > 38:
  print("아 덥다")
else : # temperature <= 38 위의 조건문에서 초과였으므로, else에서는 이하로 설정됨.
  print("괜찮은데?")

괜찮은데?

## pass

In [156]:
temperature = 30
if temperature > 38:
  print("아 덥다")
else : 
  pass # block 유지 때문에 존재.

In [158]:
pass

In [160]:
if True :
  pass
else :
  print("Hello")

In [163]:
name = "김땡땡"

if name == "김땡땡":
  print("웰컴")

웰컴

In [165]:
if "김" in name:
  print("하이")

하이

## 삼항연산자

In [167]:
a = None 
b = True
if b:
  a = 10
else :
  a = 100
a

10

In [169]:
a = 10 if b else 100 # True 값 if (조건식) else (False 값)
a

10

In [170]:
a = "환타"

if a == "콜라":
  print("콜라 드세요")
elif a == "사이다":
  print("사이다 드세요")
if a == "환타":
  print("환타 드세요")

환타 드세요

# 반복문

In [173]:
for i in range(10): # range랑 같이 쓰면 정수 -> i
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [177]:
i = 100
for i in range(10):
  pass
print(i)

9

In [179]:
# range(n) : n회 반복
for i in "hello world": # range가 아닌 사퀀스 형태의 자료형? list -> v, string -> c
  print(i) # 루프를 돈다

h
e
l
l
o

w
o
r
l
d

In [181]:
a = ["배", "사과", "바나나"]
for i in a:
  print(i)

배
사과
바나나

In [182]:
for i in reversed(a): # reversed + ed : 새롭게 형성된 데이터
  print(i)

바나나
사과
배

In [184]:
a, list(reversed(a)), a[::-1]

(['배', '사과', '바나나'], ['바나나', '사과', '배'], ['바나나', '사과', '배'])

## while

In [186]:
for i in range(10):
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [191]:
'''
for (i = 0; i < 10; i++) {
  ...
}
'''

'\nfor (i = 0; i < 10; i++) {\n  ...\n}\n'

In [188]:
i = 0 # 초기식
while i < 10: #while 조건식
  print(i, end=" ")
  i += 1 # 변화식

0 1 2 3 4 5 6 7 8 9

In [193]:
money = 100000
hit = 0
while money > 0:
  money -= 10000
  hit += 1
  print(money, "원 남았습니다.", hit, "대 맞았습니다.")

90000 원 남았습니다. 1 대 맞았습니다.
80000 원 남았습니다. 2 대 맞았습니다.
70000 원 남았습니다. 3 대 맞았습니다.
60000 원 남았습니다. 4 대 맞았습니다.
50000 원 남았습니다. 5 대 맞았습니다.
40000 원 남았습니다. 6 대 맞았습니다.
30000 원 남았습니다. 7 대 맞았습니다.
20000 원 남았습니다. 8 대 맞았습니다.
10000 원 남았습니다. 9 대 맞았습니다.
0 원 남았습니다. 10 대 맞았습니다.

## break, continue

In [197]:
for i in range(1000):
  print(i, i ** 2)
  if i ** 2 > 1000:
    break

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400
21 441
22 484
23 529
24 576
25 625
26 676
27 729
28 784
29 841
30 900
31 961
32 1024

In [199]:
for i in range(1, 1000):
  if i % 2 == 0:
    continue
  print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249 251 253 255 257 259 261 263 265 267 269 271 273 275 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477 479 481 483 485 487 489 491 493 495 497 499 501 503 505 507 509 511 513 515 517 519 521 523 525 527 529 531 533 535 537 539 541 543 545 547 549 551 553 555 557 559 561 563 565 567 569 571 573 575 577 579 581 583 585 587 589 591 593 595 597 599 601 603 605 607 609 611 613 615 617 619 621 623 625 627 629 631 633 635 637 639 641 643 645 647 649 651 653 655 657 659 661 663 665 667 669 671 673 675 677 679 681 683 685 687 689 691 693 695 697 699 701 703 705 707 709 711 713 715 717 719 721 723 725 727 729 731 733 735 737 739 741 743 745 747 749 751 753 755 757 759 761 763 765 767 769 771 773 775 777 779 781 783 785 787 789 791 793 795 797 799 801 803 805 807 809 811 813 815 817 819 821 823 825 827 829 831 833 835 837 839 841 843 845 847 849 851 853 855 857 859 861 863 865 867 869 871 873 875 877 879 881 883 885 887 889 891 893 895 897 899 901 903 905 907 909 911 913 915 917 919 921 923 925 927 929 931 933 935 937 939 941 943 945 947 949 951 953 955 957 959 961 963 965 967 969 971 973 975 977 979 981 983 985 987 989 991 993 995 997 999

In [201]:
for i in range(1, 1000):
  if i % 3 != 0:
    continue
  print(i, end=" ")

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198 201 204 207 210 213 216 219 222 225 228 231 234 237 240 243 246 249 252 255 258 261 264 267 270 273 276 279 282 285 288 291 294 297 300 303 306 309 312 315 318 321 324 327 330 333 336 339 342 345 348 351 354 357 360 363 366 369 372 375 378 381 384 387 390 393 396 399 402 405 408 411 414 417 420 423 426 429 432 435 438 441 444 447 450 453 456 459 462 465 468 471 474 477 480 483 486 489 492 495 498 501 504 507 510 513 516 519 522 525 528 531 534 537 540 543 546 549 552 555 558 561 564 567 570 573 576 579 582 585 588 591 594 597 600 603 606 609 612 615 618 621 624 627 630 633 636 639 642 645 648 651 654 657 660 663 666 669 672 675 678 681 684 687 690 693 696 699 702 705 708 711 714 717 720 723 726 729 732 735 738 741 744 747 750 753 756 759 762 765 768 771 774 777 780 783 786 789 792 795 798 801 804 807 810 813 816 819 822 825 828 831 834 837 840 843 846 849 852 855 858 861 864 867 870 873 876 879 882 885 888 891 894 897 900 903 906 909 912 915 918 921 924 927 930 933 936 939 942 945 948 951 954 957 960 963 966 969 972 975 978 981 984 987 990 993 996 999

In [205]:
i = 0
while True:
  i += 1
  print(i, end=" ")
  if i > 10:
    break

1 2 3 4 5 6 7 8 9 10 11

In [207]:
money = 100000
hit = 0
while money > 0:
  money -= 10000
  if money % 1000 == 0:
    print("피했습니다.")
    continue
  hit += 1
  print(money, "원 남았습니다.", hit, "대 맞았습니다.")

피했습니다.
피했습니다.
피했습니다.
피했습니다.
피했습니다.
피했습니다.
피했습니다.
피했습니다.
피했습니다.
피했습니다.