<a href="https://colab.research.google.com/github/hiid0726/Python_lym/blob/main/submission/hiid0726/ch01_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print(Hello world) # 문자열 입력시 "" 또는 ''가 빠지면 안됨
#alt + enter = 실행 및 신규 셀 생성

SyntaxError: ignored

In [5]:
print('Hello World') # print(입력값) : 함수의 일종, 입력한 값(숫자, 문자열 등...) 을 출력

Hello World

In [7]:
# ctrl + m + b = 하단에 신규 셀 생성
# colab은 리눅스 환경에서 작동.-> 터미널을 통해 명령어로 작동하는 OS
# 리눅스의 어떤 특정한 기능을 하기위해서는 1 터미널에 2 명령어를 넣어야한다.
# !를 앞에 붙이고 나면, 리눅스의 터미널(커널)에 명령어를 사용할 수 있음.
!python --version

Python 3.8.10

In [11]:
#기본문법
# 파이썬은 세미콜론을 안써도 된다. 단 한줄에서 구분이 필요할 경우 사용
print("test1")#특정한 행을 위 아래로 복제하고 싶다 --> alt + shift + 위아래방향키
print("test1")#특정한 행을 위 아래로 복제하고 싶다 --> alt + shift + 위아래방향키
print("test1");#특정한 행을 위 아래로 복제하고 싶다 --> alt + shift + 위아래방향키
# ctrl + a : 전체 지정
# end : 특정행의 끝 -> shift(범위지정, 블록지정) -> home(특정행의 시작)
# alt + 위아래 방향키 == 줄바꿈
print("뉴진스"); print("르세라핌");

test1
test1
test1
뉴진스
르세라핌

In [12]:
# ctrl + - == 특정 행 기준으로 셀 분할
#을 입력하고 뒤에 내용을 입력하면 한줄 주석
# 주석으로 지정하는 단축키 = ctrl + /
print("주석")  #코드 뒤에 주석이 있어도 실행에 영향 없다.
# print("주석")

주석

In [ ]:
'''
여러줄 주석할 때 또는 """ 입력
'''
# 문자열을 입력할때 ''작은 따옴표로 감쌌으면 그 안에는 작은 따옴표를 넣을 수 없다.
# 굳이 넣고싶다면 앞에 \를 넣어서 escape 시켜서 처리해야함

In [14]:
a = 1
if a != 10: #특정한 조건을 만족 시킬때 작동하는 코드
  print("10이 아니다") #특정 들여쓰기 범위 내에서만 조건 관련 코드

10이 아니다

In [15]:
if a == 10: #특정한 조건을 만족 시킬때 작동하는 코드
  print("10입니다") #특정 들여쓰기 범위 내에서만 조건 관련 코드
# 들여쓰기는 tab으로 통일

In [16]:
if a == 10: #특정한 조건을 만족 시킬때 작동하는 코드
  print("10입니다")
  if a == 10: # 중첩도 들여쓰길로 구분
    print("10입니다")

In [18]:
# 정수 (int, integer, 양의 정수와 음의 정수와 0)
# 실수 (float, 실수, 소수, 소수점이 붙어 있음)
type(1), type(1.0)
# 같은 값이여도 자료형은 다르다.

(int, float)

In [19]:
#사칙연산 -> 산술연산자, 연산자 : 1개 이상의 피연산자에 대해서 특정 연산(계산)을 실행 시키는 명령
1+1, 2-3, 5*8, 13/21

(2, -1, 40, 0.6190476190476191)

In [25]:
type(20 / 4)
# 정수 간 값이 딱 떨어지는 나누기를 해도 결과값은 무조건 실수이다.

float

In [24]:
type(20//4)
 # 몫 연산자

int

In [26]:
5.2 // 2, 4 // 1.0, 2.5 // 0.2
# 피연산자 중에 하나라도 실수라면 결과값은 실수로 나온다

(2.0, 4.0, 12.0)

In [27]:
# %나머지 연산자, 모듈로, 모듈러스
10 % 3, 10 // 3

(1, 3)

In [30]:
# 거듭제곱 연산자 //루트 연산자도 겸함
2 ** 5 , 2 ** 0.5, 3 ** (1/3)

(32, 1.4142135623730951, 1.4422495703074083)

In [33]:
# 값 -> 정수 (int(...))
int(1), int(1.0), int("1")
# 정수로 변환 불가 -> int("1.0"), int("문자열")

(1, 1, 1)

In [34]:
# 몫연산과 나머지 연산 한번에 하기
divmod(5,2)
#divmod(a,b) a는 나눠지는 수, b는 나누는 수 -> (몫, 나머지)

(2, 1)

In [35]:
3.1+2.2

5.300000000000001

In [36]:
2.7-1.5 #부동소수점 오류

1.2000000000000002

In [37]:
1.5 * 3.1, 5.5 / 3.1

(4.65, 1.7741935483870968)

In [40]:
# float로 형변환 -> float(...)
float(1), float(4/5), float("1.0")

(1.0, 0.8, 1.0)

In [41]:
#텍스트로 특정한 숫자를 받았는데, 정수화를 하고싶다 -> 이게 소수점이 아니라는 확신이 없을때
int(float("1.0"))

1

In [43]:
1+2*3, (1+2) *3

(7, 9)

In [44]:
x=10

In [45]:
x

10

In [46]:
y = "The 행복식당"
y

'The 행복식당'

In [47]:
type(x), type(y)

(int, str)

* '=' : 대입연산자, 할당연산자
* '==' : 같다의 의미

In [48]:
a=10

a+20

30

In [50]:
a+=20
a

50

In [51]:
e = None
e += 10 #에러

TypeError: ignored

In [52]:
input() #입력받기

ㅇㅇ

'ㅇㅇ'

In [53]:
input("안녕하세요") #힌트입력가능

안녕하세요예

'예'

In [55]:
x = input() # 프롬프트에 '문자열'을 입력하는 함수(기능)
type(x)

1

str

In [58]:
a = input()
b = input()
a+b  #문자열로 concat 됨
int(a) + int(b) #계산시 intger처리
# 덧셈연산을 실행하기 앞서서 int 가 실행이 되면서 정수로 변환

13
14

27

In [59]:
a = int(input())
b = int(input())
a+b  #정수로 계산됨
a + b 
# 변수 a에 대입하기 전에 input의 결과값을 int로 변환

5
4

9

In [61]:
"안녕하세요 여러분" # 문자열(리터럴)
type("안녕하세요 여러분")

str

In [62]:
# 특정한 구분자(separator)를 기준으로 문자열을 분리 (기본값 : ' ')
"안녕하세요 여러분".split() # 특정한 타입, 객체에 내장되어 있는 함수(기능) : 메소드(method)

['안녕하세요', '여러분']

In [64]:
"안녕하세요,여러분".split(",") # 매개변수(parameter)
#매개변수에 들어가는 값 -> 인자(argument)

['안녕하세요', '여러분']

In [65]:
a, b = "안녕하세요,여러분".split(",")
 # 두개 이상의 값이 결과로 나올 경우, 해당 결과의 갯수에 맞게 변수를 위치시켜주면, 알아서 할당됨

In [67]:
a ,b = input("문자열 두개를 스페이스 기준으로 입력 : ").split()
a, b

문자열 두개를 스페이스 기준으로 입력 : ㅎㅎ !!

('ㅎㅎ', '!!')

In [68]:
a ,b = input("문자열 두개를 스페이스 기준으로 입력 : ").split()
a, b
# 스플릿될 문자가 없으면 하나로 들어온것으로 인식하기 때문에 변수의 갯수와 맞지않음. 에러

문자열 두개를 스페이스 기준으로 입력 : 왜요

ValueError: ignored

In [70]:
#숫자 두개를 입력하면 더해지는 것 --> 문자열로 계산됨
a,b = input('숫자 두개를 입력하세요 : ').split()
a+b

숫자 두개를 입력하세요 : 5 2

'52'

In [71]:
#숫자 두개를 입력하면 더해지는 것 1
a,b = input('숫자 두개를 입력하세요 : ').split()
int(a)+int(b)

숫자 두개를 입력하세요 : 5 3

8

In [72]:
#숫자 두개를 입력하면 더해지는 것 2
a,b = input('숫자 두개를 입력하세요 : ').split()
a = int(a)
b = int(b)
a+b

숫자 두개를 입력하세요 : 5  3

8

In [74]:
#숫자 두개를 입력하면 더해지는 것 3
a,b = map(int, input('숫자 두개를 입력하세요 : ').split())
# map(함수) 실행되기 전의 함수를 넣는다.()는 실행을 의미
# ->함수를 통해서 처리하고 싶은 값들
# map(실행함수, 입력값)
a+b

숫자 두개를 입력하세요 : 5 3

8

In [75]:
#숫자 두개를 입력하면 더해지는 것 3
a,b = map(float, input('숫자 두개를 입력하세요 : ').split())
# map(함수) 실행되기 전의 함수를 넣는다.()는 실행을 의미
# ->함수를 통해서 처리하고 싶은 값들
# map(실행함수, 입력값)
a+b

숫자 두개를 입력하세요 : 5.2 2

7.2

In [76]:
#숫자 두개를 입력하면 더해지는 것 3
a,b = map(print, input('숫자 두개를 입력하세요 : ').split())
# map(함수) 실행되기 전의 함수를 넣는다.()는 실행을 의미
# ->함수를 통해서 처리하고 싶은 값들
# map(실행함수, 입력값)
a+b

숫자 두개를 입력하세요 : 5 2
5
2

TypeError: ignored

In [80]:
print("a","b", 1) #매개변수의 갯수가 정해져 있지 않은 함수 args
print("a","b",1,sep = ',') # sep에 구분자를 입력하면, 해당 구분자로 구분해서 출력해줌
print("a","b",1,sep = '')
print("a","b",1,sep = ';')

a b 1
a,b,1
ab1
a;b;1

In [81]:
print("민지")
print("다니엘")
print("혜인", end='') #자동 줄바꿈을 해제, end의 기본값은 \n
print("혜린")
print("하니")

민지
다니엘
혜인혜린
하니

In [82]:
10_000_000

10000000

In [83]:
_

10000000