<a href="https://colab.research.google.com/github/hiid0726/Python_lym/blob/main/submission/hiid0726/ch02_1_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 불, 비교연산자, 논리연산자, 리스트, 튜플

In [1]:
# True or False
int(True), int(False)

(1, 0)

In [2]:
# 비교연산자
3 > 1

True

In [3]:
a = 10
b = 20
a < b

True

In [4]:
a==b

False

In [9]:
# 논리연산자 1개 이상의 bool을 처리하는 연산자
# and
a = 15
b = 13

(a > 20) and (b > 10) #False
(a > 20) & (b > 10) #False

# or
(a > 20) or (b > 10) #True

# 연산자 실행 순서는 비교연산자 > 논리연산자, 웬만하면 괄호로 구분하여 우선순위를 명확히 하는것이 좋다.

True

In [10]:
not True, not False

(False, True)

In [11]:
a = "hell"
a

'hell'

In [15]:
a1 = "a1"
a2 = '''a2 
 yes'''
a3 = """a3 
 no"""
# 모두 같은 처리
a1, a2, a3

('a1', 'a2\n yes', 'a3 \n no')

In [22]:
# ',"를 문자열 안에 표기하고싶다면 \ 활용(escape)
print(" \"를 활용해서 큰따옴표 안에 큰따옴표 표현");
print(' \'를 활용해서 작은따옴표 안에 작은따옴표 표현');
print(""" \"를 활용해서 여러줄 안에 큰따옴표 표현""");
print(''' \'를 활용해서 여러줄 안에 작은따옴표 표현''');

 "를 활용해서 큰따옴표 안에 큰따옴표 표현
 '를 활용해서 작은따옴표 안에 작은따옴표 표현
 "를 활용해서 여러줄 안에 큰따옴표 표현
 '를 활용해서 여러줄 안에 작은따옴표 표현

In [25]:
# 리스트와 튜플
# 리스트는 0개 이상의 요소를 묶은 자료형
list1 = []
list2 = ["문자형", 1, True]
list1, list2

([], ['문자형', 1, True])

In [34]:
# range
# range(끝점), range(시작점, 끝점), range(시작점, 끝점, 증가폭)
list1 = range(10)
list2 = range(2,10)
list3 = range(2,10,2)
list4 = range(10, 2, -2)

list(list1), list(list2), list(list3), list(list4)
#  = list(map(list, (list1, list2, list3, list4)))

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8],
 [10, 8, 6, 4]]

In [37]:
# 튜플 = 수정이 블가능한 자료형
tup1 = ()
tup2 = 1, 2, 3, 4, 5

tup1, tup2

((), (1, 2, 3, 4, 5))

In [39]:
#  언패킹
a, b, c = [1, 2, 3]
a, b, c

(1, 2, 3)

In [41]:
# 패킹
g = [7, 8, 9]
g

[7, 8, 9]