<a href="https://colab.research.google.com/github/hiid0726/Python_lym/blob/main/submission/hiid0726/ch02_2_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#시퀀스

In [ ]:
# 시퀀스 자료형
# 0개 이상의 원소가 나열되어서 묶여잇는 자료형
# list, tuple, range, string
[] #list
() #tuple
"" or '' or """ """ or ''' ''' # string

## in, not in

In [1]:
# 값 in 시퀀스 객체 <-> for 변수명 in 시퀀스 객체 : 
# 1. for와 : 유무 차이
"파이썬" in ("파이썬", "자바", "자바스크립트")

True

In [2]:
a = "파이썬"
b = ["파이썬", "자바", "자바스크립트"]
a in b

True

In [3]:
c = "C언어"
c in b, c not in b

(False, True)

In [5]:
name = "이영미"
"이영" in name

True

In [8]:
sentence = "안녕하세요 이영미입니다."
"안녕" in sentence

True

## 연결(+)

In [9]:
a = ["사과", "배", "바나나"]
b = [1,2,3,4,5,6]
a+b # 연결(concatenate) --> 아직 저장한 단계는 아님, 그냥 연결만 해준 상태

['사과', '배', '바나나', 1, 2, 3, 4, 5, 6]

In [10]:
a, b

(['사과', '배', '바나나'], [1, 2, 3, 4, 5, 6])

In [11]:
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [12]:
"이" + "영미"

'이영미'

In [13]:
# range 자체로는  불가
range(10) + range(10)

TypeError: ignored

In [14]:
# list로 형변환 후 합치기
list(range(10)) + list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
print("안녕하세요, ", 1 , "학년 입니다.");

안녕하세요,  1 학년 입니다.

In [16]:
# 다른 타입으로는 연결 불가.. string, int 연결하기...
"안녕하세요, " + 1 + "학년 입니다,"

TypeError: ignored

In [17]:
"안녕하세요, " + str(1) + "학년 입니다,"

'안녕하세요, 1학년 입니다,'

## 반복(*)

In [18]:
# 연결을 n번 이상하는 것, (시퀀스 객체) * n
[1,10,100,1000] *3

[1, 10, 100, 1000, 1, 10, 100, 1000, 1, 10, 100, 1000]

In [ ]:
[0] * 7 # 0을 7개 가진 리스트 만들기

In [19]:
[0] * 0 # 0이하의 값을 넣으면 빈리스트 출력

[]

In [20]:
range(10) * 2
#range 자체로는 불가

TypeError: ignored

In [21]:
tuple(range(10)) * 2
# list 혹은 tuple로 형변환하여 반복

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### len()

In [22]:
len([1,2,3]), len((1,2,3)), len(range(2,5,2)), len("문자열")

(3, 3, 2, 3)

### index

In [24]:
# 0부터 시작, 전체길이 -1
a = list(range(100, 600, 100))
a

[100, 200, 300, 400, 500]

In [25]:
a[2], a[2-1], a[1]

(300, 200, 200)

In [28]:
name = "김나나씨"
name[0], name[3], name[-1]

('김', '씨', '씨')

In [30]:
# 음수 인덱수 : 뒤에서부터 카운트,  len(시퀀스객체) -n
# a, a[-n] = a[len(a)-n]
a[-1], [len(a)-1]

(500, [4])

## 요소에 값 할당하기
* element, 요소, 구성요소, 원소.

In [35]:
a = [0] *5
print(a)
a[0] = 5
a[1] = 13
a[2] = 34
a[3] = 88
a[4] = 100
print(a)
# 원본의 값을 변경하기.

[0, 0, 0, 0, 0]
[5, 13, 34, 88, 100]

In [36]:
a[5] # 시퀀스 범위를 넘어선 인덱스를 검색 시 오류남.

IndexError: ignored

## del 시퀀스객체[인덱스]

In [39]:
print(a)
del a[3]
print(a)

[5, 13, 34, 88, 100]
[5, 13, 34, 100]

In [ ]:
# 문자열, 튜플, 레인지 -> 읽기 전용

## 슬라이스

In [41]:
# 시퀀스객체[시작인덱스:끝인덱스]
# 시퀀스객체[시작:], 시퀀스객체[:끝]
# 시퀀스객체[시작:끝:증가폭]
# 시퀀스객체[::증가폭]
a = list(range(0,100,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [46]:
# 슬라이스는 원본에 영향을 미치지않고 사본을 만드는 방법
a[0:4], len(a), a[0:10], a[0:100]
# 인덱스 범위를 벗어난 수를 입력해도 슬라이스에서는 괜찮음.

([0, 10, 20, 30],
 10,
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [47]:
a[1:1] # 빈리스트

[]

In [48]:
a[3:5]

[30, 40]

In [51]:
a[3:-1] , a[3:len(a)-1]

([30, 40, 50, 60, 70, 80], [30, 40, 50, 60, 70, 80])

In [52]:
a[1:5:2]

[10, 30]

In [55]:
a[:], a[0:len(a)]

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [56]:
a[:5], a[0:5]

([0, 10, 20, 30, 40], [0, 10, 20, 30, 40])

In [57]:
a[::2], a[0:len(a):2]

([0, 20, 40, 60, 80], [0, 20, 40, 60, 80])

# 딕셔너리

In [ ]:
d = {
    "key" : "value"

}

In [58]:
young = {
    "말" : "적음"
   , "체력" : "최하"
   , "집" : "김포"
   , "성별" : "여자"
   , "좋아하는 언어" : ["SQL", "java script"]
}

In [61]:
# key : value = 1:1
kim = {
    "height" : 170,
    "weight" : 80,
    "height" : 180
} # 중괄호로 묶어야한다. 
kim
# 키값이 중복될 경우 가장 최신의 값을 넣어준다.

{'height': 180, 'weight': 80}

In [ ]:
# 리스트와 딕셔너리는 키값으로 들어갈 수 없다.
# 튜플, 레인지는 가능

In [62]:
# 호출방법 딕셔너리["키값"]
kim["height"]

180

In [64]:
kim["salary"] = 3000 # 값 추가
kim

{'height': 180, 'weight': 80, 'salary': 3000}

In [65]:
kim["salary"] = 4000 # 값 수정
kim

{'height': 180, 'weight': 80, 'salary': 4000}

In [66]:
# 없는 키를 불러오려고하면 오류
kim["IQ"]

KeyError: ignored

In [67]:
"IQ" in kim
# in의 기능 
# 1, 시퀀스객체 (in) -> 요소검사
# 2. 딕셔너리 (in) -> 키 검사
# 3. for in -> 반복조건

False

In [71]:
len(kim) # key의 개수
# 딕셔너리에서는 모두 키를 통해 움직인다.
# 딕셔너리를 list로 감싸주면 key를 원소로 가지는 리스트가 된다.
list(kim)

['height', 'weight', 'salary']

# 조건문

## if

In [72]:
switch = True  ## 조건문은 bool로 표현되는 모든 것이 들어갈 수 있다.
if switch : 
  print("밝다")

밝다

In [74]:
temperature = 40
if temperature > 38 :
  print("덥다~")

덥다~

In [76]:
temperature = 30
if temperature > 38 :
  print("덥다~")

## else

In [75]:
temperature = 30
if temperature > 38 :
  print("덥다~")
else : 
  print("안덥다")

안덥다

In [77]:
name = "김땡떙"
if name == "김땡떙" : 
  print("하이~")

하이~

In [78]:
if "김" in name : 
  print("김!")

김!

## 삼항 연산자(조건부 표현식)

In [79]:
a = None
b = True
if b:
  a= 10
else :
  a = 100

a

10

In [80]:
a = 10 if b else 100 ## (True값) if (조건식) else (False 값)

In [82]:
#### else if
a = "환타"

if a == "콜라" : 
  print("코카콜라 인가요?")
elif a == "환타" : 
  print("파인애플맛 인가요?")
elif a == "사이다" : 
  print("칠성사이다 인가요?")

파인애플맛 인가요?

## 반복문

### for

In [84]:
for i in range(10) :
  print(i, end='')

0123456789

In [86]:
i = 100
for i in range(10):
  pass
i

9

In [88]:
# range(n) => n회 반복 
for i in "hello world" :  # range 가 아닌 시퀀스형태의 자료형? list -> v, string -> c
  print(i,end="")

hello world

In [89]:
a = ["배", "사과", "바나나"]
for i in a :  # 
  print(i,end="")

배사과바나나

In [90]:
for i in reversed(a) : ## reversed(객체) -> 해당 객체를 반대 순서로 진행..ㅡ  
  print(i,end="")

바나나사과배

### while

In [ ]:
for i in range(10):
  print(i, end=" ")

In [93]:
i = 0
while i < 10 :
  print (i, end= " ")
  i += 1

0 1 2 3 4 5 6 7 8 9

In [ ]:
'''
for(i = 0; i< 10; i++) --> java,c

'''

In [96]:
money = 100000
hit = 0
while money > 0:
  money -= 10000
  hit += 1
  print(money , "원 남았습니다." ,hit , "대 맞았습니다.")

90000 원 남았습니다. 1 대 맞았습니다.
80000 원 남았습니다. 2 대 맞았습니다.
70000 원 남았습니다. 3 대 맞았습니다.
60000 원 남았습니다. 4 대 맞았습니다.
50000 원 남았습니다. 5 대 맞았습니다.
40000 원 남았습니다. 6 대 맞았습니다.
30000 원 남았습니다. 7 대 맞았습니다.
20000 원 남았습니다. 8 대 맞았습니다.
10000 원 남았습니다. 9 대 맞았습니다.
0 원 남았습니다. 10 대 맞았습니다.

### break, continue

In [97]:
for i in range(1000) :
  print(i, i ** 2)
  if i ** 2 > 1000 :
    break

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400
21 441
22 484
23 529
24 576
25 625
26 676
27 729
28 784
29 841
30 900
31 961
32 1024

In [100]:
for i in range(1, 1000) :
  if i % 2 == 0 :
    continue
  print(i, end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249 251 253 255 257 259 261 263 265 267 269 271 273 275 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477 479 481 483 485 487 489 491 493 495 497 499 501 503 505 507 509 511 513 515 517 519 521 523 525 527 529 531 533 535 537 539 541 543 545 547 549 551 553 555 557 559 561 563 565 567 569 571 573 575 577 579 581 583 585 587 589 591 593 595 597 599 601 603 605 607 609 611 613 615 617 619 621 623 625 627 629 631 633 635 637 639 641 643 645 647 649 651 653 655 657 659 661 663 665 667 669 671 673 675 677 679 681 683 685 687 689 691 693 695 697 699 701 703 705 707 709 711 713 715 717 719 721 723 725 727 729 731 733 735 737 739 741 743 745 747 749 751 753 755 757 759 761 763 765 767 769 771 773 775 777 779 781 783 785 787 789 791 793 795 797 799 801 803 805 807 809 811 813 815 817 819 821 823 825 827 829 831 833 835 837 839 841 843 845 847 849 851 853 855 857 859 861 863 865 867 869 871 873 875 877 879 881 883 885 887 889 891 893 895 897 899 901 903 905 907 909 911 913 915 917 919 921 923 925 927 929 931 933 935 937 939 941 943 945 947 949 951 953 955 957 959 961 963 965 967 969 971 973 975 977 979 981 983 985 987 989 991 993 995 997 999

In [101]:
i = 0
while True : 
  i += 1
  print(i)
  if i > 10 :
    break

1
2
3
4
5
6
7
8
9
10
11

In [103]:
money = 100000
hit = 0
while money > 0:
  money -= 1000
  print(money , "원 남았습니다.")
  if money % 1000 == 0:
    print("피했습니다!")
    continue
  hit += 1
  print(hit , "대 맞았습니다.")

99000 원 남았습니다.
피했습니다!
98000 원 남았습니다.
피했습니다!
97000 원 남았습니다.
피했습니다!
96000 원 남았습니다.
피했습니다!
95000 원 남았습니다.
피했습니다!
94000 원 남았습니다.
피했습니다!
93000 원 남았습니다.
피했습니다!
92000 원 남았습니다.
피했습니다!
91000 원 남았습니다.
피했습니다!
90000 원 남았습니다.
피했습니다!
89000 원 남았습니다.
피했습니다!
88000 원 남았습니다.
피했습니다!
87000 원 남았습니다.
피했습니다!
86000 원 남았습니다.
피했습니다!
85000 원 남았습니다.
피했습니다!
84000 원 남았습니다.
피했습니다!
83000 원 남았습니다.
피했습니다!
82000 원 남았습니다.
피했습니다!
81000 원 남았습니다.
피했습니다!
80000 원 남았습니다.
피했습니다!
79000 원 남았습니다.
피했습니다!
78000 원 남았습니다.
피했습니다!
77000 원 남았습니다.
피했습니다!
76000 원 남았습니다.
피했습니다!
75000 원 남았습니다.
피했습니다!
74000 원 남았습니다.
피했습니다!
73000 원 남았습니다.
피했습니다!
72000 원 남았습니다.
피했습니다!
71000 원 남았습니다.
피했습니다!
70000 원 남았습니다.
피했습니다!
69000 원 남았습니다.
피했습니다!
68000 원 남았습니다.
피했습니다!
67000 원 남았습니다.
피했습니다!
66000 원 남았습니다.
피했습니다!
65000 원 남았습니다.
피했습니다!
64000 원 남았습니다.
피했습니다!
63000 원 남았습니다.
피했습니다!
62000 원 남았습니다.
피했습니다!
61000 원 남았습니다.
피했습니다!
60000 원 남았습니다.
피했습니다!
59000 원 남았습니다.
피했습니다!
58000 원 남았습니다.
피했습니다!
57000 원 남았습니다.
피했습니다!
56000 원 남았습니다.
피했습니다!
55000 원 남았습니다.
피했습니다!
54000 원 남았습니다.
피했습니다!
53000 원 남았습니다.
피했습니다!
52000 원 남았습니다.
피했습니다!
51000 원 남았습니다.
피했습니다!
50000 원 남았습니다.
피했습니다!
49000 원 남았습니다.
피했습니다!
48000 원 남았습니다.
피했습니다!
47000 원 남았습니다.
피했습니다!
46000 원 남았습니다.
피했습니다!
45000 원 남았습니다.
피했습니다!
44000 원 남았습니다.
피했습니다!
43000 원 남았습니다.
피했습니다!
42000 원 남았습니다.
피했습니다!
41000 원 남았습니다.
피했습니다!
40000 원 남았습니다.
피했습니다!
39000 원 남았습니다.
피했습니다!
38000 원 남았습니다.
피했습니다!
37000 원 남았습니다.
피했습니다!
36000 원 남았습니다.
피했습니다!
35000 원 남았습니다.
피했습니다!
34000 원 남았습니다.
피했습니다!
33000 원 남았습니다.
피했습니다!
32000 원 남았습니다.
피했습니다!
31000 원 남았습니다.
피했습니다!
30000 원 남았습니다.
피했습니다!
29000 원 남았습니다.
피했습니다!
28000 원 남았습니다.
피했습니다!
27000 원 남았습니다.
피했습니다!
26000 원 남았습니다.
피했습니다!
25000 원 남았습니다.
피했습니다!
24000 원 남았습니다.
피했습니다!
23000 원 남았습니다.
피했습니다!
22000 원 남았습니다.
피했습니다!
21000 원 남았습니다.
피했습니다!
20000 원 남았습니다.
피했습니다!
19000 원 남았습니다.
피했습니다!
18000 원 남았습니다.
피했습니다!
17000 원 남았습니다.
피했습니다!
16000 원 남았습니다.
피했습니다!
15000 원 남았습니다.
피했습니다!
14000 원 남았습니다.
피했습니다!
13000 원 남았습니다.
피했습니다!
12000 원 남았습니다.
피했습니다!
11000 원 남았습니다.
피했습니다!
10000 원 남았습니다.
피했습니다!
9000 원 남았습니다.
피했습니다!
8000 원 남았습니다.
피했습니다!
7000 원 남았습니다.
피했습니다!
6000 원 남았습니다.
피했습니다!
5000 원 남았습니다.
피했습니다!
4000 원 남았습니다.
피했습니다!
3000 원 남았습니다.
피했습니다!
2000 원 남았습니다.
피했습니다!
1000 원 남았습니다.
피했습니다!
0 원 남았습니다.
피했습니다!