<a href="https://colab.research.google.com/github/hiid0726/Python_lym/blob/main/submission/hiid0726/ch02_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열서식

## f-string

In [1]:
"빅데이터 엔지니어링 과정에서는 " + "파이썬" + "을 배웁니다."

'빅데이터 엔지니어링 과정에서는 파이썬을 배웁니다.'

In [3]:
def announce(keyword):
  return "빅데이터 엔지니어링 과정에서는 " + keyword + "을 배웁니다."

In [5]:
print(announce("파이썬"));

빅데이터 엔지니어링 과정에서는 파이썬을 배웁니다.

In [6]:
def announce2(a,b,c,d):
  return a+"에서는 " + b + "와 " + c +"와" + d + "을 배웁니다."

In [13]:
def announce3(name,count,subject1,subject2):
  return name +" " + count + "기에서는 " + subject1 +"과 " + subject2 + "를 배웁니다."

In [11]:
print(announce3("빅데이터", str(23), "자바", "파이썬"))

빅데이터 23기에서는 자바과 파이썬를 배웁니다.

In [14]:
def announce4(name,count,subject1,subject2):
  return f"{name} {count}기에서는 {subject1}와 {subject2}를 배웁니다"

In [15]:
print(announce4("빅데이터", str(23), "자바", "파이썬"))

빅데이터 23기에서는 자바와 파이썬를 배웁니다

In [30]:
a = 75
b = 97
f"전체 취업자 수는 {a:04d}명 이고 전체 수강자 수는 {b:04d}명 입니다. 취업률 = {(a/b) : 06.2f}"
# {(a/b) : 06.2f}  --> float형이고 2자리까지 표현할것,

'전체 취업자 수는 0075명 이고 전체 수강자 수는 0097명 입니다. 취업률 =  000.77'

## format 메소드

In [31]:
def hello2(name) : 
  return f"안녕 나는 {name}이야"

hello2("김동동")

'안녕 나는 김동동이야'

In [34]:
def hello3(sentence, name):
  #return "안녕 나는 {}이야".format(name)
  return sentence.format(name)

hello3("안녕하세요 나는 {}","이영미.")

'안녕하세요 나는 이영미.'

In [38]:
def hello4(callback, *args):
  return list(map(callback, args))

hello4("{}님 출석하셨습니다.".format, "김장장", "공장장", "김술술")

['김장장님 출석하셨습니다.', '공장장님 출석하셨습니다.', '김술술님 출석하셨습니다.']

In [37]:
hello4(lambda x: x+"님", "김장장", "공장장", "김술술")

['김장장님', '공장장님', '김술술님']

## 딕셔너리 응용

In [39]:
x = {
    "a" : 10
  , "b" : 20
  , "c" : 30
  , "d" : 40
}

In [40]:
x.get('e') # 없는 키를 넣었을때 None리턴, 에러 X

In [ ]:
x.get('e',-1) # 기본값 지정 가능

In [41]:
x.update(a=5)
x.update(e=50) # 없는 키값일 경우 append 된다.

In [42]:
x.update({
    "a" : 10
    ,"b" : 40
})
x
## 이런식으로 딕셔너리 자체로 입력해도 업데이트 가능

{'a': 10, 'b': 40, 'c': 30, 'd': 40, 'e': 50}

In [43]:
x.pop("f") # 없는 값 pop은 에러

KeyError: ignored

In [44]:
x.pop("f",0) # 기본값 지정시 에러 X

0

In [ ]:
# 삭제는 .clear() 사용
x.clear()

In [45]:
for i in x : 
  print(i) # 키값이 나옴

a
b
c
d
e

In [46]:
for i in x : 
  print(x[i]) # 값이 나옴

10
40
30
40
50

In [49]:
for k,v in x.items() : 
  print(f"key:{k}")
  print(f"value:{v}")

key:a
value:10
key:b
value:40
key:c
value:30
key:d
value:40
key:e
value:50