<a href="https://colab.research.google.com/github/zihvvan/Python/blob/main/submission/zihvvan/ch02_02_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시퀀스

In [1]:
# 시퀀스 : 0개 이상의 원소가 나열되어서 묶여 있는 자료형
# list, tuple, range, string(str) : 문자열
[] # 대괄호
() # 소괄호
"", '', '''''', """""" # 문자열

('', '', '', '')

## in, not in

In [2]:
# 값 in 시퀀스 객체 <-> for 변수명 in 시퀀스 객체:
"파이썬" in ["파이썬", "자바", "자바스크립트"]

True

In [3]:
a = "파이썬"
b = ["파이썬", "자바", "자바스크립트"]
a in b # bool -> 참과 거짓. (있나요? 없나요?)

True

In [4]:
c = "C언어"
c in b, c not in b

(False, True)

In [6]:
name = "김지환"
"김" in name, "지환" in name

(True, True)

In [7]:
sentence = "아버지가 방에 들어가신다"
"아버지" in sentence, "어머니" not in sentence

(True, True)

# 연결 (+)

In [8]:
a = ["사과", "배", "고라니"]
b = [1, 2, 3, 4, 5, 6]
a + b # 연결 (concatenate)

['사과', '배', '고라니', 1, 2, 3, 4, 5, 6]

In [9]:
a, b

(['사과', '배', '고라니'], [1, 2, 3, 4, 5, 6])

In [10]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [11]:
"김" + "지환"

'김지환'

In [12]:
range(10) + range(10)

TypeError: ignored

In [13]:
list(range(10)) + list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
print("안녕하세요", 1, "학년입니다")

안녕하세요 1 학년입니다

In [15]:
"안녕하세요" + 1 + "학년입니다" # int + str X

TypeError: ignored

In [16]:
int("안녕하세요")

ValueError: ignored

In [17]:
"안녕하세요" + str(1) + "학년입니다"

'안녕하세요1학년입니다'

## 반복(*)

In [18]:
# 연결을 n번 이상하는, (시퀀스 객체) * n, n * (시퀀스 객체)
[1, 10, 100, 1000] * 3

[1, 10, 100, 1000, 1, 10, 100, 1000, 1, 10, 100, 1000]

In [19]:
[1, 10, 100, 1000] + [1, 10, 100, 1000] + [1, 10, 100, 1000]

[1, 10, 100, 1000, 1, 10, 100, 1000, 1, 10, 100, 1000]

In [20]:
[0] * 7 # 0을 7개 가진 리스트 만들기

[0, 0, 0, 0, 0, 0, 0]

In [21]:
[0] * 0, [0] * -1 # 0이하의 숫자를 넣으면

([], [])

In [22]:
(0) * 0

0

In [23]:
range(10) * 10

TypeError: ignored

In [ ]:
tuple(range(10)) * 10

In [24]:
"퇴실" * 10

'퇴실퇴실퇴실퇴실퇴실퇴실퇴실퇴실퇴실퇴실'

## len()

In [25]:
#java : array.length(), JS : array.length, Python : len(array)
len([1, 2, 3]), len((1, 2, 3)), len(range(2, 5, 2)), len("문자열")

(3, 3, 2, 3)

## index

In [26]:
# 0부터 시작, 전체 길이 - 1
a = list(range(100, 600, 100))
print(a)

[100, 200, 300, 400, 500]

In [27]:
a[2], a[2-1], a[1], a[0]

(300, 200, 200, 100)

In [28]:
name = "김지환씨"
name[0], name[3]

('김', '씨')

In [29]:
# 음수인덱스 : 뒤에서부터 카운트, len(시퀀스객체) - n
# a, a[-n] = a[len(a)-n]
print(a)
a[-1], a[len(a)-1]

[100, 200, 300, 400, 500]

(500, 500)

In [30]:
a[len(a)]

IndexError: ignored

## 요소에 값 할당하기
* element, 요소, 구성요소, 원소.

In [32]:
a = [0] * 5
print(a)
a[0] = 5
a[1] = 13
a[2] = 34
a[3] = 88
a[4] = 100
a # 원본에 영향

[0, 0, 0, 0, 0]

[5, 13, 34, 88, 100]

In [33]:
a[5]

IndexError: ignored

# del 시퀀스객체 [인덱스]

In [35]:
print(a)
del a[2]
a

[5, 13, 34, 88, 100]

[5, 13, 88, 100]

In [36]:
a

[5, 13, 88, 100]

In [38]:
# 문자열, 튜플, 레인지 -> 읽기 전용
s = "book"
del s[2]

TypeError: ignored

# 슬라이스

In [39]:
# 시퀀스객체[시작인덱스:끝인덱스]
# 시퀀스객체[시작:], 시퀀스객체[끝:]
# 시퀀스객체[시작:끝:증가폭]
# 시퀀스객체[::증가폭]
a = list(range(0, 100, 10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [42]:
# 슬라이스는 원본에 영향 미치지 않고 사본 만드는 방법
a[0:4], len(a), a[0:10], a[0:100]

([0, 10, 20, 30],
 10,
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [43]:
a[1:1] # 빈 리스트

[]

In [44]:
a[3:5]

[30, 40]

In [45]:
a[3:-1], a[3:len(a)-1]

([30, 40, 50, 60, 70, 80], [30, 40, 50, 60, 70, 80])

In [46]:
list(range(1, 5, 2)), a[1:5:2], a[slice(1, 5, 2)]

([1, 3], [10, 30], [10, 30])

In [48]:
a[:], a, a[0:len(a)]

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [49]:
a[1:], a[1:len(a)]

([10, 20, 30, 40, 50, 60, 70, 80, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90])

In [51]:
a[:5], a[0:5], a[0:5:1]

([0, 10, 20, 30, 40], [0, 10, 20, 30, 40], [0, 10, 20, 30, 40])

In [52]:
a[::2], a[0:len(a):2]

([0, 20, 40, 60, 80], [0, 20, 40, 60, 80])

In [54]:
a[::-1], a[len(a)::-1], a[0:len(a):-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10, 0],
 [90, 80, 70, 60, 50, 40, 30, 20, 10, 0],
 [])

In [56]:
a[20:0:-1], a[20::-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10], [90, 80, 70, 60, 50, 40, 30, 20, 10, 0])

In [58]:
s = "hello world"
s[::-1], s[::2], s[1:3]

('dlrow olleh', 'hlowrd', 'el')

In [60]:
# 할당하기 -> 특정한 슬라이스 범위에 새로운 값들을 끼워넣기
# 리스트 only, 갯수가 일치할 필요
a = [1, 2, 3, 4, 5]
print(a[1:3])
a[1:3] = [6, 7, 8, 9]
a

[2, 3]

[1, 6, 7, 8, 9, 4, 5]

In [61]:
b = list(range(20))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [62]:
b[1:10:2]

[1, 3, 5, 7, 9]

In [63]:
b[1:10:2] = [0] * 5
b

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [64]:
b[1:10:2] = [0]

ValueError: ignored

In [65]:
print(a)

[1, 6, 7, 8, 9, 4, 5]

In [66]:
del a[2:5]
a

[1, 6, 4, 5]

# 딕셔너리

In [67]:
d = {
    "key" : "value"
}
d

{'key': 'value'}

In [68]:
young = {
    "말" : "많음",
    "채력" : "딸림",
    "타고오는지하철": 1,
    "잔소리여부" : False,
    "좋아하는언어" : ["파이썬", "자바", "자바스크립트"]
}

In [69]:
# k, v = 1:1 대응
kim = {
    "height": 170,
    "weight": 80,
    "height": 180,
    "weight": 85,
} # 중괄호로 묶어야한다, 'KEY:VALUE' 로 값들이 표현
kim

{'height': 180, 'weight': 85}

In [72]:
# 시퀀스형 중에 리스트와, 딕셔너리 자체만 키값으로 쓸 수 없음
{
    []: 0
 }

TypeError: ignored

In [73]:
{
    {}: 0
 }

TypeError: ignored

In [77]:
{
    1:{
      2:{
       3:{
         4:{
           5:{
                 }
               }
            }
         }
     }
}

{1: {2: {3: {4: {5: {}}}}}}

In [75]:
kim

{'height': 180, 'weight': 85}

In [76]:
kim['height']

180

In [78]:
kim['salary'] = 4000

In [79]:
kim

{'height': 180, 'weight': 85, 'salary': 4000}

In [80]:
kim['IQ'] # KeyError

KeyError: ignored

In [81]:
'IQ' in kim # 시퀀스 객체 (in) - 요소 / 딕셔너리 - 키 (in) / for in - 반복

False

In [82]:
'iQ' not in kim

True

In [83]:
len(kim) # key의 갯수

3

In [84]:
list(kim) # dict -> list 감싸주면 -> key를 원소로 가지는 리스트

['height', 'weight', 'salary']

# 조건문

# if

In [85]:
switch = True
if switch: # if (...): 조건식 -> 최종적으로 bool형태로 표현될 수 있는 값
    print("아 밝다~") # if 본문.

아 밝다~

In [86]:
temperature = 40
if temperature > 38:
    print("아 덥다")

아 덥다

In [90]:
temperature = 30
if temperature > 38:
    print("아 덥다")
    print("물 마시고 싶어 #1")
print("물 마시고 싶어 #2")
    print("물 마시고 싶어 #3")

IndentationError: ignored

# else

In [91]:
temperature = 30
if temperature > 38:
    print("아 덥다")
else: # temperature <=38:
    print("괜찮아")

괜찮아

## pass

In [92]:
temperature = 30
if temperature > 38:
    print("아 덥다")
else: # temperature <=38:
    pass # block 유지 때문에

In [96]:
if True:
    
else:
    print('hello')

IndentationError: ignored

In [93]:
pass

In [94]:
if True:
    pass
else:
    print('hello')

In [95]:
if True:
    ''
else:
    print('hello')

In [97]:
name = "김땡땡"

if name == "김땡땡" :
    print("웰컴")

웰컴

In [99]:
if name = "김땡땡" :
    print("웰컴")

SyntaxError: ignored

In [100]:
if "김" in name:
      print("웰컴")

웰컴

## 삼항연산자 (조건부 표현식

In [101]:
a = None
b = True
if b:
    a = 10
else:
    a = 100
a

10

In [102]:
a = 10 if b else 100 # (True 값) if (조건식) else (False 값)
a

10

In [103]:
a = "환타"

if a == "콜라":
    print("콜라 드세요")
elif a == "사이다":
    print("사이다 드세요")
elif a == "환타":
    print("환타 드세요")

환타 드세요

# 반복문

## for

In [105]:
for i in range(10): # range랑 같이 쓰면 정수 -> i
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [108]:
# range(n) : n회 반복
for i in "hello world" : # range가 아닌 시퀀스형태의 자료형? list -> v, string -> c
    print(i) # 루프를 돈다

h
e
l
l
o

w
o
r
l
d

In [109]:
a = ["배", "사과", "바나나"]
for i in a:
    print(i)

배
사과
바나나

In [110]:
for i in reversed(a): # reverse + ed : 새롭게 형성된 데이터
    print(i)

바나나
사과
배

In [112]:
a, list(reversed(a)), a[::-1]

(['배', '사과', '바나나'], ['바나나', '사과', '배'], ['바나나', '사과', '배'])

## while

In [113]:
for i in range(10):
    print(i, end= " ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
'''
for (i = 0; i < 10; i++) {
    ...
}
'''

In [114]:
i = 0 # 초기식
while i < 10: # while 조건식
    print(i, end = " ") # ...
    i += 1 # 변화식

0 1 2 3 4 5 6 7 8 9

In [115]:
money = 10000
hit = 0
while money > 0:
    money -= 100
    hit += 1
    print(money, "원 남았습니다", hit, "대 맞았습니다")

9900 원 남았습니다 1 대 맞았습니다
9800 원 남았습니다 2 대 맞았습니다
9700 원 남았습니다 3 대 맞았습니다
9600 원 남았습니다 4 대 맞았습니다
9500 원 남았습니다 5 대 맞았습니다
9400 원 남았습니다 6 대 맞았습니다
9300 원 남았습니다 7 대 맞았습니다
9200 원 남았습니다 8 대 맞았습니다
9100 원 남았습니다 9 대 맞았습니다
9000 원 남았습니다 10 대 맞았습니다
8900 원 남았습니다 11 대 맞았습니다
8800 원 남았습니다 12 대 맞았습니다
8700 원 남았습니다 13 대 맞았습니다
8600 원 남았습니다 14 대 맞았습니다
8500 원 남았습니다 15 대 맞았습니다
8400 원 남았습니다 16 대 맞았습니다
8300 원 남았습니다 17 대 맞았습니다
8200 원 남았습니다 18 대 맞았습니다
8100 원 남았습니다 19 대 맞았습니다
8000 원 남았습니다 20 대 맞았습니다
7900 원 남았습니다 21 대 맞았습니다
7800 원 남았습니다 22 대 맞았습니다
7700 원 남았습니다 23 대 맞았습니다
7600 원 남았습니다 24 대 맞았습니다
7500 원 남았습니다 25 대 맞았습니다
7400 원 남았습니다 26 대 맞았습니다
7300 원 남았습니다 27 대 맞았습니다
7200 원 남았습니다 28 대 맞았습니다
7100 원 남았습니다 29 대 맞았습니다
7000 원 남았습니다 30 대 맞았습니다
6900 원 남았습니다 31 대 맞았습니다
6800 원 남았습니다 32 대 맞았습니다
6700 원 남았습니다 33 대 맞았습니다
6600 원 남았습니다 34 대 맞았습니다
6500 원 남았습니다 35 대 맞았습니다
6400 원 남았습니다 36 대 맞았습니다
6300 원 남았습니다 37 대 맞았습니다
6200 원 남았습니다 38 대 맞았습니다
6100 원 남았습니다 39 대 맞았습니다
6000 원 남았습니다 40 대 맞았습니다
5900 원 남았습니다 41 대 맞았습니다
5800 원 남았습니다 42 대 맞았습니다
5700 원 남았습니다 43 대 맞았습니다
5600 원 남았습니다 44 대 맞았습니다
5500 원 남았습니다 45 대 맞았습니다
5400 원 남았습니다 46 대 맞았습니다
5300 원 남았습니다 47 대 맞았습니다
5200 원 남았습니다 48 대 맞았습니다
5100 원 남았습니다 49 대 맞았습니다
5000 원 남았습니다 50 대 맞았습니다
4900 원 남았습니다 51 대 맞았습니다
4800 원 남았습니다 52 대 맞았습니다
4700 원 남았습니다 53 대 맞았습니다
4600 원 남았습니다 54 대 맞았습니다
4500 원 남았습니다 55 대 맞았습니다
4400 원 남았습니다 56 대 맞았습니다
4300 원 남았습니다 57 대 맞았습니다
4200 원 남았습니다 58 대 맞았습니다
4100 원 남았습니다 59 대 맞았습니다
4000 원 남았습니다 60 대 맞았습니다
3900 원 남았습니다 61 대 맞았습니다
3800 원 남았습니다 62 대 맞았습니다
3700 원 남았습니다 63 대 맞았습니다
3600 원 남았습니다 64 대 맞았습니다
3500 원 남았습니다 65 대 맞았습니다
3400 원 남았습니다 66 대 맞았습니다
3300 원 남았습니다 67 대 맞았습니다
3200 원 남았습니다 68 대 맞았습니다
3100 원 남았습니다 69 대 맞았습니다
3000 원 남았습니다 70 대 맞았습니다
2900 원 남았습니다 71 대 맞았습니다
2800 원 남았습니다 72 대 맞았습니다
2700 원 남았습니다 73 대 맞았습니다
2600 원 남았습니다 74 대 맞았습니다
2500 원 남았습니다 75 대 맞았습니다
2400 원 남았습니다 76 대 맞았습니다
2300 원 남았습니다 77 대 맞았습니다
2200 원 남았습니다 78 대 맞았습니다
2100 원 남았습니다 79 대 맞았습니다
2000 원 남았습니다 80 대 맞았습니다
1900 원 남았습니다 81 대 맞았습니다
1800 원 남았습니다 82 대 맞았습니다
1700 원 남았습니다 83 대 맞았습니다
1600 원 남았습니다 84 대 맞았습니다
1500 원 남았습니다 85 대 맞았습니다
1400 원 남았습니다 86 대 맞았습니다
1300 원 남았습니다 87 대 맞았습니다
1200 원 남았습니다 88 대 맞았습니다
1100 원 남았습니다 89 대 맞았습니다
1000 원 남았습니다 90 대 맞았습니다
900 원 남았습니다 91 대 맞았습니다
800 원 남았습니다 92 대 맞았습니다
700 원 남았습니다 93 대 맞았습니다
600 원 남았습니다 94 대 맞았습니다
500 원 남았습니다 95 대 맞았습니다
400 원 남았습니다 96 대 맞았습니다
300 원 남았습니다 97 대 맞았습니다
200 원 남았습니다 98 대 맞았습니다
100 원 남았습니다 99 대 맞았습니다
0 원 남았습니다 100 대 맞았습니다

## break, continue

In [116]:
for i in range(1000) :
    print(i, i ** 2)
    if i ** 2 > 1000:
        break

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400
21 441
22 484
23 529
24 576
25 625
26 676
27 729
28 784
29 841
30 900
31 961
32 1024

In [118]:
for i in range(1, 1000) :
    if i % 2 == 0:
        continue
    print(i, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249 251 253 255 257 259 261 263 265 267 269 271 273 275 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477 479 481 483 485 487 489 491 493 495 497 499 501 503 505 507 509 511 513 515 517 519 521 523 525 527 529 531 533 535 537 539 541 543 545 547 549 551 553 555 557 559 561 563 565 567 569 571 573 575 577 579 581 583 585 587 589 591 593 595 597 599 601 603 605 607 609 611 613 615 617 619 621 623 625 627 629 631 633 635 637 639 641 643 645 647 649 651 653 655 657 659 661 663 665 667 669 671 673 675 677 679 681 683 685 687 689 691 693 695 697 699 701 703 705 707 709 711 713 715 717 719 721 723 725 727 729 731 733 735 737 739 741 743 745 747 749 751 753 755 757 759 761 763 765 767 769 771 773 775 777 779 781 783 785 787 789 791 793 795 797 799 801 803 805 807 809 811 813 815 817 819 821 823 825 827 829 831 833 835 837 839 841 843 845 847 849 851 853 855 857 859 861 863 865 867 869 871 873 875 877 879 881 883 885 887 889 891 893 895 897 899 901 903 905 907 909 911 913 915 917 919 921 923 925 927 929 931 933 935 937 939 941 943 945 947 949 951 953 955 957 959 961 963 965 967 969 971 973 975 977 979 981 983 985 987 989 991 993 995 997 999

In [119]:
for i in range(1, 1000) :
    if i % 3 != 0: # 3의 배수가 아닌 것들을 필터링
        continue
    print(i, end=' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198 201 204 207 210 213 216 219 222 225 228 231 234 237 240 243 246 249 252 255 258 261 264 267 270 273 276 279 282 285 288 291 294 297 300 303 306 309 312 315 318 321 324 327 330 333 336 339 342 345 348 351 354 357 360 363 366 369 372 375 378 381 384 387 390 393 396 399 402 405 408 411 414 417 420 423 426 429 432 435 438 441 444 447 450 453 456 459 462 465 468 471 474 477 480 483 486 489 492 495 498 501 504 507 510 513 516 519 522 525 528 531 534 537 540 543 546 549 552 555 558 561 564 567 570 573 576 579 582 585 588 591 594 597 600 603 606 609 612 615 618 621 624 627 630 633 636 639 642 645 648 651 654 657 660 663 666 669 672 675 678 681 684 687 690 693 696 699 702 705 708 711 714 717 720 723 726 729 732 735 738 741 744 747 750 753 756 759 762 765 768 771 774 777 780 783 786 789 792 795 798 801 804 807 810 813 816 819 822 825 828 831 834 837 840 843 846 849 852 855 858 861 864 867 870 873 876 879 882 885 888 891 894 897 900 903 906 909 912 915 918 921 924 927 930 933 936 939 942 945 948 951 954 957 960 963 966 969 972 975 978 981 984 987 990 993 996 999

In [120]:
i = 0
while True:
    i += 1
    print(i)
    if i > 10:
        break

1
2
3
4
5
6
7
8
9
10
11

In [121]:
money = 10000
hit = 0
while money > 0:
    money -= 100
    print(money, "원 남았습니다")
    if money % 1000 == 0:
        print("피했습니다")
        continue
    hit += 1
    print(hit, "대 맞았습니다")

9900 원 남았습니다
1 대 맞았습니다
9800 원 남았습니다
2 대 맞았습니다
9700 원 남았습니다
3 대 맞았습니다
9600 원 남았습니다
4 대 맞았습니다
9500 원 남았습니다
5 대 맞았습니다
9400 원 남았습니다
6 대 맞았습니다
9300 원 남았습니다
7 대 맞았습니다
9200 원 남았습니다
8 대 맞았습니다
9100 원 남았습니다
9 대 맞았습니다
9000 원 남았습니다
피했습니다
8900 원 남았습니다
10 대 맞았습니다
8800 원 남았습니다
11 대 맞았습니다
8700 원 남았습니다
12 대 맞았습니다
8600 원 남았습니다
13 대 맞았습니다
8500 원 남았습니다
14 대 맞았습니다
8400 원 남았습니다
15 대 맞았습니다
8300 원 남았습니다
16 대 맞았습니다
8200 원 남았습니다
17 대 맞았습니다
8100 원 남았습니다
18 대 맞았습니다
8000 원 남았습니다
피했습니다
7900 원 남았습니다
19 대 맞았습니다
7800 원 남았습니다
20 대 맞았습니다
7700 원 남았습니다
21 대 맞았습니다
7600 원 남았습니다
22 대 맞았습니다
7500 원 남았습니다
23 대 맞았습니다
7400 원 남았습니다
24 대 맞았습니다
7300 원 남았습니다
25 대 맞았습니다
7200 원 남았습니다
26 대 맞았습니다
7100 원 남았습니다
27 대 맞았습니다
7000 원 남았습니다
피했습니다
6900 원 남았습니다
28 대 맞았습니다
6800 원 남았습니다
29 대 맞았습니다
6700 원 남았습니다
30 대 맞았습니다
6600 원 남았습니다
31 대 맞았습니다
6500 원 남았습니다
32 대 맞았습니다
6400 원 남았습니다
33 대 맞았습니다
6300 원 남았습니다
34 대 맞았습니다
6200 원 남았습니다
35 대 맞았습니다
6100 원 남았습니다
36 대 맞았습니다
6000 원 남았습니다
피했습니다
5900 원 남았습니다
37 대 맞았습니다
5800 원 남았습니다
38 대 맞았습니다
5700 원 남았습니다
39 대 맞았습니다
5600 원 남았습니다
40 대 맞았습니다
5500 원 남았습니다
41 대 맞았습니다
5400 원 남았습니다
42 대 맞았습니다
5300 원 남았습니다
43 대 맞았습니다
5200 원 남았습니다
44 대 맞았습니다
5100 원 남았습니다
45 대 맞았습니다
5000 원 남았습니다
피했습니다
4900 원 남았습니다
46 대 맞았습니다
4800 원 남았습니다
47 대 맞았습니다
4700 원 남았습니다
48 대 맞았습니다
4600 원 남았습니다
49 대 맞았습니다
4500 원 남았습니다
50 대 맞았습니다
4400 원 남았습니다
51 대 맞았습니다
4300 원 남았습니다
52 대 맞았습니다
4200 원 남았습니다
53 대 맞았습니다
4100 원 남았습니다
54 대 맞았습니다
4000 원 남았습니다
피했습니다
3900 원 남았습니다
55 대 맞았습니다
3800 원 남았습니다
56 대 맞았습니다
3700 원 남았습니다
57 대 맞았습니다
3600 원 남았습니다
58 대 맞았습니다
3500 원 남았습니다
59 대 맞았습니다
3400 원 남았습니다
60 대 맞았습니다
3300 원 남았습니다
61 대 맞았습니다
3200 원 남았습니다
62 대 맞았습니다
3100 원 남았습니다
63 대 맞았습니다
3000 원 남았습니다
피했습니다
2900 원 남았습니다
64 대 맞았습니다
2800 원 남았습니다
65 대 맞았습니다
2700 원 남았습니다
66 대 맞았습니다
2600 원 남았습니다
67 대 맞았습니다
2500 원 남았습니다
68 대 맞았습니다
2400 원 남았습니다
69 대 맞았습니다
2300 원 남았습니다
70 대 맞았습니다
2200 원 남았습니다
71 대 맞았습니다
2100 원 남았습니다
72 대 맞았습니다
2000 원 남았습니다
피했습니다
1900 원 남았습니다
73 대 맞았습니다
1800 원 남았습니다
74 대 맞았습니다
1700 원 남았습니다
75 대 맞았습니다
1600 원 남았습니다
76 대 맞았습니다
1500 원 남았습니다
77 대 맞았습니다
1400 원 남았습니다
78 대 맞았습니다
1300 원 남았습니다
79 대 맞았습니다
1200 원 남았습니다
80 대 맞았습니다
1100 원 남았습니다
81 대 맞았습니다
1000 원 남았습니다
피했습니다
900 원 남았습니다
82 대 맞았습니다
800 원 남았습니다
83 대 맞았습니다
700 원 남았습니다
84 대 맞았습니다
600 원 남았습니다
85 대 맞았습니다
500 원 남았습니다
86 대 맞았습니다
400 원 남았습니다
87 대 맞았습니다
300 원 남았습니다
88 대 맞았습니다
200 원 남았습니다
89 대 맞았습니다
100 원 남았습니다
90 대 맞았습니다
0 원 남았습니다
피했습니다