<a href="https://colab.research.google.com/github/CHOISEONGGU/Python_SG/blob/main/submission/CHOISEONGGU/Ch02_02_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시퀀스 seqence

In [ ]:
# 시퀀스 : 0개 이상의 원소가 나열되어 묶여있는 자료형
# list, tuple, range, string(str) : 문자열
[] # list 대괄호
() # tuple 소괄호
'',"",''' ''', """ """ # 문자열

## in / not in

In [1]:
# 어떠한 값 in 시퀀스 객체  <-> for 변수형 in 시퀀스 객체 :
"파이썬" in ["파이썬", "자바", "자바스크립트"]

True

In [2]:
a = "파이썬"
b = ["파이썬", "자바", "자바스크립트"]
a in b   # 결과 값은 bool 형 이다. 참 or 거짓

True

In [5]:
c = "c언어"
c in b, c not in b

(False, True)

In [8]:
name = "최성구"
"최" in name, "성구" in name

(True, True)

In [10]:
sentence = "아버지가 방에 들어가신다."
"아버지" in sentence, "어머니" not in sentence

(True, True)

## 연결 ( + )

In [12]:
a = ["사과", "배", "고라니"]
b = [1, 2, 3, 4, 5, 6]
a + b  # 연결 (concatenate)

['사과', '배', '고라니', 1, 2, 3, 4, 5, 6]

In [13]:
a, b

(['사과', '배', '고라니'], [1, 2, 3, 4, 5, 6])

In [14]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [16]:
"이삭" + "토스트"

'이삭토스트'

In [18]:
range(10) + range(10)   # range 시퀀스는 연결이 안된다. 굳이 합치려면 list, tuple로 변경해주면 가능하다.

TypeError: ignored

In [19]:
list(range(10)) + list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
print("안녕하세요", 1, "학년입니다")

안녕하세요 1 학년입니다

In [21]:
"안녕하세요"+ 1 + "학년입니다"   # int + str X

TypeError: ignored

In [22]:
"안녕하세요"+ str(1) + "학년입니다"

'안녕하세요1학년입니다'

## 반복 ( * )

In [23]:
# 반복 - 연결을 n번 이상 해준다. (시퀀스 객체) * n, n * (시퀀스 객체)
[ 1, 10, 100, 1000] * 3

[1, 10, 100, 1000, 1, 10, 100, 1000, 1, 10, 100, 1000]

In [24]:
[0] * 7 # 0을 7개 가진 리스트 만들기

[0, 0, 0, 0, 0, 0, 0]

In [25]:
[0] * 0, [0] * -1 # 0 이하의 숫자를 넣으면 빈 list가 된다. 빈 tuple도 가능하다.

([], [])

In [26]:
range(10) * 10 # range는 지원하지 않는다

TypeError: ignored

In [28]:
tuple(range(10)) * 2

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [30]:
"퇴실" * 3   # str도 가능

'퇴실퇴실퇴실'

### 길이 - len(시퀀스 객체)

In [31]:
# java : array.lenth(), JS : array.legth, Python : len(array)
len([1, 2, 3]), len((1, 2, 3)), len(range(2, 5, 2,)), len("문자열")

(3, 3, 2, 3)

### index

In [32]:
# 0부터 시작, 전체 길이 -1
a = list(range(100, 600, 100))
print(a)

[100, 200, 300, 400, 500]

In [34]:
a[1]   # a의 두번째 값을 불러온다. n번째 값을 불러와라 => a[n-1]

200

In [35]:
name = "김나나씨"
name[0], name[3]

('김', '씨')

In [38]:
# 음수index : 뒤에서 부터 카운트, len(시퀀스 객체) - n
# a, a[-n] = a[len(1)-n]
print(a)
a[-1], a[len(a)-1]

[100, 200, 300, 400, 500]

(500, 500)

In [40]:
a = [0] * 5
print(a)
a[0] = 5
a[1] = 13
a[2] = 34
a[3] = 88
a[4] = 100
a   # 원본에 영향

[0, 0, 0, 0, 0]

[5, 13, 34, 88, 100]

In [41]:
a[5]

IndexError: ignored

## del 시퀀스객체[인덱스]

In [43]:
# 삭제 del 시퀀스 객체[인덱스[]
print(a)
del a[2]
a

[5, 13, 34, 88, 100]

[5, 13, 88, 100]

In [44]:
a

[5, 13, 88, 100]

In [45]:
s = "book"
del s[2]

TypeError: ignored

## 슬라이스
* 원본에 영향을 미치지 않고 사본을 만든다.

In [46]:
# 시퀀스객체[시작인덱스:끝인덱스]
# 시퀀스객체[시작:], 시퀀스객제[:끝]
# 시퀀스객체[시작:끝:증가폭]
# 시퀀스객체[::증가폭]
a = list(range(0, 100, 10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [50]:
a[0:4], len(a), a[0:10], a[0:100]

([0, 10, 20, 30],
 10,
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [52]:
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [53]:
a[1:1]   # 시작 = 끝 -> 빈 list

[]

In [54]:
a[3:5]

[30, 40]

In [55]:
a[3:-1], a[3:len(a)-1]

([30, 40, 50, 60, 70, 80], [30, 40, 50, 60, 70, 80])

In [56]:
a[::2], a[0:len(a):2]

([0, 20, 40, 60, 80], [0, 20, 40, 60, 80])

In [57]:
a[::-1], a[len(a)::-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10, 0],
 [90, 80, 70, 60, 50, 40, 30, 20, 10, 0])

In [58]:
s = "Hello world"
s[::-1], s[::2], s[1:3]

('dlrow olleH', 'Hlowrd', 'el')

## 할당하기 -> 특정 슬라이스 범위에 새로운 값을 끼워넣는 법(list만 가능)
* range, tuple등 읽기 전용 애들은 불가능
* 갯수가 일치할 필요

In [63]:
a = [ 1, 2, 3, 4, 5 ]
print(len(a))
a[1:3] = [ 6, 7, 8, 9]
print(a)
print(len(a))

5
[1, 6, 7, 8, 9, 4, 5]
7

In [65]:
b = list(range(20))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [66]:
b[1:10:2]

[1, 3, 5, 7, 9]

In [67]:
b[1:10:2] = [0] * 5
b

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [68]:
b[1:10:2] = [0]

ValueError: ignored

In [69]:
print(a)

[1, 6, 7, 8, 9, 4, 5]

In [71]:
del a[2:5]   # 원본에서 삭제가 된다
a

[1, 6]

## 딕셔너리

In [73]:
# 키 : 값, {} 로 생성
d = {
    "key" : "value"
}
d

{'key': 'value'}

In [74]:
young = {
    "말" : "많음",
    "체력" : "딸림",
    "이용 지하철" : 1,
    "잔소리여부" : True,
    "좋아하는 언어" : ["파이썬", "자바", "자바스크립트"]
}

In [76]:
# k : v = 1 : 1 대응
kim = { "height":170, "weight":80, "height":180, "weight" : 85} # 중괄호 묶어야 한다. 'key:value, '로 값들이 표현, 수정이 가능한 애들은 key로 갈 수 없다.
kim

{'height': 180, 'weight': 85}

In [77]:
# 시퀀스 중에 리스트와, 딕셔너리 자체만 키값으로 쓸 수 없음
{range(0,5):1}

{range(0, 5): 1}

In [78]:
kim

{'height': 180, 'weight': 85}

In [79]:
kim["height"]

180

In [80]:
kim["salary"] = 3000

In [81]:
kim

{'height': 180, 'weight': 85, 'salary': 3000}

In [82]:
kim["salary"] = 4000
kim

{'height': 180, 'weight': 85, 'salary': 4000}

In [83]:
kim["IQ"]   # keyerror

KeyError: ignored

In [84]:
"iq" in kim   # 시퀀스객체(in) -> index 값이 있는지 / 딕셔너리(in) -> key 값이 있는지 / for in -> 반복가능한 것을 지정해주는 것

False

In [85]:
"iq" not in kim

True

In [86]:
len(kim)   # key 갯수

3

In [87]:
list(kim) # dict -> list 감싸주면 -> key를 원소로 가지는 리스트.

['height', 'weight', 'salary']

## 조건문

### if

In [88]:
switch = True
if switch :    # if (...) :   조건식  -> 최종적으로 bool 형태로 표현될 수 있는 값.
  print("밝다")   # if 본문

밝다

In [89]:
temp = 40
if temp > 38 : 
  print("덥다")

덥다

In [91]:
temp = 30
if temp > 38 : 
  print("덥다")

### else

In [94]:
temp = 38
if temp > 38 : 
  print("덥다")
else :    # temp <= 38 : 38 포함
  print("괜찮다")

괜찮다

### pass

In [95]:
temp = 38
if temp > 38 : 
  print("덥다")
else :    # temp <= 38 : 38 포함
  pass   # block 유지 때문에 존재

In [96]:
pass

In [97]:
name = "김땡땡"

if name == "김땡땡" :
  print("well come")

well come

In [98]:
if "김" in name :    # bool 값 ( True )의 형식
  print("well come")

well come

### 삼항연산자 (조건부 표현식)

In [99]:
a = None
b = True
if b :
  a = 10
else : 
  a = 100

a

10

In [100]:
a = 10 if b else 100   # (True 값) if (조건식 값0 else (False 일 때 값)
a

10

In [101]:
a = "환타"

if a == "콜라" :
  print("콜라드세요.")
elif a == "환타":
  print("환타드세요.")
else:
  print("사이다드세요.")

환타드세요.

## 반복문

### for

In [102]:
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [105]:
i = 100

for i in range(10):   # range랑 같이 쓰면 정수 -> i
  pass
i

9

In [107]:
# range(n) : n회 반복
for i in "hello world" :   # range가 아닌 시퀀스형태의 자료형? list -> v, string -> c
  print(i, end=' ')   # 루프를 돈다.

h e l l o   w o r l d

In [108]:
a = ["배", "사과", "바나나"]
for i in a:
  print(i)

배
사과
바나나

In [109]:
for i in reversed(a):   # reverse + ed : 새롭게 형성된 데이터
  print(i)

바나나
사과
배

In [111]:
a, list(reversed(a)), a[::-1]

(['배', '사과', '바나나'], ['바나나', '사과', '배'], ['바나나', '사과', '배'])

### while
* 특정한 조건을 만족시키는 한 계속 돈다.

In [112]:
for i in range(10) :
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
'''
for ( i = 0; i < 10 ; i++ ){
  ...
}
'''

In [113]:
i = 0    # 초기식
while i < 10 :   # while 조건식
  print(i, end=' ')   # 실행 code
  i += 1   # 변화식

0 1 2 3 4 5 6 7 8 9

In [116]:
money = 10000
hit = 0
while money > 0 :
  money -= 1000
  hit += 1
  print(money, "원 남았습니다.", hit, "대 맞았습니다.")

9000 원 남았습니다. 1 대 맞았습니다.
8000 원 남았습니다. 2 대 맞았습니다.
7000 원 남았습니다. 3 대 맞았습니다.
6000 원 남았습니다. 4 대 맞았습니다.
5000 원 남았습니다. 5 대 맞았습니다.
4000 원 남았습니다. 6 대 맞았습니다.
3000 원 남았습니다. 7 대 맞았습니다.
2000 원 남았습니다. 8 대 맞았습니다.
1000 원 남았습니다. 9 대 맞았습니다.
0 원 남았습니다. 10 대 맞았습니다.

### break, continue

In [118]:
for i in range(1000):
  print(i, i ** 2)
  if i ** 2 > 1000:
    break

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400
21 441
22 484
23 529
24 576
25 625
26 676
27 729
28 784
29 841
30 900
31 961
32 1024

In [119]:
for i in range(1000):
  if i % 2 == 0:   # 3의 배수가 아닌 것들의 필터링
    continue
  print(i, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249 251 253 255 257 259 261 263 265 267 269 271 273 275 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477 479 481 483 485 487 489 491 493 495 497 499 501 503 505 507 509 511 513 515 517 519 521 523 525 527 529 531 533 535 537 539 541 543 545 547 549 551 553 555 557 559 561 563 565 567 569 571 573 575 577 579 581 583 585 587 589 591 593 595 597 599 601 603 605 607 609 611 613 615 617 619 621 623 625 627 629 631 633 635 637 639 641 643 645 647 649 651 653 655 657 659 661 663 665 667 669 671 673 675 677 679 681 683 685 687 689 691 693 695 697 699 701 703 705 707 709 711 713 715 717 719 721 723 725 727 729 731 733 735 737 739 741 743 745 747 749 751 753 755 757 759 761 763 765 767 769 771 773 775 777 779 781 783 785 787 789 791 793 795 797 799 801 803 805 807 809 811 813 815 817 819 821 823 825 827 829 831 833 835 837 839 841 843 845 847 849 851 853 855 857 859 861 863 865 867 869 871 873 875 877 879 881 883 885 887 889 891 893 895 897 899 901 903 905 907 909 911 913 915 917 919 921 923 925 927 929 931 933 935 937 939 941 943 945 947 949 951 953 955 957 959 961 963 965 967 969 971 973 975 977 979 981 983 985 987 989 991 993 995 997 999