<a href="https://colab.research.google.com/github/CHOISEONGGU/Python_SG/blob/main/submission/CHOISEONGGU/ch02_08_%EB%AC%B8%EC%9E%90%EC%97%B4_%EC%9D%91%EC%9A%A9_ChoiSG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 응용

지금까지 리스트 사용 방법을 알아보았습니다. 리스트는 요소 여러 개가 연속적으로 이어져 있죠? 마찬가지로 문자열도 문자 여러 개가 연속적으로 이어져 있는 시퀀스 자료형이라 리스트와 비슷한 점이 많습니다.

## 문자열 조작하기

### 문자열 바꾸기

replace('바꿀문자열', '새문자열')은 문자열 안의 문자열을 다른 문자열로 바꿉니다(문자열 자체는 변경하지 않으며 바뀐 결과를 반환합니다). 다음은 문자열 'Hello, world!'에서 'world'를 'Python'으로 바꾼 뒤 결과를 반환합니다.

In [2]:
a = "킹아메리카노"
a.replace("킹","헤이즐럿"), a   # .replace 원본에 영향을 끼치지 못한다. 새로운 것을 만들어서 덮어 씌운다.

('헤이즐럿아메리카노', '킹아메리카노')

만약 바뀐 결과를 유지하고 싶다면 문자열이 저장된 변수에 replace를 사용한 뒤 다시 변수에 할당해주면 됩니다.

'Hello, Python'

### 문자열 분리하기

이제 문자열을 분리하는 방법입니다.

split()은 공백을 기준으로 문자열을 분리하여 리스트로 만듭니다. 지금까지 input으로 문자열을 입력받은 뒤 리스트로 만든 메서드가 바로 이 split입니다.

In [6]:
a = "태조 정종 태종 세종 문종 단종 세종"
a.split(), a

(['태조', '정종', '태종', '세종', '문종', '단종', '세종'], '태조 정종 태종 세종 문종 단종 세종')

split('기준문자열')과 같이 기준 문자열을 지정하면 기준 문자열로 문자열을 분리합니다. 즉, 문자열에서 각 단어가 ,(콤마)와 공백으로 구분되어 있을 때 ', '으로 문자열을 분리하면 단어만 리스트로 만듭니다.

In [7]:
# 원본을 바꿔주려면 새로운 변수에 대입해주어야 한다.
a = "태조, 정종, 태종, 세종, 문종, 단종, 세종"
a.split(",")

['태조', ' 정종', ' 태종', ' 세종', ' 문종', ' 단종', ' 세종']

### 구분자 문자열과 문자열 리스트 연결하기

문자열을 분리하여 리스트로 만들었으니 다시 연결하는 방법도 있겠죠?

join(리스트)는 구분자 문자열과 문자열 리스트의 요소를 연결하여 문자열로 만듭니다. 다음은 공백 ' '에 join을 사용하여 각 문자열 사이에 공백이 들어가도록 만듭니다..

In [8]:
b = ['태조', ' 정종', ' 태종', ' 세종', ' 문종', ' 단종', ' 세종']
" ".join(b) #"구분자".join(list)

'태조  정종  태종  세종  문종  단종  세종'

In [10]:
# 마이너스 '-'에 join을 사용하면 각 문자열 사이에 마이너스가 들어가겠죠?
b = ['태조', ' 정종', ' 태종', ' 세종', ' 문종', ' 단종', ' 세종']
"-".join(b) #"구분자".join(list)
"*".join(b) #"구분자".join(list)

'태조* 정종* 태종* 세종* 문종* 단종* 세종'

In [12]:
"&".join("집에 가고 싶다")

'집&에& &가&고& &싶&다'

### 소문자를 대문자로 바꾸기

이번에는 문자열의 문자를 대소문자로 바꾸는 방법입니다.

upper()는 문자열의 문자를 모두 대문자로 바꿉니다. 만약 문자열 안에 대문자가 있다면 그대로 유지됩니다.

In [16]:
"JamesPotato".upper(), "python".upper()

('JAMESPOTATO', 'PYTHON')

In [19]:
"JamesPotato".upper().isupper()

True

### 대문자를 소문자로 바꾸기

lower()는 문자열의 문자를 모두 소문자로 바꿉니다. 만약 문자열 안에 소문자가 있다면 그대로 유지됩니다.

In [17]:
"PYTHON".lower()

'python'

In [20]:
"123456".isnumeric()

True

### 양쪽 공백 삭제하기

strip()은 문자열에서 양쪽에 있는 연속된 모든 공백을 삭제합니다.

In [22]:
"  ㅎㅎㅎㅎㅎㅎ      ".strip()

'ㅎㅎㅎㅎㅎㅎ'

### 메서드 체이닝

이렇게 문자열 메서드는 처리한 결과를 반환하도록 만들어져 있습니다. 따라서 메서드를 계속 연결해서 호출하는 메서드 체이닝이 가능합니다. 메서드 체이닝은 메서드를 줄줄이 연결한다고 해서 메서드 체이닝(method chaining)이라 부릅니다.

In [25]:
"   JamesPotato     ".replace("James", "John").upper().strip()

'JOHNPOTATO'

### 문자열 왼쪽에 0 채우기

지금까지 문자열을 정렬하면서 남는 공간에 공백을 채웠죠? 파이썬을 사용하다 보면 문자열 왼쪽에 0을 채워야 할 경우가 생깁니다.

zfill(길이)는 지정된 길이에 맞춰서 문자열의 왼쪽에 0을 채웁니다( zero fill을 의미). 단, 문자열의 길이보다 지정된 길이가 작다면 아무것도 채우지 않습니다. 보통 zfill은 숫자를 일정 자릿수로 맞추고 앞자리는 0으로 채울 때 사용합니다.

In [31]:
a = "35"
a = "350"
type(a.zfill(4))

str

'0003.5'

'00000hello'

### 문자열 위치 찾기

이번에는 문자열의 위치를 찾는 방법을 알아보겠습니다.

find('찾을문자열')은 문자열에서 특정 문자열을 찾아서 인덱스를 반환하고, 문자열이 없으면 -1을 반환합니다. find는 왼쪽에서부터 문자열을 찾는데, 같은 문자열이 여러 개일 경우 처음 찾은 문자열의 인덱스를 반환합니다. 여기서는 'pl'이 2개 있지만 왼쪽에서 처음 찾은 'pl'의 인덱스 2를 반환합니다.

In [36]:
"킹아메리카노".find("메리")
"킹아메리카노".find("킹")
"킹오브킹".find("킹")
"아메리카노".find("킹")

-1

-1

### 문자열 개수 세기

count('문자열')은 현재 문자열에서 특정 문자열이 몇 번 나오는지 알아냅니다.

In [38]:
"찐찐찐찐찐이야 완전 찐이야".count("찐")

6