<a href="https://colab.research.google.com/github/CHOISEONGGU/Python_SG/blob/main/submission/CHOISEONGGU/ch04_01_%EB%AA%A8%EB%93%88%EA%B3%BC_%ED%8C%A8%ED%82%A4%EC%A7%80_ChoiSG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 모듈과 패키지

지금까지 파이썬 코드를 작성하면서 input, print 등의 내장 함수(built-in function)를 주로 사용했는데, 내장 함수만으로는 할 수 있는게 별로 없습니다. 그래서 좀 더 복잡한 프로그램을 만들려면 파이썬의 모듈과 패키지를 사용해야 합니다. 우리가 책 중간 중간에 사용했던 random, math 등이 바로 모듈과 패키지입니다.

모듈(module)은 각종 변수, 함수, 클래스를 담고 있는 파일이고, 패키지(package)는 여러 모듈을 묶은 것입니다. 파이썬을 설치할 때 다양한 모듈과 패키지가 기본으로 설치됩니다. 만약 기본 모듈과 패키지로 부족하다면 다른 사람이 만든 유명 모듈과 패키지를 설치해서 쓸 수도 있습니다.

### 모듈, 패키지, 라이브러리


파이썬을 배우다 보면 모듈, 패키지, 파이썬 표준 라이브러리와 같은 용어를 접하게 되는데 서로 비슷한 개념이지만 약간의 차이가 있습니다.

모듈: 특정 기능을 .py 파일 단위로 작성한 것입니다.

패키지: 특정 기능과 관련된 여러 모듈을 묶은 것입니다. 패키지는 모듈에 네임스페이스(namespace, 이름공간)를 제공합니다.

파이썬 표준 라이브러리: 파이썬에 기본으로 설치된 모듈과 패키지, 내장 함수를 묶어서 파이썬 표준 라이브러리(Python Standard Library, PSL)라 부릅니다.

## import로 모듈 가져오기

모듈은 import 키워드로 가져올 수 있습니다(모듈을 여러 개 가져올 때는 모듈을 콤마로 구분).

* import 모듈
* import 모듈1, 모듈2
* 모듈.변수
* 모듈.함수()
* 모듈.클래스()

In [1]:
import math

math.pi

3.141592653589793

import에 모듈 이름을 지정하면 해당 모듈을 가져올 수 있으며 math.pi와 같이 **모듈.변수** 형식으로 모듈의 변수를 사용합니다.

In [4]:
import random

random.choice(range(0,45))

12

In [5]:
import collections

collections.Counter(['a','a','b'])   # Counter class

Counter({'a': 2, 'b': 1})

모듈의 함수는 **모듈.함수()** 형식으로 사용합니다.

### import as로 모듈 이름 지정하기

모듈의 함수를 사용할 때 math.sqrt처럼 일일이 math를 입력하기 귀찮은 사람도 있겠죠? 이때는 import as를 사용하여 모듈의 이름을 지정할 수 있습니다.

* import 모듈 as 이름

In [7]:
import random as r

r.randint(0, 100)   # randint(시작, 끝) 값을 포함하는 수들 중 랜덤으로 한개

81

### from import로 모듈의 일부만 가져오기

import as로 모듈의 이름을 지정하는 방법보다 좀 더 편한 방법이 있습니다. 이번에는 from import로 원하는 변수만 가져와보겠습니다.

* from 모듈 import 변수

In [8]:
from math import pi

pi

3.141592653589793

모듈의 변수를 가져왔으니 이번에는 함수를 가져와보겠습니다(물론 클래스도 가져올 수 있습니다).

* from 모듈 import 함수
* from 모듈 import 클래스

In [11]:
from random import choice
from collections import Counter

choice([1,2,3])
Counter([1,2,3,3,4,4,4])

Counter({1: 1, 2: 1, 3: 2, 4: 3})

지금까지 변수나 함수를 하나만 가져왔습니다. 하지만 math 모듈에서 가져올 변수와 함수가 여러 개일 수도 있겠죠? 이때는 import 뒤에 가져올 변수, 함수, 클래스를 콤마로 구분하여 여러 개를 지정해주면 됩니다.

* from 모듈 import 변수, 함수, 클래스

In [13]:
from math import pi, ceil, floor

pi, ceil(100.2324325 * 100) / 100, floor(100.33435 * 100) / 100

(3.141592653589793, 100.24, 100.33)

from import는 모듈의 모든 변수, 함수, 클래스를 가져오는 기능도 있습니다.

보통 컴퓨터에서 *(asterisk, 애스터리스크) 기호는 모든 것이라는 뜻으로 사용합니다

* from 모듈 import *

In [14]:
from math import *

pi, floor(100.324325)

(3.141592653589793, 100)

### from import로 모듈의 일부를 가져온 뒤 이름 지정하기

이번에는 from import로 변수, 함수, 클래스를 가져온 뒤 이름을 지정해보겠습니다.

* from 모듈 import 변수 as 이름
* from 모듈 import 함수 as 이름
* from 모듈 import 클래스 as 이름

In [16]:
from random import choice as ch

ch(range(10, 100))

94

from import로 가져온 변수, 함수, 클래스 뒤에 as로 이름을 지정해주면 됩니다.

그럼 여러 개를 가져왔을 때 각각 이름을 지정할 수는 없을까요? 이때는 각 변수, 함수, 클래스 등을 콤마로 구분하여 as를 여러 개 지정하면 됩니다.

from 모듈 import 변수 as 이름1, 함수 as 이름2, 클래스 as 이름3

In [17]:
from random import choice as ch, randint as ri

ch(range(10, 100)), ri(1,10)

(72, 7)

## import로 패키지 가져오기

패키지는 특정 기능과 관련된 여러 모듈을 묶은 것인데, 패키지에 들어있는 모듈도 import를 사용하여 가져옵니다.

* import 패키지.모듈
* import 패키지.모듈1, 패키지.모듈2
* 패키지.모듈.변수
* 패키지.모듈.함수()
* 패키지.모듈.클래스()

200

### import as로 패키지 모듈 이름 지정하기

패키지 안에 들어있는 모듈도 import as를 사용하여 이름을 지정할 수 있습니다.

* import 패키지.모듈 as 이름

200

### from import로 패키지의 모듈에서 일부만 가져오기

패키지도 from import를 사용하여 모듈에서 변수, 함수, 클래스를 가져올 수 있습니다.

* from 패키지.모듈 import 변수
* from 패키지.모듈 import 함수
* from 패키지.모듈 import 클래스
* from 패키지.모듈 import 변수, 함수, 클래스

200

패키지의 모듈에서 모든 변수, 함수, 클래스를 가져오는 방법은 다음과 같습니다.

* from 패키지.모듈 import *

200

### from import로 패키지의 모듈의 일부를 가져온 뒤 이름 지정하기

이번에는 from import로 패키지의 모듈에서 변수, 함수, 클래스를 가져온 뒤 이름을 지정해보겠습니다.

* from 패키지.모듈 import 변수 as 이름
* from 패키지.모듈 import 변수 as 이름, 함수 as 이름, 클래스 as 이름

200

### 파이썬 패키지 인덱스에서 패키지 설치하기

파이썬은 파이썬 표준 라이브러리(Python Standard Library, PSL) 이외에도 파이썬 패키지 인덱스(Python Package Index, PyPI)를 통해 다양한 패키지를 사용할 수 있습니다. 특히 명령만 입력하면 원하는 패키지를 인터넷에서 다운로드하여 설치해줄 뿐만 아니라 관련된 패키지(의존성)까지 자동으로 설치해주므로 매우 편리합니다.

### pip로 패키지 설치하기

* pip install 패키지

In [21]:
# !pip install finance-datareader # colab엔 웬만한건 다 깔려있다.
# !pip install finance-datareader -q
# https://pypi.org   -> installer가 거의 다 있다.
!pip install finance-datareader --quiet

### import로 패키지 가져오기

* import 패키지

In [22]:
import FinanceDataReader as fdr

In [31]:
name = '에너지솔루션'
fdr.StockListing('KOSPI').query(f'Name == "{name}"').Code
fdr.DataReader("373220")

              Open    High     Low   Close    Volume    Change
Date
2022-01-27  597000  598000  450000  505000  15946992       NaN
2022-01-28  476000  483000  445000  450000   4559773 -0.108911
2022-02-03  458000  495500  441000  477000   2918435  0.060000
2022-02-04  476500  505000  476000  504000   2088996  0.056604
2022-02-07  520000  548000  511000  548000   1911176  0.087302
...            ...     ...     ...     ...       ...       ...
2023-02-28  516000  532000  515000  523000    419180  0.029528
2023-03-02  520000  542000  516000  535000    506812  0.022945
2023-03-03  539000  542000  533000  538000    288004  0.005607
2023-03-06  545000  547000  533000  547000    418951  0.016729
2023-03-07  548000  570000  543000  566000    830479  0.034735

[272 rows x 6 columns]

In [23]:
fdr.DataReader('삼성전자')   # '삼성전자' -> code가 아님

'ascii' codec can't encode characters in position 25-28: ordinal not in range(128)  - symbol "삼성전자"not found or invalid periods

Empty DataFrame
Columns: []
Index: []

### 패키지 검색, 버전 지정, 목록 출력, 삭제

* pip search 패키지: 패키지 검색
* pip install 패키지==버전: 특정 버전의 패키지를 설치(예: pip install requests==2.9.0)
* pip list 또는 pip freeze: 패키지 목록 출력
* pip uninstall 패키지: 패키지 삭제

In [ ]:
!pip list