<a href="https://colab.research.google.com/github/andy9806/Python_23/blob/main/submission/andy9806/0228.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ㅁㄴ라ㅓㅁㄴㄷ;ㅐㅑㄹ더래ㅑㅁ눙;ㄹ;ㅁ낼ㄷ
# ㅁㄴ라ㅓㅁㄴㄷ;ㅐㅑㄹ더래ㅑㅁ눙;ㄹ;ㅁ낼ㄷ
# ㅁㄴ라ㅓㅁㄴㄷ;ㅐㅑㄹ더래ㅑㅁ눙;ㄹ;ㅁ낼ㄷ1223
# 위아래 줄바꿈 ALT +위아래
# 부분지정 SHIFT + 위아래

In [1]:
round(2.12387,3)

2.124

In [5]:
round(2.7-1.5,2)
# 2.7-1.5

1.2

In [7]:
a,b = map(int,input('숫자 두 개를 입력하세요:').split())
a+b

숫자 두 개를 입력하세요:1 2

3

In [9]:
a = """가나다라마바사
아자차카타파하"""
print(a)

가나다라마바사
아자차카타파하

In [10]:
b=[i for i in range(10)]
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
c=[1,2,3,tuple(range(10))]
c

[1, 2, 3, (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)]