<a href="https://colab.research.google.com/github/andy9806/Python_23/blob/main/submission/andy9806/0307.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def hello3(sentence,name):
  return sentence.format(name)

hello3('알랑가몰가 {}','lee')

'알랑가몰가 lee'

In [10]:
import random
def study():
  energy=random.randint(1,10)
  print(hello(energy))
  chat()
  lecture()
  chat()
  bye()

# def hello():
  # return "좋은 아침입니다 여러분"

def chat():
  pass

def lecture():
  pass

def bye():
  pass

study()

오늘 점심메뉴 알려드ㅡ릴까요

In [11]:
def hello(energy=10):
  if energy ==0:
    return "여러분 제가 오늘 커피 사겠습니다"
  if energy>5:
    return "오늘 점심메뉴 알려드ㅡ릴까요"
  else:
    return

In [27]:
study()

None

In [31]:
a={'a':123,
   'b':321,
   'c':213}

for k,v in a.items():
  print(k,v)

a 123
b 321
c 213

In [57]:
class Teacher:
  def __init__(self):
    self.name='lee'

  def add(self,a,b=2):
    return a+b

class teacher(Teacher):
  def __init__(self):
    self.name = 'kim'

In [58]:
a=teacher()
print(a.add(3,5))
a.add(2)

8

4

In [59]:
a.name

'kim'

In [60]:
b=Teacher()
b.name

'lee'

In [61]:
def factorial(n):
  if isinstance(n,int) and n>0:
    print(n,end=' ')
    if n==1: return 1
    return n*factorial(n-1)

In [63]:
factorial(10)

10 9 8 7 6 5 4 3 2 1

3628800

In [64]:
def factorial(n):
  if not isinstance(n,int) or n<=0:
    print('양의 정수를 넣어주세요')
    return
  if isinstance(n,int) and n>0:
    print(n,end=' ')
    if n==1: return 1
    return n*factorial(n-1)

In [66]:
factorial('12')

양의 정수를 넣어주세요

In [68]:
factorial(5)

5 4 3 2 1

120

In [75]:
class Student:
  def __init__(self,name,age,address):
    self.name=name
    self.age=age
    self.address=address

ab = Student('이영재',26,'대화동')
print(ab.name,ab.age,ab.address)
ab.name = '김소현'
ab.name

이영재 26 대화동

'김소현'

In [93]:
class BungeoppangStore:
  def __init__(self, name, price=1200, *args,**kwargs):
    self.name = name
    self.menu = args
    self.price = price
    self.visitors = kwargs

  def introduce(self):
    print(f"안녕하세요 여러분 {self.name} 붕어빵 가게 오픈!!")

  def sell(self,visitor):
    if visitor in self.visitors:
      print(f"단골은 반값이에요 {self.price//2}원만 내세요")
    else:
      self.visitors[visitor] = self.price
      print(f"처음이시네요 {self.price}입니다")

In [96]:
bung = BungeoppangStore('디',1200,'팥','슈크림','민초')
bung.introduce()
bung.sell('lee')

안녕하세요 여러분 디 붕어빵 가게 오픈!!
처음이시네요 1200입니다

In [100]:
bung.sell('lee')

단골은 반값이에요 600원만 내세요

In [103]:
class Store:
  name='asdf'
  worker=['rlasksk','dldudwo','rlathgus']

  def hire(self,name):
    self.worker.append(name)

s1 = Store()
s2 = Store()
s1.hire('dlwowls')
s2.hire('sksk')
print(s1.worker,s2.worker)

['rlasksk', 'dldudwo', 'rlathgus', 'dlwowls', 'sksk'] ['rlasksk', 'dldudwo', 'rlathgus', 'dlwowls', 'sksk']

In [104]:
class Programmer:
  def __init__(self):
    self.habit = 'grab his own hair'
    self.money = 20000

class PythonPro(Programmer):
  def __init__(self,habit):
    self.habit = habit

In [105]:
kim = Programmer()
kim.money, kim.habit

(20000, 'grab his own hair')

In [109]:
lee = PythonPro('smart')
lee.habit,lee.money

AttributeError: ignored

In [114]:
class PythonPro(Programmer):
  def __init__(self,habit):
    super().__init__()
    print('*',self.habit,self.money)
    self.habit = habit

lee = PythonPro('smart')
lee.habit,lee.money

* grab his own hair 20000

('smart', 20000)

In [116]:
cho=PythonPro()

TypeError: ignored

In [115]:
class PythonPro(Programmer):
  def __init__(self,habit):
    print('*',self.habit,self.money)
    super().__init__()
    self.habit = habit

lee = PythonPro('smart')
lee.habit,lee.money

AttributeError: ignored

In [117]:
class Human:
  def run(self):
    print('asf')

class MetaHuman(Human):
  def run(self):
    super().run()
    print('eifansd')

class MMetaHuman(MetaHuman):
  def run(self):
    super().run()
    print('asdiof;n')

In [118]:
joy = MMetaHuman()
joy.run()

asf
eifansd
asdiof;n

In [119]:
def ten_div(x: int) -> float:
  return 10/2

ten_div(10)

5.0

In [122]:
def data_access_layer():
  raise Exception('DB에러')
  return 0

def service_layer():
  try:
    return data_access_layer()
  except Exception as e:
    print(f'**{e}')
    print('서버 : 에러가 발생')
    raise e

def presentation_layer():
  try:
    return service_layer()
  except Exception as e :
    print(f'**{e}')
    print('화면 : 에러가 발생')

presentation_layer()

**DB에러
서버 : 에러가 발생
**DB에러
화면 : 에러가 발생

In [128]:
!pip install finance-datareader;

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: finance-datareader in /usr/local/lib/python3.8/dist-packages (0.9.50)
Requirement already satisfied: requests-file in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (1.3.5)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (2.25.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (4.9.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (4.64.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (1.26.14)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from requests-file->finance-datareader) (1.15.0)

In [129]:
! pip install finance-datareader -q

In [130]:
import FinanceDataReader as fdr

In [145]:
df=fdr.StockListing('KOSPI')
df

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,60700,2,-800,-1.30,61400,61400,60700,11458034,697978547900,362365800785000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,566000,1,19000,3.47,548000,570000,543000,832002,466498245000,132444000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,88900,2,-800,-0.89,89700,90000,88800,1610238,143926017800,64719410248500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,794000,2,-7000,-0.87,801000,804000,792000,50248,40064000000,56512156000000,71174000,STK
4,006400,KR7006400006,삼성SDI,KOSPI,,793000,1,12000,1.54,779000,801000,768000,598409,472129871872,54530272290000,68764530,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,002785,KR7002781003,진흥기업우B,KOSPI,,5070,2,-20,-0.39,5070,5150,5040,676,3412880,4346095260,857218,STK
939,001527,KR7001522002,동양2우B,KOSPI,,13300,2,-540,-3.90,13250,13390,13150,1241,16369210,4103967700,308569,STK
940,001525,KR7001521004,동양우,KOSPI,,6500,2,-220,-3.27,6500,6510,6500,2658,17277220,4015251500,617731,STK
941,002787,KR7002782001,진흥기업2우B,KOSPI,,13110,1,100,0.77,13030,13300,13030,236,3135670,3864932880,294808,STK
942,000547,KR7000542001,흥국화재2우B,KOSPI,,19670,1,50,0.25,19500,19680,19500,725,14152960,3021312000,153600,STK

In [146]:
df[df['Name']=='삼성전자']

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,60700,2,-800,-1.3,61400,61400,60700,11458034,697978547900,362365800785000,5969782550,STK

In [152]:
from datetime import *
print(datetime.now())

2023-03-07 08:11:56.890448

In [153]:
from time import sleep
sleep(5)
print('5sec after')

5sec after

In [155]:
datetime.today()

datetime.datetime(2023, 3, 7, 8, 17, 33, 989336)

In [156]:
import pytz
datetime.now(pytz.timezone('Asia/Seoul'))

datetime.datetime(2023, 3, 7, 17, 17, 59, 601117, tzinfo=<DstTzInfo 'Asia/Seoul' KST+9:00:00 STD>)

In [157]:
datetime(2023,3,7,5,18)

datetime.datetime(2023, 3, 7, 5, 18)

In [159]:
from datetime import timedelta

d = datetime.now()
d

datetime.datetime(2023, 3, 7, 8, 26, 20, 663638)

In [160]:
d-timedelta(days=20)

datetime.datetime(2023, 2, 15, 8, 26, 20, 663638)

In [162]:
datetime(2023,3,10)-datetime(2023,3,7)

datetime.timedelta(days=3)

In [164]:
from dateutil.relativedelta import relativedelta

In [165]:
datetime.now() - relativedelta(months=3)

datetime.datetime(2022, 12, 7, 8, 28, 50, 785351)