<a href="https://colab.research.google.com/github/chohoon901/Python/blob/backup/submission/sunghuncho/ch02_07_%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EC%9D%91%EC%9A%A9_%EA%B3%B5%EC%9C%A0%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트 응용

## 리스트 조작하기

### 리스트에 요소 추가하기

리스트의 대표적인 기능이 바로 요소 추가입니다. 다음과 같이 리스트에 요소를 추가하는 메서드는 3가지가 있습니다.

* `append`: 요소 하나를 추가
* `extend`: 리스트를 연결하여 확장
* `insert`: 특정 인덱스에 요소 추가

### 기존 리스트에 요소 하나 추가하기

In [1]:
a=[10,20,30]
a

[10, 20, 30]

In [6]:
a.append(500)
a, len(a)

(['헤이즐', '마카다미아', '카페모카', ['체리콕에이드', '유자민트레몬티'], 500], 5)

In [4]:
# 물론 빈 리스트에 값을 추가할 수도 있습니다.
b=[]
b.append(10)
b

[10]

### 리스트 안에 리스트 추가하기

In [12]:
# append는 append(리스트)처럼 리스트를 넣으면 리스트 안에 리스트가 들어갑니다.
a=["헤이즐","마카다미아","카페모카"]
a.append(["체리콕에이드","유자민트레몬티"])
a,len(a)

(['헤이즐', '마카다미아', '카페모카', ['체리콕에이드', '유자민트레몬티']], 4)

append는 항상 리스트의 길이가 1씩 증가합니다.

### 리스트 확장하기

그러면 리스트에 요소를 여러 개 추가하려면 어떻게 해야 할까요? append를 여러 번 사용하는 방법도 있지만, 추가할 요소가 많은 경우에는 상당히 번거롭습니다. 이때는 extend를 사용합니다.

In [8]:
# extend(리스트)는 리스트 끝에 다른 리스트를 연결하여 리스트를 확장합니다.
a=["초코","아이스티","아메리카노"]
a.extend(["캐모마일티","바닐라라떼"])
a,len(a) # + 와 똑같은 결과가 나오지만, + 는 사본을 만들어 원본에 영향이 안가고, extend는 원본을 수정하는 방식이다.

(['초코', '아이스티', '아메리카노', '캐모마일티', '바닐라라떼'], 5)

extend의 동작을 좀 더 정확하게 이야기하면 extend에 전달된 요소를 반복하면서 각 요소를 리스트 a에 추가하는 것입니다. 따라서 리스트와 리스트를 연결한 모양이 됩니다.

### 리스트의 특정 인덱스에 요소 추가하기

append, extend는 리스트 끝에 요소를 추가합니다. 그러면 원하는 위치에 요소를 추가하는 방법은 없을까요? 이때는 insert를 사용합니다.

In [13]:
# insert(인덱스, 요소)는 리스트의 특정 인덱스에 요소 하나를 추가합니다.
a=[10,20,30]
a.insert(2,500)
a, len(a)

([10, 20, 500, 30], 4)

insert에서 자주 사용하는 패턴은 다음 2가지입니다.

* `insert(0, 요소)`: 리스트의 맨 처음에 요소를 추가
* `insert(len(리스트), 요소)`: 리스트 끝에 요소를 추가

In [14]:
a=[10,20,30]
a.insert(0,500)
a, len(a)

([500, 10, 20, 30], 4)

In [15]:
# insert에 마지막 인덱스보다 큰 값을 지정하면 리스트 끝에 요소 하나를 추가할 수 있습니다.
a=[10,20,30]
a.insert(len(a),500)
a, len(a)

([10, 20, 30, 500], 4)

len(리스트)는 마지막 인덱스보다 1이 더 크기 때문에 리스트 끝에 값을 추가할 때 자주 활용합니다. (=append)

In [16]:
# 특히 insert는 요소 하나를 추가하므로 insert에 리스트를 넣으면 append처럼 리스트 안에 리스트가 들어갑니다. (중첩 리스트)
a=[10,20,30]
b=[500,600]
a.insert(1,b)
a, len(a)

([10, [500, 600], 20, 30], 4)

In [18]:
# 만약 리스트 중간에 요소 여러 개를 추가하고 싶다면 슬라이스에 요소 할당하기를 활용하면 됩니다.
a=[10,20,30]
a[1:1]=b
a

[10, 500, 600, 20, 30]

### 리스트에서 요소 삭제하기

이번에는 리스트에서 요소를 삭제하는 방법입니다. 다음과 같이 요소를 삭제하는 메서드는 2가지가 있습니다.

* `pop`: 마지막 요소 또는 특정 인덱스의 요소를 삭제
* `remove`: 특정 값을 찾아서 삭제

### 리스트에서 특정 인덱스의 요소를 삭제하기

pop()은 리스트의 마지막 요소를 삭제한 뒤 삭제한 요소를 반환합니다.

In [20]:
a=[10,20,30]
a.pop()

30

In [21]:
a

[10, 20]

그러면 원하는 인덱스의 요소를 삭제할 수는 없을까요? 이때는 pop에 인덱스를 지정하면 됩니다.

In [22]:
# pop(인덱스)는 해당 인덱스의 요소를 삭제한 뒤 삭제한 요소를 반환합니다.
a.pop(1)

20

In [24]:
a=[10,20,30]
a.pop(1)
a

[10, 30]

In [27]:
# 사실 pop 대신 del을 사용해도 상관없습니다.
a=[10,20,30]
del a[1]
a

[10, 30]

### 리스트에서 특정 값을 찾아서 삭제하기

pop이나 del은 인덱스로 요소를 삭제했는데, 리스트에서 원하는 값을 찾아서 삭제하고 싶을 수도 있습니다. 이런 경우에는 remove를 사용합니다.

In [28]:
# remove(값)은 리스트에서 특정 값을 찾아서 삭제합니다.
a=[10,20,30]
a.remove(20)
a

[10, 30]

In [29]:
# 만약 리스트에 같은 값이 여러 개 있을 경우 처음 찾은 값을 삭제합니다.
a=[10,20,30,20]
a.remove(20)
a

[10, 30, 20]

### 리스트에서 특정 값의 인덱스 구하기

In [32]:
# index(값)은 리스트에서 특정 값의 인덱스를 구합니다.
# 이때 같은 값이 여러 개일 경우 처음 찾은 인덱스를 구합니다(가장 작은 인덱스).
a=[10,20,30]
a.index(20)

1

### 특정 값의 개수 구하기

In [34]:
# count(값)은 리스트에서 특정 값의 개수를 구합니다. 
a=[10,20,30,20]
a.count(20)

2

### 리스트의 순서를 뒤집기

In [37]:
# reverse()는 리스트에서 요소의 순서를 반대로 뒤집습니다.
a=[10,20,30]
a.reverse()
a

[30, 20, 10]

### 리스트의 요소를 정렬하기

sort()는 리스트의 요소을 작은 순서대로 정렬합니다(오름차순).

* `sort()` 또는 `sort(reverse=False)`: 리스트의 값을 작은 순서대로 정렬(오름차순)
* `sort(reverse=True)`: 리스트의 값을 큰 순서대로 정렬(내림차순)

In [39]:
a=[30,20,15,20,10,40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

### sort 메서드와 sorted 함수
파이썬은 리스트의 sort 메서드뿐만 아니라 내장 함수 sorted도 제공합니다. sort와 sorted 모두 정렬을 해주는 함수지만, 약간의 차이점이 있습니다. sort는 메서드를 사용한 리스트를 변경하지만, sorted 함수는 정렬된 새 리스트를 생성합니다.

In [47]:
b=[2,5,9,3,7,1]
sorted(b)

[1, 2, 3, 5, 7, 9]

In [48]:
b

[2, 5, 9, 3, 7, 1]

### 리스트의 모든 요소를 삭제하기

In [50]:
# clear()는 리스트의 모든 요소를 삭제합니다.
a.clear()
a

[]

In [52]:
# clear 대신 del a[:]와 같이 시작, 끝 인덱스를 생략하여 리스트의 모든 요소를 삭제할 수도 있습니다.
a=[30,20,15,20,10,40]
del a[:]
a

[]

### 리스트를 슬라이스로 조작하기

In [60]:
# 리스트는 메서드를 사용하지 않고, 슬라이스로 조작할 수도 있습니다. 다음은 리스트 끝에 값이 한 개 들어있는 리스트를 추가합니다.
a=[10,20,30]
a[len(a):]=[500]
a
a.extend([800])
a
a.insert(3,300)
a

[10, 20, 30, 300, 500, 800]

a[len(a):]는 시작 인덱스를 len(a)로 지정해서 리스트의 마지막 인덱스보다 1이 더 큰 상태입니다. 즉, 그림과 같이 리스트 끝에서부터 시작하겠다는 뜻입니다(이때는 리스트의 범위를 벗어난 인덱스를 사용할 수 있습니다).

그리고 a[len(a):] = [..., ...]과 같이 요소가 여러 개 들어있는 리스트를 할당하면 리스트 a 끝에 다른 리스트를 연결한다는 뜻입니다.

In [55]:
a=[10,20,30]
a[len(a):]=[500,600]
a

[10, 20, 30, 500, 600]

### 리스트가 비어 있는지 확인하기

리스트(시퀀스 객체)가 비어 있는지 확인하려면 어떻게 해야 할까요? 방법은 간단합니다. 리스트는 len 함수로 길이를 구할 수 있죠? 이걸 if 조건문으로 판단하면 리스트가 비어 있는지 확인할 수 있습니다.

```
if not len(seq):    # 리스트가 비어 있으면 True
if len(seq):        # 리스트에 요소가 있으면 True
```

하지만 파이썬에서는 이 방법보다 리스트(시퀀스 객체)를 바로 if 조건문으로 판단하는 방법을 권장합니다(PEP 8).
```
if not seq:    # 리스트가 비어 있으면 True
if seq:        # 리스트에 내용이 있으면 True
```

특히 리스트가 비어 있는지 확인하는 방법은 리스트의 마지막 요소에 접근할 때 유용하게 사용할 수 있습니다. 리스트의 마지막 요소에 접근할 때는 인덱스를 -1로 지정하면 되죠?

In [63]:
a=[10,20,30]
a[-1]

30

In [64]:
# 만약 리스트가 비어 있을 경우에는 인덱스를 -1로 지정하면 에러가 발생합니다.
a.clear()
a[-1]

IndexError: ignored

In [66]:
# 이때는 if 조건문을 활용하여 리스트에 요소가 있을 때만 마지막 요소를 가져오면 됩니다.
a=[10,20,30]
a.clear()
if a:
  print(a[-1])

## 리스트의 할당과 복사

이번에는 리스트의 할당과 복사에 대해 알아보겠습니다. 할당과 복사는 비슷한 것 같지만 큰 차이점이 있습니다.

In [67]:
a=[0]*5

In [68]:
b=a
a,b

([0, 0, 0, 0, 0], [0, 0, 0, 0, 0])

In [70]:
a[1]=200
a,b

([0, 200, 0, 0, 0], [0, 200, 0, 0, 0])

In [71]:
b[2]=300
a,b

([0, 200, 300, 0, 0], [0, 200, 300, 0, 0])

b = a와 같이 리스트를 다른 변수에 할당하면 리스트는 두 개가 될 것 같지만 실제로는 리스트가 한 개입니다.

In [72]:
# a와 b를 is 연산자로 비교해보면 True가 나옵니다. 즉, 변수 이름만 다를 뿐 리스트 a와 b는 같은 객체입니다.
a is b

True

In [ ]:
# a와 b는 같으므로 b[2] = 99와 같이 리스트 b의 요소를 변경하면 리스트 a와 b에 모두 반영됩니다.

([0, 0, 99, 0, 0], [0, 0, 99, 0, 0])

In [ ]:
# 리스트 a와 b를 완전히 두 개로 만들려면 copy 메서드로 모든 요소를 복사해야 합니다.

b = a.copy()와 같이 copy를 사용한 뒤 b에 할당해주면 리스트 a의 요소가 모두 b에 복사됩니다.

In [74]:
# a와 b를 is 연산자로 비교해보면 False가 나옵니다. 즉, 두 리스트는 다른 객체입니다. 그러나 복사된 요소는 모두 같으므로 ==로 비교하면 True가 나옵니다.
a=[0,1,3,0,0]
b=a.copy()
a,b
a is b

False

In [75]:
# 이제 리스트 a와 b는 별개이므로 한쪽의 값을 변경해도 다른 리스트에 영향을 미치지 않습니다.
# 다음과 같이 리스트 b의 요소를 변경하면 리스트 a는 그대로이고 리스트 b만 바뀝니다.
a[1]=5
a,b

([0, 5, 3, 0, 0], [0, 1, 3, 0, 0])

## 반복문으로 리스트의 요소를 모두 출력하기

### for 반복문으로 요소 출력하기

for 반복문은 그냥 in 뒤에 리스트를 지정하면 됩니다.

```
for 변수 in 리스트:
     반복할 코드
```

In [83]:
i=0
for i in a:
  print(i)
  i+=1

0
5
3
0
0

`for i in a:`는 리스트 a에서 요소를 꺼내서 i에 저장하고, 꺼낼 때마다 코드를 반복합니다. 따라서 print로 i를 출력하면 모든 요소를 순서대로 출력할 수 있습니다.

In [84]:
# 물론 in 다음에 리스트를 직접 지정해도 상관 없습니다.
i=0
for i in a:
  print(i)
  i+=1

0
5
3
0
0

### 인덱스와 요소를 함께 출력하기

그럼 for 반복문으로 요소를 출력할 때 인덱스도 함께 출력하려면 어떻게 해야 할까요? 이때는 `enumerate`를 사용합니다.

* `for 인덱스, 요소 in enumerate(리스트)`:

In [78]:
for i in enumerate(a):
  print(i)
  print(type(i))
  print(len(i))

(0, 0)
<class 'tuple'>
2
(1, 5)
<class 'tuple'>
2
(2, 3)
<class 'tuple'>
2
(3, 0)
<class 'tuple'>
2
(4, 0)
<class 'tuple'>
2

`for index, value in enumerate(a):`와 같이 enumerate에 리스트를 넣으면 for 반복문에서 인덱스와 요소를 동시에 꺼내 올 수 있습니다.

In [79]:
# 인덱스 1부터 출력하기
for i, v in enumerate(a):
  print(i,v)

0 0
1 5
2 3
3 0
4 0

enumerate에 start를 지정해주면 시작 인덱스를 바꿀 수 있습니다.

* `for 인덱스, 요소 in enumerate(리스트, start=숫자):`

In [86]:
# for index, value in enumerate(a, start=1):
for i, v in enumerate(a, start=2):
  print(i,v)

2 0
3 5
4 3
5 0
6 0

### while반복문으로 요소 출력하기

In [87]:
i=0
while i<5:
  print(a[i])
  i+=1

0
5
3
0
0

즉, 리스트의 인덱스는 0부터 시작하고 마지막 인덱스는 리스트의 길이보다 1이 작으므로 <를 사용합니다. 만약 i <= len(a)처럼 <=을 사용하면 리스트의 범위를 벗어나게 되므로 주의해야 합니다.

In [100]:
i=0
while i<=len(a):
  print(i)
  i+=1

0
1
2
3
4
5

## 리스트(튜플)의 가장 작은 수, 가장 큰 수, 합계 구하기

### 가장 작은 수와 가장 큰 수 구하기

먼저 가장 작은 수와 가장 큰 수는 어떻게 구할까요? 앞에서 반복문을 배웠으니 요소를 모두 반복하면서 숫자를 찾아내 보겠습니다.

In [91]:
min(a)

0

먼저 리스트 a의 첫 번째 요소 a[0]를 변수 smallest에 저장합니다. 그리고 for로 리스트의 요소를 모두 반복하면서 i가 smallest보다 작으면 smallest에 i를 할당합니다. 즉, 숫자를 계속 비교해서 숫자가 작으면 smallest를 바꾸는 방식입니다.

In [92]:
# 가장 큰 수는 부등호를 반대로 만들면 되겠죠?
max(a)

5

리스트의 숫자를 계속 비교해서 숫자가 크면 largest를 바꾸는 방식입니다. 그런데 이렇게 for와 if를 사용해서 가장 작은 수와 가장 큰 수를 찾으려니 좀 번거롭습니다. 다른 방법이 없을까요?

앞에서 리스트를 정렬하는 sort 메서드를 배웠습니다. 리스트를 작은 순서대로 정렬(오름차순)하면 첫 번째 요소가 가장 작은 수입니다. 반대로 큰 순서대로 정렬(내림차순)하면 첫 번째 요소가 가장 큰 수가 되겠죠?

In [96]:
sorted(a, reverse=True)[0]

5

62

In [ ]:
# 더 간단한 방법이 있습니다. 파이썬에서 제공하는 min, max 함수를 사용하면 됩니다.

(19, 62)

min은 리스트에서 가장 작은 값을 구하고, max는 가장 큰 값을 구합니다.

### 요소의 합계 구하기

In [99]:
# 이번에는 리스트에서 요소의 합계를 구해보겠습니다. 합계를 구할 때도 반복문을 사용할 수 있겠죠?
i=0
b=0
for i in a:
  b+=i
  i+=1
print(b)

8

변수 x에 0을 할당하고, for 반복문으로 리스트의 요소를 모두 반복하면서 요소를 x에 계속 더해주면 됩니다. 이때 x에는 반드시 0을 할당해야 합니다. 그렇지 않으면 없는 변수에 값을 더하게 되므로 에러가 발생합니다. 또한, 0부터 시작해서 숫자를 더해야 제대로 된 합계가 구해지겠죠?

사실 이 방법도 좀 번거롭습니다. 그래서 파이썬에서는 합계를 구하는 sum 함수를 제공합니다.

In [ ]:
a = [10, 10, 10, 10, 10]
sum(a)

50

## 리스트 표현식 사용하기

파이썬의 리스트가 특이한 점은 리스트 안에 for 반복문과 if 조건문을 사용할 수 있다는 점입니다. 이렇게 리스트 안에 식, for 반복문, if 조건문 등을 지정하여 리스트를 생성하는 것을 **리스트 컴프리헨션(list comprehension)**이라고 합니다.

리스트 컴프리헨션이라고 하니 언뜻 이해가 잘 안되죠? 책이나 인터넷에서도 리스트 내포, 리스트 내장, 리스트 축약, 리스트 해석 등으로 씁니다. 컴프리헨션은 능력, 이해력, 시험 등의 뜻도 있지만, 어떤 것을 잡아서 담아둔다는 뜻이 있습니다. 즉, 식으로 지정해서 생성된 것을 리스트로 잡아두는 것이 리스트 컴프리헨션입니다. 개념적으로 보면 "리스트 표현식"이라고 할 수 있으니 이 책에서는 간단하게 리스트 표현식이라고 쓰겠습니다.

리스트 표현식은 다음과 같이 리스트 안에 식, for 반복문을 지정합니다. 문법이 다소 복잡해 보이지만 여러 줄의 코드를 한 줄로 줄일 수 있고, 익숙해지면 크게 어렵지 않습니다.

* `[식 for 변수 in 리스트]`

In [101]:
a=[i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
# 0부터 9까지 숫자를 생성하여 리스트 생성

In [103]:
a=[]
for i in range(10):
  a.append(i**2)
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [104]:
a=[i**2 for i in range(10)]
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

리스트 안에 식, for, 변수, in, 리스트 순서로 들어있지만 뒤에서 앞으로 읽으면 간단합니다. 즉, range(10)으로 0부터 9까지 생성하여 변수 i에 숫자를 꺼내고, 최종적으로 i를 이용하여 리스트를 만든다는 뜻입니다.

In [105]:
# 0부터 9까지 숫자를 생성하면서 값에 5를 더하여 리스트 생성
a=[]
for i in range(10):
  a.append(i+5)
a

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [106]:
# 0부터 9까지 숫자를 생성하면서 값에 2를 곱하여 리스트 생성
a=[i+5 for i in range(10)]
a

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### 리스트 표현식에서 if 조건문 사용하기

이번에는 리스트 표현식에서 if 조건문을 사용해보겠습니다. 다음과 같이 if 조건문은 for 반복문 뒤에 지정합니다.

* `[식 for 변수 in 리스트 if 조건식]`

In [109]:
a=list(range(10))
for i in a:
  if i<7:
    print(i)
  i+=1

0
1
2
3
4
5
6

In [110]:
b=[i for i in a if i<7]
b

[0, 1, 2, 3, 4, 5, 6]

[6, 8, 10, 12, 14]

### for 반복문과 if 조건문을 여러 번 사용하기

리스트 표현식은 for와 if를 여러 번 사용할 수도 있습니다.

* `[식 for 변수1 in 리스트1 if 조건식1     for 변수2 in 리스트2 if 조건식2     ...     for 변수n in 리스트n if 조건식n]`

In [ ]:
[(i*j) for j in range(10) for i in range(10)]

In [ ]:
[(i*j) for j in range(10) if j%2==0 for i in range(10) if i%2==1]

## 리스트에 map 사용하기

이번에는 리스트에 map을 사용해보겠습니다. map은 리스트의 요소를 지정된 함수로 처리해주는 함수입니다(map은 원본 리스트를 변경하지 않고 새 리스트를 생성합니다).

* `list(map(함수, 리스트))`
* `tuple(map(함수, 튜플))`

예를 들어 실수가 저장된 리스트가 있을 때 이 리스트의 모든 요소를 정수로 변환하려면 어떻게 해야 할까요? 먼저 for 반복문을 사용해서 변환해보겠습니다.

[1, 2, 3, 4]

In [ ]:
# 매번 for 반복문으로 반복하면서 요소를 변환하려니 조금 번거롭습니다. 이때는 map을 사용하면 편리합니다.

[1, 2, 3, 4]

### input().split()과 map

지금까지 input().split()으로 값을 여러 개 입력받고 정수, 실수로 변환할 때도 map을 사용했었죠? 사실 input().split()의 결과가 문자열 리스트라서 map을 사용할 수 있었습니다.

다음과 같이 input().split()을 사용한 뒤에 변수 한 개에 저장해보면 리스트인지 확인할 수 있습니다.

In [117]:
a=input().split()
a

10 20 30 40

['10', '20', '30', '40']

In [125]:
# 이제 map을 사용해서 정수로 변환해봅니다.
a=map(int, input().split())
a, list(a)

10 20

(<map at 0x7f308a2a7100>, [10, 20])

사실 map이 반환하는 맵 객체는 변수 여러 개에 저장하는 언패킹(unpacking)이 가능합니다. 그래서 a, b = map(int, input().split())처럼 list를 생략한 것입니다

In [127]:
a=map(int, input().split())
a, list(a), tuple(a)

10 20

(<map at 0x7f308a3783d0>, [10, 20], ())