<a href="https://colab.research.google.com/github/mastgm0817/Python/blob/main/submission/mastgm0817/lecture/SelfStudy/%EB%A6%AC%EC%8A%A4%ED%8A%B8%EA%B4%80%EB%A0%A8_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# 리스트 삽입
# Append, Extend, Insert
list1 = [1,2,3]
list1.append(4), list1
list1.extend([5,6,7]),list1
list1.insert(3,5), list1

(None, [1, 2, 3, 5, 4, 5, 6, 7])

In [19]:
# 리스트 삭제
# Pop, Del, remove
a = ["사과","포도","수박"]
a.pop(),a
a.insert(2,"수박")
del a[2]
a
a.insert(2,"수박")
a.remove("수박"),a

(None, ['사과', '포도'])

In [26]:
# 리스트 정렬
# Sort, sorted
import random
a = [ random.randint(1,10) for i in range(5)]
b = a
a.sort()

c = sorted(a)
c[3] = 2
a,c

([3, 4, 10, 10, 10], [3, 4, 10, 2, 10])

In [31]:
# 리스트 복사
# 앝은 복사, 깊은 복사

a = [ i for i in range(5)]
b = a
b # 얕은 복사
c = a.copy()
c

a is b, a is c

(True, False)

In [33]:
# 덧셈, 글자덧셈(합치기)
# Sum, Join

a = [ i for i in range(6)]
sum(a)

b = ["a","b","c","d","e"]
"".join(b)

'abcde'

In [52]:
# strip, split
# 문자영 "양쪽 사이드" 공백제거, 문자열기준으로 분리하려 "리스트"화

word = "hello,world,!,!,!"
word.split(",")

words = "    hello,   world,!,!,!"
words.strip()

'hello,   world,!,!,!'

In [65]:
# List comprehension

list1 = [ i for i in range(5)]
list2 = [ j*2 for j in range(5)]
list2
list3 = [ k*5 for k in range(10) if k % 2 == 0]
list3
list4 = [ print(f'{l}yes') if l % 5 == 0 else print(f"{l}nope") for l in range(50) if l % 2 == 0]
word = ["카푸치노","아메리카노","마키야또","프라프치노","웃기노"]
list5 = [w[-1] + "래방" for w in word if '노' in w]
list5

0yes
2nope
4nope
6nope
8nope
10yes
12nope
14nope
16nope
18nope
20yes
22nope
24nope
26nope
28nope
30yes
32nope
34nope
36nope
38nope
40yes
42nope
44nope
46nope
48nope

['노래방', '노래방', '노래방', '노래방']