<a href="https://colab.research.google.com/github/JaejinLee1215/Python_LJJ/blob/main/submission/JaejinLee1215/ch02_02_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시퀀스

In [ ]:
# 시퀀스 : 0개 이상의 원소가 나열되어서 묶여 있는 자료형
# list, tuple. range, string(str) : 문자열
[] # 대괄호, list
() # 소활호, tuple
"", '', '''''', """""" # 문자열

## in, not in

In [1]:
# 값 in 시퀀스 객체 <-> for 변수명 in 시퀀스 객체:
"파이썬" in ["파이썬", "자바", "자바스크립트"]

True

In [2]:
a = "파이썬"
b = ["파이썬", "자바", "자바스크립트"]
a in b # bool값 -> 참, 거짓

True

In [4]:
c = "c언어"
c in b, c not in b

(False, True)

In [7]:
name = "이재진"
"이" in name, "재진" in name

(True, True)

In [8]:
sentence = "아버지가 방에 들어가신다"
"아버지" in sentence, "어머니" not in sentence

(True, True)

## 연결(+)

In [9]:
a = ["사과","배","고라니"]
b = [1, 2, 3, 4, 5, 6]
a + b # 연결(concatenate)

['사과', '배', '고라니', 1, 2, 3, 4, 5, 6]

In [10]:
a, b # 위에서 연결했지만 a, b 원본 원소값들은 변하지 않음

(['사과', '배', '고라니'], [1, 2, 3, 4, 5, 6])

In [11]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [12]:
"이삭" + "토스트"

'이삭토스트'

In [13]:
range(10) + range(10) # 시작점, 증가폭을 합칠 수가 없어서 range는 합칠 수 없음

TypeError: ignored

In [14]:
list(range(10)) + list(range(10)) # range를 합치려면 list로 변환해야 한다.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
print("안녕하세요", 1, "학년입니다")

안녕하세요 1 학년입니다

In [17]:
"안녕하세요" + 1 + "학년입니다" # int + str : False

TypeError: ignored

In [18]:
"안녕하세요" + str(1) + "학년입니다" # int -> str 변환, str + str = True

'안녕하세요1학년입니다'

## 반복 (*)

In [19]:
# 연결을 n번 이상하는, (시퀀스 객체) * n, n * (시퀀스 객체)
[1, 10, 100, 1000] * 3

[1, 10, 100, 1000, 1, 10, 100, 1000, 1, 10, 100, 1000]

In [20]:
[1, 10, 100, 1000] + [1, 10, 100, 1000] + [1, 10, 100, 1000]

[1, 10, 100, 1000, 1, 10, 100, 1000, 1, 10, 100, 1000]

In [21]:
[0] * 7 # 0을 7개 가진 리스트 만들기

[0, 0, 0, 0, 0, 0, 0]

In [23]:
[0] * 0, [0] * -1 # 0 이하의 숫자를 넣으면 빈 리스트

([], [])

In [24]:
(0) * 0, (0) * -1 # 0 이하의 숫자를 넣으면 빈 튜플

(0, 0)

In [25]:
range(10) * 10 # range는 불가

TypeError: ignored

In [26]:
tuple(range(10)) * 2 # list나 tuple로 변환하면 가능

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [27]:
"퇴실" * 10

'퇴실퇴실퇴실퇴실퇴실퇴실퇴실퇴실퇴실퇴실'

### len()

In [28]:
len([1, 2, 3]), len((1, 2, 3)), len(range(2, 5, 3)), len("문자열")
# JAVA : arry.length(), JS : array.length, Python : len(array)

(3, 3, 1, 3)

### index

In [29]:
# 0부터 시작, 전체 길이 -1
a = list(range(100, 600, 100))
print(a)

[100, 200, 300, 400, 500]

In [30]:
a[1], a[2-1], a[1], a[0] # 주소값 헷갈릴 수 있음 주의

(200, 200, 200, 100)

In [31]:
name = "김모모씨"
name[0], name[3]

('김', '씨')

In [34]:
# 음수 인덱스 : 뒤에서부터 카운트, len(시퀀스 객체) - n
# a, a[-n] = a[len(a) - n]
print(a)
a[-1], a[len(a) - 1]

[100, 200, 300, 400, 500]

(500, 500)

In [35]:
a[len(a)] # index 범위를 넘어버림

IndexError: ignored

## 요소에 값 할당하기
* element, 요소, 구성요소, 원소

In [48]:
a = [0] * 5
print(a)
a[0] = 5
a[1] = 13
a[2] = 34
a[3] = 88
a[4] = 100
a # 원본에 영향

[0, 0, 0, 0, 0]

[5, 13, 34, 88, 100]

## del 시퀀스 객체[인덱스]

In [49]:
print(a)

[5, 13, 34, 88, 100]

In [50]:
del a[2] # 34 지우기
a

[5, 13, 88, 100]

In [52]:
# 문자열, 튜플, 레인지 -> 읽기 전용
s = "book"
del s[2]

TypeError: ignored

## 슬라이스

In [54]:
# 시퀀스객체[시작인덱스:끝인덱스]
# 시퀀스객체[시작:], 스퀀스객체[:끝]
# 시퀀스객체[시작:끝:증가폭]
# 시퀀스객체[::증가폭]
a = list(range(0, 100, 10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [60]:
# 슬라이스는 원본에 영향을 미치지 않고 사본 만드는 방법
a[0:4], len(a), a[0:10], a[0:100] # 인덱스에서는 주소값을 넘으면 오류이지만 슬라이스는 상관없다

([0, 10, 20, 30],
 10,
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [61]:
a[1:1] # 빈 리스트

[]

In [63]:
a[3:5]

[30, 40]

In [64]:
a[3:-1], a[3:len(a)-1]

([30, 40, 50, 60, 70, 80], [30, 40, 50, 60, 70, 80])

In [69]:
list(range(1, 5, 2)), a[1:5:2], a[slice(1, 5, 2)]

([1, 3], [10, 30], [10, 30])

In [72]:
a[:], a, a[0:len(a)] # 전체를 나타냄

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [77]:
a[:5], a[0:5], a[0:5:1]

([0, 10, 20, 30, 40], [0, 10, 20, 30, 40], [0, 10, 20, 30, 40])

In [76]:
a[::2], a[0:len(a):2]

([0, 20, 40, 60, 80], [0, 20, 40, 60, 80])

In [80]:
a[::-1], a[len(a)::-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10, 0],
 [90, 80, 70, 60, 50, 40, 30, 20, 10, 0])

In [82]:
a[20:0:-1], a[20::-1]

([90, 80, 70, 60, 50, 40, 30, 20, 10], [90, 80, 70, 60, 50, 40, 30, 20, 10, 0])

In [84]:
s = "hello world"
s[::-1], s[::2], s[1:3]

('dlrow olleh', 'hlowrd', 'el')

In [97]:
# 할당하기 -> 특정한 슬라이스 범위에 새로운 값들을 끼워넣기
# 리스트 only, 갯수가 일치할 필요가 없음
a = [1, 2, 3, 4, 5]
print(a[1:3])
a[1:3] = [6, 7, 8, 9]
a

[2, 3]

[1, 6, 7, 8, 9, 4, 5]

In [90]:
b = list(range(20))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [91]:
b[1:10:2]

[1, 3, 5, 7, 9]

In [92]:
b[1:10:2] = [0] * 5 # 갯수가 맞으므로 정상 실행
b

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [93]:
b[1:10:2] = [0] # 갯수가 안맞아서 오류

ValueError: ignored

In [98]:
print(a)
del a[2:5]
a

[1, 6, 7, 8, 9, 4, 5]

[1, 6, 4, 5]

# 딕셔너리

In [99]:
d = {
    "key" : "value"
}
d

{'key': 'value'}

In [101]:
lee = {
    "나이" : "27", 
    "취미" : "운동", 
    "착함" : True,
    "좋아하는 언어" : "파이썬, 자바, 자바스크립트"
}
lee

{'나이': '27', '취미': '운동', '착함': True, '좋아하는 언어': '파이썬, 자바, 자바스크립트'}

In [105]:
# key , value = 1:1대응
kim = {
    "height" : 170, 
    "weight" : 80, 
    "height" : 180,
    "weight" : 85
} # 중괄호 묶어야한다. 중복된 key이면 뒤에 있는 value값이 들어감
kim

{'height': 180, 'weight': 85}

In [108]:
{range(0,5): 1} # 별로 추천하지 않음
# 딕셔너리는 가독성이 중요한데 range같은 경우 더 헷갈림

{range(0, 5): 1}

In [123]:
# 시퀀스형 중에 리스트와, 딕셔너리 자체만 키값으로 쓸 수 없음
{ 
    {} : {}
}

TypeError: ignored

In [111]:
{
    1:{
        2:{
            3:{
                4:{
                    5:{}
                }
            }
        }
    }
}

{1: {2: {3: {4: {5: {}}}}}}

In [109]:
kim

{'height': 180, 'weight': 85}

In [120]:
kim["salary"] = 4000 # Key와 value값 추가
kim

{'height': 180, 'weight': 85, 'salary': 4000}

In [113]:
kim['height']

180

In [114]:
kim["iQ"] # KeyError

KeyError: ignored

In [115]:
"IQ" in kim # 시퀀스 객체 (in) - 요소 / 딕셔너리 (in) - 키/ for in - 반복

False

In [116]:
"IQ" not in kim

True

In [121]:
len(kim) # key의 갯수

3

In [122]:
list(kim) # dict -> list로 감싸주면 -> key를 원소로 가지는 리스트

['height', 'weight', 'salary']

# 조건문

## if

In [124]:
switch = True
if switch: # if(...): 조건식 -> 최종적으로 bool 형태로 표현될 수 있는 것
  print("밝다.") # if 본문

밝다.

In [127]:
temperature = 40
if temperature > 38:
    print("덥다")

덥다

In [130]:
temperature = 30
if temperature > 38:
    print("덥다")
print("물 마시고 싶어") # 들여쓰기의 중요성
# 조건식이 False이지만 들여쓰기를 안함으로써 전혀 상관없는 print문이 출력

물 마시고 싶어

## else

In [131]:
temperature = 30
if temperature > 38:
    print("덥다")
else: # temperature <= 38:
    print("괜찮아")

괜찮아

## pass

In [132]:
temperature = 30
if temperature > 38:
    print("덥다")
else: # temperature <= 38:
    pass # pass 존재 이유 : block 유지

In [133]:
pass

In [135]:
if True:
    #pass
else:
    print('hello')

IndentationError: ignored

In [136]:
if True:
    pass
else:
    print('hello') # pass로 block 유지하여 오류 없음

In [137]:
if True:
    '' # pass랑 비슷한 역할
else:
    print('hello') # pass로 block 유지하여 오류 없음

In [139]:
name = "김땡땡"

if name == "김땡땡":
  print("웰컴")

웰컴

In [142]:
if name = "김땡땡": # 할당, 동등연산자 구분 중요
    print("웰컴")

SyntaxError: ignored

In [143]:
if "김" in name:
    print("웰컴")

웰컴

## 삼항연산자 (조건부표현식)

In [145]:
a = None # 값은 없고 자리만 있음
b = True
if b:
    a = 10
else:
    a = 100
a

10

In [146]:
a = 10 if b else 100 # (True 값) if (조건식) else (False 값)
a

10

In [149]:
a = input()

if a == "콜라":
    print("콜라 드세요")
elif a == "사이다":
    print("사이다 드세요")
elif a == "환타":
    print("환타 드세요")

사이다
사이다 드세요

# 반복문

## for

In [151]:
for i in range(10): # range랑 같이 쓰면 정수 -> i
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [154]:
# range(n) : n회 반복
for i in "hello world": # range가 아닌 시퀀스 형태의 자료형 list -> value(v), string -> char(c)
    print(i) # 루프를 돈다

h
e
l
l
o

w
o
r
l
d

In [155]:
a = ["배", "사과", "바나나"]
for i in a:
    print(i)

배
사과
바나나

In [156]:
for i in reversed(a): # revese + ed : 뒤집혀서 새롭게 형성된 데이터
    print(i)

바나나
사과
배

In [159]:
a, list(reversed(a)), a[::-1]

(['배', '사과', '바나나'], ['바나나', '사과', '배'], ['바나나', '사과', '배'])

## while

In [160]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

```
for (i = 0; i < 10; i++) {
    ...
}
```

In [161]:
i = 0 # 초기식
while i < 10: # while 조건식
    print(i, end=" ") # ...
    i += 1 # 변화식

0 1 2 3 4 5 6 7 8 9

In [164]:
money = 10000
hit = 0
while money > 0:
    money -= 100
    hit += 1
    print(money, "원 남았습니다.", hit, "대 맞았습니다.")

9900 원 남았습니다. 1 대 맞았습니다.
9800 원 남았습니다. 2 대 맞았습니다.
9700 원 남았습니다. 3 대 맞았습니다.
9600 원 남았습니다. 4 대 맞았습니다.
9500 원 남았습니다. 5 대 맞았습니다.
9400 원 남았습니다. 6 대 맞았습니다.
9300 원 남았습니다. 7 대 맞았습니다.
9200 원 남았습니다. 8 대 맞았습니다.
9100 원 남았습니다. 9 대 맞았습니다.
9000 원 남았습니다. 10 대 맞았습니다.
8900 원 남았습니다. 11 대 맞았습니다.
8800 원 남았습니다. 12 대 맞았습니다.
8700 원 남았습니다. 13 대 맞았습니다.
8600 원 남았습니다. 14 대 맞았습니다.
8500 원 남았습니다. 15 대 맞았습니다.
8400 원 남았습니다. 16 대 맞았습니다.
8300 원 남았습니다. 17 대 맞았습니다.
8200 원 남았습니다. 18 대 맞았습니다.
8100 원 남았습니다. 19 대 맞았습니다.
8000 원 남았습니다. 20 대 맞았습니다.
7900 원 남았습니다. 21 대 맞았습니다.
7800 원 남았습니다. 22 대 맞았습니다.
7700 원 남았습니다. 23 대 맞았습니다.
7600 원 남았습니다. 24 대 맞았습니다.
7500 원 남았습니다. 25 대 맞았습니다.
7400 원 남았습니다. 26 대 맞았습니다.
7300 원 남았습니다. 27 대 맞았습니다.
7200 원 남았습니다. 28 대 맞았습니다.
7100 원 남았습니다. 29 대 맞았습니다.
7000 원 남았습니다. 30 대 맞았습니다.
6900 원 남았습니다. 31 대 맞았습니다.
6800 원 남았습니다. 32 대 맞았습니다.
6700 원 남았습니다. 33 대 맞았습니다.
6600 원 남았습니다. 34 대 맞았습니다.
6500 원 남았습니다. 35 대 맞았습니다.
6400 원 남았습니다. 36 대 맞았습니다.
6300 원 남았습니다. 37 대 맞았습니다.
6200 원 남았습니다. 38 대 맞았습니다.
6100 원 남았습니다. 39 대 맞았습니다.
6000 원 남았습니다. 40 대 맞았습니다.
5900 원 남았습니다. 41 대 맞았습니다.
5800 원 남았습니다. 42 대 맞았습니다.
5700 원 남았습니다. 43 대 맞았습니다.
5600 원 남았습니다. 44 대 맞았습니다.
5500 원 남았습니다. 45 대 맞았습니다.
5400 원 남았습니다. 46 대 맞았습니다.
5300 원 남았습니다. 47 대 맞았습니다.
5200 원 남았습니다. 48 대 맞았습니다.
5100 원 남았습니다. 49 대 맞았습니다.
5000 원 남았습니다. 50 대 맞았습니다.
4900 원 남았습니다. 51 대 맞았습니다.
4800 원 남았습니다. 52 대 맞았습니다.
4700 원 남았습니다. 53 대 맞았습니다.
4600 원 남았습니다. 54 대 맞았습니다.
4500 원 남았습니다. 55 대 맞았습니다.
4400 원 남았습니다. 56 대 맞았습니다.
4300 원 남았습니다. 57 대 맞았습니다.
4200 원 남았습니다. 58 대 맞았습니다.
4100 원 남았습니다. 59 대 맞았습니다.
4000 원 남았습니다. 60 대 맞았습니다.
3900 원 남았습니다. 61 대 맞았습니다.
3800 원 남았습니다. 62 대 맞았습니다.
3700 원 남았습니다. 63 대 맞았습니다.
3600 원 남았습니다. 64 대 맞았습니다.
3500 원 남았습니다. 65 대 맞았습니다.
3400 원 남았습니다. 66 대 맞았습니다.
3300 원 남았습니다. 67 대 맞았습니다.
3200 원 남았습니다. 68 대 맞았습니다.
3100 원 남았습니다. 69 대 맞았습니다.
3000 원 남았습니다. 70 대 맞았습니다.
2900 원 남았습니다. 71 대 맞았습니다.
2800 원 남았습니다. 72 대 맞았습니다.
2700 원 남았습니다. 73 대 맞았습니다.
2600 원 남았습니다. 74 대 맞았습니다.
2500 원 남았습니다. 75 대 맞았습니다.
2400 원 남았습니다. 76 대 맞았습니다.
2300 원 남았습니다. 77 대 맞았습니다.
2200 원 남았습니다. 78 대 맞았습니다.
2100 원 남았습니다. 79 대 맞았습니다.
2000 원 남았습니다. 80 대 맞았습니다.
1900 원 남았습니다. 81 대 맞았습니다.
1800 원 남았습니다. 82 대 맞았습니다.
1700 원 남았습니다. 83 대 맞았습니다.
1600 원 남았습니다. 84 대 맞았습니다.
1500 원 남았습니다. 85 대 맞았습니다.
1400 원 남았습니다. 86 대 맞았습니다.
1300 원 남았습니다. 87 대 맞았습니다.
1200 원 남았습니다. 88 대 맞았습니다.
1100 원 남았습니다. 89 대 맞았습니다.
1000 원 남았습니다. 90 대 맞았습니다.
900 원 남았습니다. 91 대 맞았습니다.
800 원 남았습니다. 92 대 맞았습니다.
700 원 남았습니다. 93 대 맞았습니다.
600 원 남았습니다. 94 대 맞았습니다.
500 원 남았습니다. 95 대 맞았습니다.
400 원 남았습니다. 96 대 맞았습니다.
300 원 남았습니다. 97 대 맞았습니다.
200 원 남았습니다. 98 대 맞았습니다.
100 원 남았습니다. 99 대 맞았습니다.
0 원 남았습니다. 100 대 맞았습니다.

## break, continue

In [165]:
for i in range(1000):
    print(i, i ** 2)
    if i ** 2 > 1000:
        break

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400
21 441
22 484
23 529
24 576
25 625
26 676
27 729
28 784
29 841
30 900
31 961
32 1024

In [169]:
for i in range(1, 100):
    if i % 2 == 0: # 짝수
        continue
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [170]:
for i in range(1, 100):
    if i % 3 != 0: # 3의 배수가 아닌 것들을 필터링
        continue
    print(i, end=" ")

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [171]:
i = 0
while True:
    i += 1
    print(i)
    if i > 10:
        break

1
2
3
4
5
6
7
8
9
10
11

In [173]:
money = 10000
hit = 0
while money > 0:
    money -= 100
    print(money, "원 남았습니다.")
    if money % 1000 == 0:
        print("피했습니다")
        continue
    hit += 1
    print(hit, "대 맞았습니다.")

9900 원 남았습니다.
1 대 맞았습니다.
9800 원 남았습니다.
2 대 맞았습니다.
9700 원 남았습니다.
3 대 맞았습니다.
9600 원 남았습니다.
4 대 맞았습니다.
9500 원 남았습니다.
5 대 맞았습니다.
9400 원 남았습니다.
6 대 맞았습니다.
9300 원 남았습니다.
7 대 맞았습니다.
9200 원 남았습니다.
8 대 맞았습니다.
9100 원 남았습니다.
9 대 맞았습니다.
9000 원 남았습니다.
피했습니다
8900 원 남았습니다.
10 대 맞았습니다.
8800 원 남았습니다.
11 대 맞았습니다.
8700 원 남았습니다.
12 대 맞았습니다.
8600 원 남았습니다.
13 대 맞았습니다.
8500 원 남았습니다.
14 대 맞았습니다.
8400 원 남았습니다.
15 대 맞았습니다.
8300 원 남았습니다.
16 대 맞았습니다.
8200 원 남았습니다.
17 대 맞았습니다.
8100 원 남았습니다.
18 대 맞았습니다.
8000 원 남았습니다.
피했습니다
7900 원 남았습니다.
19 대 맞았습니다.
7800 원 남았습니다.
20 대 맞았습니다.
7700 원 남았습니다.
21 대 맞았습니다.
7600 원 남았습니다.
22 대 맞았습니다.
7500 원 남았습니다.
23 대 맞았습니다.
7400 원 남았습니다.
24 대 맞았습니다.
7300 원 남았습니다.
25 대 맞았습니다.
7200 원 남았습니다.
26 대 맞았습니다.
7100 원 남았습니다.
27 대 맞았습니다.
7000 원 남았습니다.
피했습니다
6900 원 남았습니다.
28 대 맞았습니다.
6800 원 남았습니다.
29 대 맞았습니다.
6700 원 남았습니다.
30 대 맞았습니다.
6600 원 남았습니다.
31 대 맞았습니다.
6500 원 남았습니다.
32 대 맞았습니다.
6400 원 남았습니다.
33 대 맞았습니다.
6300 원 남았습니다.
34 대 맞았습니다.
6200 원 남았습니다.
35 대 맞았습니다.
6100 원 남았습니다.
36 대 맞았습니다.
6000 원 남았습니다.
피했습니다
5900 원 남았습니다.
37 대 맞았습니다.
5800 원 남았습니다.
38 대 맞았습니다.
5700 원 남았습니다.
39 대 맞았습니다.
5600 원 남았습니다.
40 대 맞았습니다.
5500 원 남았습니다.
41 대 맞았습니다.
5400 원 남았습니다.
42 대 맞았습니다.
5300 원 남았습니다.
43 대 맞았습니다.
5200 원 남았습니다.
44 대 맞았습니다.
5100 원 남았습니다.
45 대 맞았습니다.
5000 원 남았습니다.
피했습니다
4900 원 남았습니다.
46 대 맞았습니다.
4800 원 남았습니다.
47 대 맞았습니다.
4700 원 남았습니다.
48 대 맞았습니다.
4600 원 남았습니다.
49 대 맞았습니다.
4500 원 남았습니다.
50 대 맞았습니다.
4400 원 남았습니다.
51 대 맞았습니다.
4300 원 남았습니다.
52 대 맞았습니다.
4200 원 남았습니다.
53 대 맞았습니다.
4100 원 남았습니다.
54 대 맞았습니다.
4000 원 남았습니다.
피했습니다
3900 원 남았습니다.
55 대 맞았습니다.
3800 원 남았습니다.
56 대 맞았습니다.
3700 원 남았습니다.
57 대 맞았습니다.
3600 원 남았습니다.
58 대 맞았습니다.
3500 원 남았습니다.
59 대 맞았습니다.
3400 원 남았습니다.
60 대 맞았습니다.
3300 원 남았습니다.
61 대 맞았습니다.
3200 원 남았습니다.
62 대 맞았습니다.
3100 원 남았습니다.
63 대 맞았습니다.
3000 원 남았습니다.
피했습니다
2900 원 남았습니다.
64 대 맞았습니다.
2800 원 남았습니다.
65 대 맞았습니다.
2700 원 남았습니다.
66 대 맞았습니다.
2600 원 남았습니다.
67 대 맞았습니다.
2500 원 남았습니다.
68 대 맞았습니다.
2400 원 남았습니다.
69 대 맞았습니다.
2300 원 남았습니다.
70 대 맞았습니다.
2200 원 남았습니다.
71 대 맞았습니다.
2100 원 남았습니다.
72 대 맞았습니다.
2000 원 남았습니다.
피했습니다
1900 원 남았습니다.
73 대 맞았습니다.
1800 원 남았습니다.
74 대 맞았습니다.
1700 원 남았습니다.
75 대 맞았습니다.
1600 원 남았습니다.
76 대 맞았습니다.
1500 원 남았습니다.
77 대 맞았습니다.
1400 원 남았습니다.
78 대 맞았습니다.
1300 원 남았습니다.
79 대 맞았습니다.
1200 원 남았습니다.
80 대 맞았습니다.
1100 원 남았습니다.
81 대 맞았습니다.
1000 원 남았습니다.
피했습니다
900 원 남았습니다.
82 대 맞았습니다.
800 원 남았습니다.
83 대 맞았습니다.
700 원 남았습니다.
84 대 맞았습니다.
600 원 남았습니다.
85 대 맞았습니다.
500 원 남았습니다.
86 대 맞았습니다.
400 원 남았습니다.
87 대 맞았습니다.
300 원 남았습니다.
88 대 맞았습니다.
200 원 남았습니다.
89 대 맞았습니다.
100 원 남았습니다.
90 대 맞았습니다.
0 원 남았습니다.
피했습니다